{% extends "_layout.twig" %}

{% set breadcrumbs = [
    entry,
] %}

{% block content %}
    <div class="section section--default">
        <div class="container">
            <div class="grid">
                <div class="grid__12 grid__8@med">
                    {% include '_snippet/_content/_pageTitle' %}
                    {% include '_snippet/_content/_intro' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}