{% extends "_layout.twig" %}

{% block content %}
    <div class="section section--default">
        <div class="container">
            <div class="grid__12 grid__8@lrg">
                {% include '_snippet/_content/_pageTitle.twig' %}
                {% include '_snippet/_content/_intro.twig' %}
            </div>
        </div>
    </div>
{% endblock %}