{% extends "_layout.twig" %}

{% block content %}
    <div class="section section--default">
        <div class="container">
            <div class="flex flex-wrap">
                <div class="w-full md:w-3/4">
                    {% include '_snippet/_content/_pageTitle.twig' %}
                    {% include '_snippet/_content/_intro.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}