{% extends "_layout.twig" %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    <div class="section section--default">
        <div class="container">
            <div class="grid__12 grid__8@lrg">
                <div class="grid__12 grid__8@med">
                    {% include '_snippet/_content/_pageTitle.twig' %}
                    {% include '_snippet/_content/_intro.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}