{% extends '_layout' %}

{% block content %}
    <div class="section section--default">
        <div class="container">
            <div class="grid flex flex-justify-center">
                <div class="grid__12 grid__8@sml">
                    {% include '_snippet/_content/_pageTitle' %}
                    <div>{{ entry.postDate|date('d.m.Y'|t) }}</div>
                    {% include '_snippet/_content/_intro' %}
                    <div class="spacer">
                        {% include '_snippet/_content/_contentBuilder' %}
                    </div>
                    <div class="spacer">
                        {% include '_snippet/_content/_socialShare' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}