{% extends '_layout' %}

{% set breadcrumbs = [
    craft.entries.section('newsOverview').one(),
    entry,
] %}

{% block content %}
    <div class="section section--default">
        <div class="container">
            <div class="flex justify-center">
                <div class="max-w-3xl">
                    {% include '_snippet/_content/_pageTitle' %}

                    <div class="text-sm font-semibold text-gray-700 mb-5">{{ entry.postDate|date('d.m.Y'|t) }}</div>

                    {% include '_snippet/_content/_intro' %}

                    <div class="mt-8">
                        {% include '_snippet/_content/_contentBuilder' %}
                    </div>
                    
                    <div class="mt-8">
                        {% include '_snippet/_content/_socialShare' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}