{% extends "_layout" %}

{% set breadcrumbs = [
    entry,
] %}

{% block content %}

	<div class="section section--default">
		<div class="container">
			{% include '_snippet/_content/_pageTitle' %}
			{% include '_snippet/_content/_intro' %}
		</div>
	</div>

	{% set entries = craft.entries.section('news').with(['overviewImage']).orderBy('postDate DESC') %}
	{% paginate entries.limit(1) as pageInfo, news %}

		<div class="section section--default">
			<div class="container">
				<div class="flex flex-wrap -mx-4">
					{% for cardEntry in news %}
						{% include '_snippet/_item/_card' %}
					{% endfor %}
				</div>

				{# Zie CHANGELOG.md voor de nieuwe paginatie #}
				{{ craft.statik.paginate(pageInfo, {
                pageRange: 2, 
                prevText: '«',
                nextText: '»'
            }) }}

			</div>
		</div>
	{% endblock %}
