$btn-height: 48px;
$btn-font-size: 16px;
$btn-line-height: 1.5;
$btn-border-width: 2px;
$btn-padding-h: 1em;
$btn-padding-v: ($btn-height - ($btn-font-size * $btn-line-height) - (2 * $btn-border-width)) / $btn-font-size * 0.5em;

.btn {

  @include button-variant($white, $color-primary, $color-primary);
  @include transitions(background border color);

  display: inline-block;
  padding: $btn-padding-v $btn-padding-h;
  border-style: solid;
  border-width: $btn-border-width;
  font-weight: $font-weight-bold;
  line-height: $btn-line-height;
  text-decoration: none;
  border-radius: 4px;

  &__icon {
    display: inline-block;
    vertical-align: bottom;

    &:before {
      display: block;
    }
  }

  &--ghost {
    @include button-variant($color-primary $white, transparent $color-primary, $color-primary $color-primary);
  }

  &--ext {
    &:after {
      @extend %ext-icon;
      @extend %ext-icon-arrow-right;
      margin-left: $rh-xxs;
      vertical-align: bottom;
    }
  }

  &--download {
    &:after {
      @extend %ext-icon;
      @extend %ext-icon-download;
      margin-left: $rh-xxs;
      vertical-align: bottom;
    }
  }

  &:active,
  &.active {
    outline: 0;
  }

  // Disabled
  &--disabled,
  &[disabled] {
    opacity: 0.65;
    cursor: not-allowed;
  }

  &--link {
    @include fsRem($font-size-base);
    display: inline-block;
    background: none;
    border-width: $btn-border-width;
    border-color: transparent;
    color: $color-link;
    padding-left: 0;
    padding-right: 0;
    line-height: lh($line-height-base);
    text-transform: none;
    text-decoration: underline;

    &:visited {
      color: $color-link-visited;
    }

    &:hover {
      color: $color-link-hover;
      background: none;
      text-decoration: none;
      border-color: transparent;
    }
  }

  &--lrg {
    @include fsRem(20px);
  }

  &--sml {
    @include fsRem(12px);
  }

  &--block {
    display: block;
    width: 100%;
  }

  // // Modifiers
  // @each $type, $color in $notice-colors {
  //   &--#{$type} {
  //     @include button-variant($white, hsl(hue($color), 50%, 60%), hsl(hue($color), 50%, 50%));
  //   }
  // }
}

