// Grid
// ----
//
// columns          - The total amount of columns
// gutter           - The amount of space between two columns
// container-*      - The total width of the container for large / medium / small
$grid-gutter-width: $rh-sml !default;
$grid-column-count: 12 !default;
$grid-container-width: 1200px !default;

$grids: (2, 3, 4) !default;
$grid-columns: (4, 6, 8) !default;
$grid-order: () !default;
$grid-columns-push: () !default;
$grid-rhythm: $rh-sml !default;

.container {
  @include container-fluid;
  max-width: $grid-container-width;
  &--relative {
    position: relative;
  }
  &--fluid {
    @include container-fluid;
  }
}

.grid {
  @include make-row;
  display: flex;
  flex-wrap: wrap;
  > * {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    min-height: 1px;
    width: 100%;
    margin-top: $grid-rhythm;
    padding-left: ($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);
  }
}

.grid--reverse {
  display: flex;
  flex-direction: row-reverse;
}

.grid__0 {
  display: none;
}
.grid__12 {
  display: block;
}

//== Standard repeating grid
//-------------
//
// Creates all the breakpoint grid classes
// Examples: .grid--2-col
@each $bp, $px in $breakpoints {
  .grid {
    @each $column in $grids {
      &--#{$column}-col {
        > .grid__item {
          @include make-repeating-column($column);
          min-height: 1px;
        }
      }
    }
  }
}

// changes flexbox item order
// Example: .grid__order-2@med
@each $order in $grid-order {

  .grid__order-#{$order} {
    @include change-order($order);
  }

  @each $bp, $px in $breakpoints {
    @include breakpoint($bp) {
      .grid__order-#{$order}\@#{$bp} {
        @include change-order($order);
      }
    }
  }
}

// Creates all the grid item classes
// Example: .grid__6
@each $column in $grid-columns {
  .grid__#{$column} {
    @include make-column($column);
  }
}

// Creates all the breakpoint grid classes
// Examples: .grid--2-col@med, .grid--3-col@lrg
@each $bp, $px in $breakpoints {
  @include breakpoint($bp) {
    .grid {
      @each $column in $grids {
        &--#{$column}-col\@#{$bp} {
          > .grid__item {
            @include make-repeating-column($column);
          }
        }
      }
    }
  }
}

// Creates all the breakpoint grid ITEM classes
// Example: .grid__8@med
@each $bp, $px in $breakpoints {
  @include breakpoint($bp) {
    .grid {
      @each $column in $grid-columns {
        &__#{$column}\@#{$bp} {
          @include make-column($column);
        }
      }
    }
  }
}

// Creates all the offset class
// Example: .grid__offset-2@med
@each $bp, $px in $breakpoints {
  @include breakpoint($bp) {
    .grid__offset {
      @each $column in $grid-columns {
        &-#{$column}\@#{$bp} {
          @include make-column-push($column);
        }
      }
    }
  }
}
