// Tables
//
th {
  text-align: left;
}

// basic styles
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $line-height-base;
  border-spacing: 0;

  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: 8px 5px;
        line-height: $line-height-base;
        vertical-align: top;
        border-top: 1px solid $gray-0;
      }
    }
  }

  // Bottom align for column headings
  > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid $gray-25;
  }

  // Remove top border from thead by default
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }

  // Account for multiple tbody instances
  > tbody + tbody {
    border-top: 2px solid $gray-25;
  }

  // Nesting
  table {
    background-color: $color-background;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

// Zebra-striping
.table--striped {
  > tbody > tr:nth-child(odd) {
    > td,
    > th {
      background-color: $gray-0;
    }
  }

  > tbody > tr > td {
      border-top: 0;
  }
}
