//== Colors
//---------
//
$gray-100: #2e2e2e !default;
$gray-75: #494949 !default;
$gray-50: #666 !default;
$gray-25: #b7b7b7 !default;
$gray-0: #f5f5f5 !default;

$black: #111 !default;
$white: #fff !default;

// Brand colors
$color-primary: #3c76ab !default;

// Status colors
$notice-colors: (
  success: #2ecc71,
  info: #3498db,
  warning: #f2ca27,
  danger: #e74c3c
);

// Base color definitions
$color-background: #fff !default;
$color-text: $gray-75 !default;

// Link color
$color-link: $color-primary !default;
$color-link-hover: darken($color-link, 15%) !default;
$color-link-visited: darken($color-link, 5%) !default;

//== Typography
//-------------
//
// Font, line-height, and color for body text, headings, and more.
$font-family-sans: 'Open Sans', sans-serif !default;
$font-family-serif: serif !default;
$font-family-monospace: monospace !default;
$font-family-base: $font-family-sans !default;

$font-size-root: 16px !default;
$font-size-xxl: 36px !default;
$font-size-xlr: 28px !default;
$font-size-lrg: 22px !default;
$font-size-med: 16px !default;
$font-size-sml: 14px !default;
$font-size-xsm: 12px !default;

$font-size-base: $font-size-med !default;

$headings: h1, h2, h3, h4, h5, h6;

$font-size-h1: 40px !default;
$font-size-h2: 28px !default;
$font-size-h3: 20px !default;
$font-size-h4: $font-size-med !default;
$font-size-h5: 14px !default;

$font-weight-thin: 100 !default;
$font-weight-light: 300 !default;
$font-weight-regular: 400 !default;
$font-weight-semi-bold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-extra-bold: 800 !default;
$font-weight-base: $font-weight-regular !default;

$line-height-base: 24px !default;
$line-height-sml: 1.2 !default;

$letter-spacing-base: .15em;
$letter-spacing-xsm: .05em;
$letter-spacing-sml: .1em;
$letter-spacing-med: $letter-spacing-base;
$letter-spacing-lrg: .25em;

// Layers
// ------
//
// For the z-index
$zindex-layer-1: 10;
$zindex-layer-2: 20;
$zindex-layer-3: 30;
$zindex-layer-4: 40;
$zindex-layer-5: 2050;

// Breakpoints
// -----------
//
$breakpointsMap: (
  xxs: 320px,
  xsm: 440px,
  sml: 660px,
  med: 820px,
  lrg: 980px,
  xlr: 1200px
);

$breakpoint-flyout: map-get($breakpointsMap, med);
$breakpoints-flyout: (
  flyout: $breakpoint-flyout
);

$breakpoints: map-merge($breakpointsMap, $breakpoints-flyout);

// Rhythm
// -----------
//
$rh-xxs: $line-height-base * .25;
$rh-xsm: $line-height-base * .5;
$rh-sml: $line-height-base;
$rh-med: $line-height-base * 1.5;
$rh-lrg: $line-height-base * 2;
$rh-xlr: $line-height-base * 2.5;

$rhythm: (
  xxs: $rh-xxs,
  xsm: $rh-xsm,
  sml: $rh-sml,
  med: $rh-med,
  lrg: $rh-lrg,
  xlr: $rh-xlr
);

// Transitions
// -----------
//
$transition-duration-base: 100ms;
$transition-easing-base: ease-in-out;

// Border radius
// -------------
//
$border-radius-sml: 2px;
$border-radius-med: 3px;
$border-radius-lrg: 5px;
