<div class="invisible flyout" id="flyout">
	<div class="container">
		<div class="absolute top-0 right-0 mt-4 mr-4">
			<a href="#" class="text-2xl cursor-pointer js-flyout-close" tabindex="0" role="button">
				<svg class="icon" aria-hidden="true">
					<use xlink:href="/icon/sprite.svg#clear"></use>
				</svg>
				<span class="sr-only">{{ 'Sluiten'|t }}</span>
			</a>
		</div>
		<div class="mt-12">
			{% include '_snippet/_nav/_flyout' %}
		</div>
	</div>
</div>
<div class="flyout__overlay js-flyout-close"></div>
