<div class="flyout hidden" id="flyout">
    <div class="container">
        <div class="u-float-right">
            <span class="flyout__close u-pointer">
                <i class="icon icon--clear" aria-hidden="true"></i>
                <span class="sr-only">{{ 'Sluiten'|t }}</span>
            </span>
        </div>
        <div class="flyout__content">
            {% include '_snippet/_nav/_flyout' %}
        </div>
    </div>
</div>
<div class="overlay"></div>