<header class="page-header flex items-center justify-between flex-wrap border-gray-400 border-b-2 py-6" role="banner">
    <div class="container mx-auto">
        <a href="{{ siteUrl }}" class="page-header__logo">
            <img src="{{ baseUrl }}/img/logo.png" alt="Logo {{ systemName }}">
        </a>
        <div class="nav-wrapper nav-wrapper-1 u-show@flyout text-right">
            {% include '_snippet/_nav/_service' %}
            {% include '_snippet/_nav/_language' %}
        </div>
        <div class="nav-wrapper nav-wrapper-2 u-show@flyout">
            {% include '_snippet/_nav/_main' %}
        </div>
        <a href="#flyout" class="js-flyout-toggle float-right hidden" role="button">Menu <span class="lines"></span></a>
    </div>
</header>