@reference '../main.css';

@layer components {
  .autocomplete {
    position: relative;

    /* Nested to win from the generic form element styles in form.css */
    .autocomplete__select {
      display: flex;
      padding: 0;
    }
  }

  .autocomplete__input-wrapper {
    display: flex;
    flex: 1 1 0%;
    flex-wrap: wrap;
    align-items: center;
    gap: --spacing(2);
    width: 1px;
    padding: --spacing(2);

    &.has-placeholder {
      flex-wrap: nowrap;
    }
  }

  .autocomplete__placeholder {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: 0.25;
  }

  .autocomplete__input {
    background-color: transparent;
    border: none;

    &:focus {
      border: none;
      outline: none;
      box-shadow: none;
    }
  }

  .autocomplete__dropdown-icon {
    display: flex;
    align-items: center;
    padding-inline: --spacing(2);
    color: --theme(--color-black);

    &::after {
      display: block;
      flex-shrink: 0;
      width: 1.5em;
      height: 1.5em;
      content: '';
      background-color: currentColor;
      mask-image: url('/icons/chevron-down.svg');
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: contain;
    }
  }

  .autocomplete__list {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    min-width: 100%;
    max-height: 12em;
    overflow-y: scroll;
    background-color: --theme(--color-white);
    box-shadow: --theme(--shadow-xl);
  }

  .autocomplete__option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: --spacing(1) --spacing(2);
    cursor: pointer;

    &::after {
      display: none;
      flex-shrink: 0;
      width: 1em;
      height: 1em;
      content: '';
      color: --theme(--color-black);
      background-color: currentColor;
      mask-image: url('/icons/check.svg');
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: contain;
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }

    &:hover {
      color: --theme(--color-primary-contrast);
      background-color: --theme(--color-primary);

      &::after {
        background-color: --theme(--color-primary-contrast);
      }
    }

    &[aria-selected='true'] {
      color: --theme(--color-gray-500);

      &::after {
        display: block;
      }
    }

    &.highlight {
      color: --theme(--color-primary-contrast);
      background-color: --theme(--color-primary);

      &::after {
        background-color: --theme(--color-primary-contrast);
      }
    }
  }

  .autocomplete__selection {
    display: flex;
    overflow: hidden;
    color: --theme(--color-primary-contrast);
    background-color: --theme(--color-primary);
    border-radius: --theme(--radius-sm);
  }

  .autocomplete__selection-text {
    padding-inline: --spacing(2);
  }

  .autocomplete__selection-close {
    padding-inline: --spacing(1);
    border-left: 1px solid --theme(--color-white);
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: --theme(--color-primary-700);
    }

    &::after {
      display: block;
      flex-shrink: 0;
      width: 1em;
      height: 1em;
      content: '';
      background-color: currentColor;
      mask-image: url('/icons/clear.svg');
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: contain;
    }
  }
}
