.btn {
  display: inline-flex;
  align-items: center;
  padding: var(--spacing-button-y) var(--spacing-button-x);
  line-height: 1;
  border-radius: var(--radius-sm);
  border-width: var(--spacing-button-border);

  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;

  &::after {
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
  }
}

.btn--ext {
  &::after {
    flex-shrink: 0;
    margin-left: var(--spacing-button-icon);
    @apply inline-icon;
    mask-image: var(--button-ext-icon);
  }
}

.btn--ext:hover::after,
.group:hover .btn--ext::after {
  transform: translateX(50%);
}

.btn--primary {
  color: var(--color-button-primary-text);
  background-color: var(--color-button-primary-bg);
  border-color: var(--color-button-primary-border);
  text-decoration: none;

  &:hover,
  .group:hover & {
    color: var(--color-button-primary-hover-text);
    background-color: var(--color-button-primary-hover-bg);
    border-color: var(--color-button-primary-hover-border);
  }

  &.inverse {
    color: var(--color-button-primary-inverse-text);
    background-color: var(--color-button-primary-inverse-bg);
    border-color: var(--color-button-primary-inverse-border);

    &:hover,
    .group:hover & {
      background-color: var(--color-button-primary-inverse-hover-bg);
      border-color: var(--color-button-primary-inverse-hover-border);
      color: var(--color-button-primary-inverse-hover-text);
    }
  }
}

.btn--secondary {
  color: var(--color-button-secondary-text);
  background-color: var(--color-button-secondary-bg);
  border-color: var(--color-button-secondary-border);
  text-decoration: none;

  &:hover,
  .group:hover & {
    color: var(--color-button-secondary-hover-text);
    background-color: var(--color-button-secondary-hover-bg);
    border-color: var(--color-button-secondary-hover-border);
  }

  &.inverse {
    color: var(--color-button-secondary-inverse-text);
    background-color: var(--color-button-secondary-inverse-bg);
    border-color: var(--color-button-secondary-inverse-border);

    &:hover,
    .group:hover & {
      color: var(--color-button-secondary-inverse-hover-text);
      background-color: var(--color-button-secondary-inverse-hover-bg);
      border-color: var(--color-button-secondary-inverse-hover-border);
    }
  }
}

.btn--ghost {
  color: var(--color-button-ghost-text);
  background-color: var(--color-button-ghost-bg);
  border-color: var(--color-button-ghost-border);
  text-decoration: none;

  &:hover,
  .group:hover & {
    color: var(--color-button-ghost-hover-text);
    background-color: var(--color-button-ghost-hover-bg);
    border-color: var(--color-button-ghost-hover-border);
  }

  &.inverse {
    color: var(--color-button-ghost-inverse-text);
    background-color: var(--color-button-ghost-inverse-bg);
    border-color: var(--color-button-ghost-inverse-border);
    text-decoration: none;

    &:hover,
    .group:hover & {
      background-color: var(--color-button-ghost-inverse-hover-bg);
      border-color: var(--color-button-ghost-inverse-hover-border);
      color: var(--color-button-ghost-inverse-hover-text);
    }
  }
}
