.filter-btn {
  label {
    cursor: pointer;
  }

  .icon {
    display: none;
  }

  input:checked ~ label {
    color: var(--color-white);
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    text-decoration: none;

    .icon {
      display: block;
    }
  }
}
