.flyout-active {
  height: 100vh;
  overflow: hidden;

  .flyout {
    transform: translateX(0%);
  }

  .flyout__overlay {
    display: block;
    transition: opacity 300ms ease-in-out;
    opacity: 1;
    pointer-events: auto;
  }
}

.flyout {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 50;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  transition: transform 200ms ease-in-out;
  background-color: var(--color-white);
  max-width: var(--max-width-flyout);
  transform: translateX(100%);
}

.flyout__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 40;
  transition: opacity 300ms ease-in-out;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}
