.link {
  display: inline-flex;
  text-decoration: underline;
  text-decoration-color: currentColor;
  color: var(--color-primary);

  &:hover,
  .group:hover & {
    text-decoration-color: transparent;
  }

  @supports (background: paint(something)) {
    text-decoration: underline 0.05em currentColor;
    transition: text-decoration-color 200ms;
  }
}

.link--ext {
  align-items: center;
  &::after {
    margin-left: --spacing(1);
    @apply inline-icon;
    mask-image: url('/icons/chevron-right.svg');
    transition: transform 200ms ease-in-out;
  }
}

.link--ext:hover::after,
.group:hover .link--ext::after {
  transform: translateX(25%);
}

.link--extended::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
