@reference '../main.css';

@layer components {
  .strength-indicator__wrapper {
    position: relative;
    height: --spacing(2);
    margin-block: --spacing(1);
    border: 1px solid --alpha(--theme(--color-black) / 20%);
    border-radius: --theme(--radius-sm);
  }

  .strength-indicator {
    width: 0;
    height: 100%;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: --theme(--ease-in-out);
  }

  .strength-indicator--very-weak {
    background-color: --theme(--color-red-200);
  }

  .strength-indicator--weak {
    background-color: --theme(--color-red-500);
  }

  .strength-indicator--medium {
    background-color: --theme(--color-orange-500);
  }

  .strength-indicator--strong {
    background-color: --theme(--color-yellow-500);
  }

  .strength-indicator--very-strong {
    background-color: --theme(--color-green-500);
  }

  .strength-indicator__text {
    font-size: --theme(--text-xs);
    line-height: --theme(--text-xs--line-height);
    color: --alpha(--theme(--color-black) / 50%);
  }
}
