#searchForm {
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-100%);
  transition: visibility 0s 0.4s, opacity 0.4s ease-out, transform 0.4s ease-out;

  &.search-show {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0%);
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
  }
}

#searchHide {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0%);
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;

  &.search-hide {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-100%);
    transition: visibility 0s 0.4s, opacity 0.4s ease-out, transform 0.4s ease-out;
  }
}
