#searchForm {
  visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: --spacing(8);
  display: flex;
  overflow: clip;
  border-radius: calc(infinity * 1px);
  pointer-events: none;
  background-color: var(--color-white);
  transition: visibility 0s 300ms linear;

  > div {
    padding: --spacing(1) --spacing(1) --spacing(1) --spacing(4);
  }

  input {
    padding: 0;
    font-size: var(--text-base);
    border: 1px solid --alpha(var(--color-black) / 50%);
    transition: width 300ms ease-in-out;
    width: 0px;
  }

  button[type='submit'],
  button[data-search-close] {
    transition:
      transform 300ms ease-in-out,
      color 300ms ease-in-out;
    transform: translateX(100%);
  }

  &.search-show {
    transition: visibility 0s 0s linear;
    visibility: visible;
    pointer-events: auto;

    input {
      transition: width 300ms ease-in-out;
      width: 400px;
    }

    button[type='submit'],
    button[data-search-close] {
      transition: transform 300ms ease-in-out;
      transform: translateX(0);
    }
  }
}

#searchHide {
  transition: opacity 300ms ease-in-out;

  &.search-hide {
    opacity: 0;
    pointer-events: none;
  }
}
