/* Add site specific code here */

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  20% {
    opacity: 1;
  }
}
.scroll-ani {
  animation: fadein linear both;
  animation-timeline: view(block 90% 10%);
}

@keyframes progressbar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes changeColor {
  0% {
    color: #000000;
  }
  20% {
    color: #ff0000;
  }
  80% {
    color: #00ff00;
  }
  100% {
    color: #000000;
  }
}
#progress.parallax {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 10px;
  background-color: #6664cf;
  animation: progressbar linear both;
  animation-timeline: scroll();
}
.change-color {
  animation: changeColor linear both;
  animation-timeline: view(block 20% 20%);
}
