.custom-table .table {
  width: 100%;
}
.custom-table table {
  display: block;
  width: 100%;
  border: var(--border-custom-table);

  th {
    padding: var(--spacing-custom-table-y) var(--spacing-custom-table-x);
    text-align: left;
    vertical-align: top;
    color: var(--color-custom-table-heading);
    background-color: var(--color-custom-table-heading-bg);
    border: var(--border-custom-table-heading);
  }

  tr {
    display: block;
    border-bottom: 2px solid var(--color-custom-table-text);
  }
  tr:last-child {
    border: 0 none;
  }

  td {
    display: block;
    padding: 0;
    overflow-wrap: break-word;
    border-bottom: var(--border-custom-table-row);
    hyphens: auto;

    div {
      padding: var(--spacing-custom-table-y) var(--spacing-custom-table-x);
    }
  }
  td::before {
    content: attr(data-label);
    display: block;
    font-weight: bold;
    width: 100%;
    padding: var(--spacing-custom-table-y) var(--spacing-custom-table-x);
    color: var(--color-custom-table-heading);
    background-color: var(--color-custom-table-heading-bg);
  }

  thead {
    display: none;
  }
  tbody {
    display: block;

    th {
      display: block;
      width: 100%;
      text-align: center;
    }
  }
}

@media (width >= theme(--breakpoint-sm)) {
  .custom-table table,
  .custom-table table tbody {
    display: block;
  }

  .custom-table table tbody th {
    display: table-caption;
    text-align: center;
  }

  .custom-table table tr {
    display: table;
    width: 100%;
  }
  .custom-table table td {
    display: table-row;
  }

  .custom-table table td div,
  .custom-table table td::before {
    display: table-cell;
    width: auto;
  }
  .custom-table table td div {
    width: 50%;
  }
}

@media (width >= theme(--breakpoint-md)) {
  .custom-table table {
    display: table;
    overflow: visible;
  }

  .custom-table table td {
    display: table-cell;
  }

  .custom-table table tr {
    border: 0 none;
    display: table-row;
  }

  .custom-table table thead {
    display: table-header-group;
  }

  .custom-table table tbody {
    display: table-row-group;
  }

  .custom-table table tbody th {
    display: table-cell;
    text-align: left;
    width: auto;
  }

  .custom-table table th::before,
  .custom-table table td::before {
    display: none;
  }

  .custom-table table tr:last-child td {
    border: 0 none;
  }
}
