.video-toggle__container {
  position: relative;
}
.video-toggle__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.video-toggle__close {
  &::after {
    @apply inline-icon;
    mask-image: url('/frontend/icons/clear.svg');
  }
  position: absolute;
  top: 0;
  right: 0;
  padding: --spacing(2);
  background-color: var(--color-white);
}
