/.env
/.idea
/vendor
.DS_Store
/public/files/*
/public/imager/*
/node_modules/*
/public/mix-manifest.json
/public/css/*
/public/docs/*
/public/fonts/*
/public/img/*
/public/js/*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/storage/config-backups
/storage/composer-backups
/templates/_snippet/_global/_header-assets.twig
/templates/_snippet/_global/_footer-assets.twig
