/.env
/.idea
/vendor
.DS_Store
/public/files/*
/public/imager/*
/node_modules/*
/public/mix-manifest.json
/public/css/*
/public/docs/*
/public/fonts/*
/public/icon/*
/public/img/*
/public/js/*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.crt
*.key
*.pem
/storage/config-backups
/storage/composer-backups
templates/_site/_snippet/_global/_headerAssets.twig
templates/_site/_snippet/_global/_iconSprite.twig
templates/_site/_snippet/_global/_favicon.twig
public/frontend*/*
/translations
