image: statikbe/bitbucket-php82:latest

pipelines:
  branches:
    develop:
      - step:
          name: Deploy to staging
          deployment: staging
          caches:
            - composer
          script:
            # Install composer dependencies
            - composer install --verbose --prefer-dist --no-progress --no-interaction --no-dev --optimize-autoloader
            # build frontend
            - sh ./bitbucket_pipelines_build_frontend.sh
            # Deploy to staging
            - dep deploy staging -vv
    main:
      - step:
          name: Deploy to live
          deployment: production
          caches:
            - composer
          script:
            # Install composer dependencies
            - composer install --verbose --prefer-dist --no-progress --no-interaction --no-dev --optimize-autoloader
            # build frontend
            - sh ./bitbucket_pipelines_build_frontend.sh
            # Deploy to production
            - dep deploy production -vv
