// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($colorList, $backgroundList, $borderList: null) {
  // Define colors
  $color: nth($colorList, 1);
  $color-hover: $color !default;

  @if (length($colorList) > 1) {
    $color-hover: nth($colorList, 2);
  }

  // Define backgrounds
  $background: nth($backgroundList, 1);
  $background-hover: shade($background, 10%) !default;

  @if (length($backgroundList) > 1) {
    $background-hover: nth($backgroundList, 2);
  }

  // Define borders
  $border: null;
  $border-hover: null;

  @if ($borderList) {
    $border: nth($borderList, 1);
    $border-hover: shade($border, 10%) !default;
    @if (length($borderList) > 1) {
      $border-hover: nth($borderList, 2);
    }
  }

  // Set styles
  color: $color;
  background-color: $background;
  @if ($border) { border-color: $border; }
  @else { border: none; }

  &:visited {
    color: $color;
    background-color: $background;
    border-color: $border;
  }
  &:hover,
  &:focus {
    color: $color-hover;
    background-color: $background-hover;
    border-color: $border-hover;
  }
}
