@layer utilities {
  .hover-underline {
    @apply underline decoration-transparent;
    &:hover,
    .group:hover & {
      text-decoration-color: currentColor;
    }
  }

  @supports (background: paint(something)) {
    .hover-underline {
      text-decoration: underline 0.08em transparent;
      transition: text-decoration-color 300ms;
    }
  }

  .hover-nounderline {
    @apply underline;
    text-decoration-color: currentColor;

    &:hover,
    .group:hover & {
      text-decoration-color: transparent;
    }
  }

  @supports (background: paint(something)) {
    .hover-nounderline {
      text-decoration: underline 0.05em currentColor;
      transition: text-decoration-color 300ms;
    }
  }
}
