@layer utilities {
  .weight-hover-semibold {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
  }
  .weight-hover-semibold:hover {
    font-weight: 600;
  }
  .weight-hover-semibold::after {
    content: attr(data-text);
    content: attr(data-text) / '';
    height: 0;
    visibility: hidden;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
    font-weight: 600;
    display: block;
  }
  @media speech {
    .weight-hover-semibold::after {
      display: none;
    }
  }

  .weight-hover-bold {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
  }
  .weight-hover-bold:hover {
    font-weight: 700;
  }
  .weight-hover-bold::after {
    content: attr(data-text);
    content: attr(data-text) / '';
    height: 0;
    visibility: hidden;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
    font-weight: 700;
    display: block;
  }
  @media speech {
    .weight-hover-bold::after {
      display: none;
    }
  }

  .weight-hover-black {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
  }
  .weight-hover-black:hover {
    font-weight: 900;
  }
  .weight-hover-black::after {
    content: attr(data-text);
    content: attr(data-text) / '';
    height: 0;
    visibility: hidden;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
    font-weight: 900;
    display: block;
  }
  @media speech {
    .weight-hover-black::after {
      display: none;
    }
  }
}
