{% extends "_layout" %}

{% block content %}

	<div class="section section--default">
		<div class="container">
			<div class="w8/12">
				<h1>Plugin examples</h1>
				<ul>
					<li><a href="./filter">Filter</a></li>
					<li><a href="./validation">Form Validation</a></li>
					<li><a href="./background-image">Background Images</a></li>
					<li><a href="./modal">Modal</a></li>
					<li><a href="./maps">Google Maps</a></li>
					<li><a href="./masonry">Masonry</a></li>
				</ul>
			</div>
		</div>
	</div>

{% endblock %}
