:root {
  /* Accordion structure */
  --accordion-transition-duration: 300ms;
  --accordion-transition-timing: cubic-bezier(0.4, 0.01, 0.165, 0.99);

  /* Summary styles */
  --summary-background-color: hsl(195, 10%, 90%);
  --summary-color: inherit;
  --summary-border-radius: 5px;
  --summary-padding: 0.5rem 0.5rem 0.5rem 1rem;
  --summary-margin: 0.5rem 0;

  /* Open summary styles */
  --summary-open-background-color: hsl(195, 10%, 20%);
  --summary-open-color: hsl(195, 10%, 92%);

  /* Focus styles */
  --summary-focus-background-color: hsl(195, 10%, 75%);
  --summary-open-focus-background-color: hsl(195, 10%, 10%);
  --summary-open-focus-color: hsl(195, 10%, 99%);

  /* Content styles */
  --content-color: #777;
  --content-line-height: 1.6;
  --content-padding: 0.5rem;
}

/* Accordion structure */
details {
  height: var(--collapsed);
  overflow: hidden;
  transition: height var(--accordion-transition-duration) var(--accordion-transition-timing);
  font-size: 1rem;
  cursor: pointer;
}

details[open] {
  height: var(--expanded);
}

details[open] svg {
  @apply transition rotate-180;
}

details[open] [data-accordion-collapsed-text] {
  @apply hidden;
}

details[open][data-accordion-cutoff] summary {
  @apply hidden;
}

details:not([open]) [data-accordion-expanded-text] {
  @apply hidden;
}

/* Summary styles */
summary {
  background-color: var(--summary-background-color);
  color: var(--summary-color);
  border: 0;
  border-radius: var(--summary-border-radius);
  list-style-type: none;
  margin: var(--summary-margin);
  outline: none;
  padding: var(--summary-padding);
  user-select: none;
  font-size: 1.5rem;
  list-style: none;
}

summary::marker,
summary::-webkit-details-marker {
  display: none;
}

summary:has(svg) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Open summary styles */
details[open] > summary {
  background-color: var(--summary-open-background-color);
  color: var(--summary-open-color);
}

/* Focus styles */
summary:focus {
  background-color: var(--summary-focus-background-color);
}

details[open] > summary:focus {
  background-color: var(--summary-open-focus-background-color);
  color: var(--summary-open-focus-color);
}

/* Text styles */
[data-accordion-collapsed-text],
[data-accordion-expanded-text] {
  @apply text-base;
}

[data-accordion-close] {
  @apply px-3 m-2 text-black transition bg-gray-200 hover:bg-gray-300;
}

[data-accordion-cutoff] summary {
  @apply px-4 text-base text-white transition bg-black hover:bg-gray-600 w-fit;
}

/* Content styles */
summary + * {
  color: var(--content-color);
  line-height: var(--content-line-height);
  padding: var(--content-padding);
}
