details {
  height: var(--collapsed);
  overflow: hidden;
  transition: height 300ms cubic-bezier(0.4, 0.01, 0.165, 0.99);
  font-size: 1rem;
  cursor: pointer;
}

details[open] {
  height: var(--expanded);
}

details[open] svg {
  transition: transform 0.3s ease-in-out;
  transform: rotate(180deg);
}

details[open] [data-accordion-collapsed-text] {
  display: none;
}

details[open][data-accordion-cutoff] summary {
  display: none;
}

details:not([open]) [data-accordion-expanded-text] {
  display: none;
}

summary {
  border: 0;
  list-style-type: none;
  outline: none;
  user-select: none;
  list-style: none;
}

summary::marker,
summary::-webkit-details-marker {
  display: none;
}

summary:has(svg) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

[data-accordion-close] {
  transition: all 0.3s ease-in-out;
}

[data-accordion-cutoff] summary {
  transition: all 0.3s ease-in-out;
  width: fit-content;
}
