.ajax-search {
  position: relative;
  input {
    width: 100%;
    padding: --spacing(3);
    padding-right: --spacing(12);
    font-size: var(--text-xl);
    background-color: var(--color-white);
    border-radius: var(--radius-md);
  }
}

.ajax-search__input-wrapper {
  position: relative;

  &::after {
    position: absolute;
    right: 0;
    margin-right: --spacing(2);
    font-size: var(--text-2xl);
    transform: translateY(-50%);
    top: 50%;
    color: var(--color-primary);
    @apply inline-icon;
    mask-image: url('/tailoff/icons/magnify.svg');
  }
}

.ajax-search__list {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  overflow-y: auto;
  background-color: var(--color-white);
  box-shadow: var(--shadow-lg);
  border-top: 1px solid var(--color-light);
  border-bottom-left-radius: var(--radius-md);
  border-bottom-right-radius: var(--radius-md);
  max-height: 200px;
  top: 100%;
  margin-top: -4px;

  li {
    span,
    a {
      display: block;
      padding: --spacing(1) --spacing(2);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      em {
        font-style: normal;
        font-weight: 500;
        color: var(--color-primary);
      }
    }

    &:hover,
    &.highlight {
      color: var(--color-white);
      background-color: var(--color-primary);

      em {
        color: var(--color-secondary);
      }
    }
  }
}
