.autocomplete {
  position: relative;

  & [role='listbox'] {
    max-height: 12em;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 999;
    max-width: max-content;
    width: 100%;
    min-width: 100%;
    background-color: var(--color-white);
    box-shadow: var(--shadow-xl);
  }

  & [role='option'] {
    padding: --spacing(1) --spacing(2);

    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  & [role='option'].highlight,
  & [role='option']:hover,
  & [role='option'][aria-selected='true']:hover {
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--color-primary-contrast);
    &::after {
      color: var(--color-primary-contrast);
    }
  }
  & [role='option'][aria-selected='true'] {
    @apply flex items-center justify-between text-gray-500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-gray-500);

    &::after {
      content: '';
      mask-image: url('/tailoff/icons/check.svg');
      flex-shrink: 0;
      display: block;
      color: var(--color-black);
    }
  }

  & .currently-selected-divider {
    font-style: italic;
    padding: --spacing(1) --spacing(2);
  }

  .autocomplete__select {
    display: flex;

    input {
      background-color: transparent;
      border: 0 none;
    }
    input:focus {
      box-shadow: none;
      outline: none;
    }
  }

  .autocomplete__select --focused {
    box-shadow: 0 0 0 3px var(--color-primary-800);
  }

  .autocomplete__placeholder {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: 0.25;
  }

  .autocomplete__dropdown-icon {
    display: flex;
    align-items: center;
    padding-inline: --spacing(2);

    &::before {
      content: '';
      mask-image: url('/tailoff/icons/chevron-down.svg');
    }
  }

  .autocomplete__selection {
    display: flex;
    margin-bottom: --spacing(1);
    margin-right: --spacing(2);
    overflow: hidden;
    border-radius: var(--radius-sm);
    background-color: var(--color-primary-500);
    color: var(--color-primary-contrast);

    .text {
      padding-inline: --spacing(2);
    }

    .close-btn {
      padding-inline: --spacing(1);
      border-left: 1px solid var(--color-white);
      cursor: pointer;

      &::before {
        content: '';
        mask-image: url('/tailoff/icons/clear.svg');
      }

      &:hover,
      &:focus {
        background-color: var(--color-primary-700);
      }
    }
  }

  .autocomplete__input-wrapper {
    width: 1px;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    padding: --spacing(2);

    &.has-placeholder {
      flex-wrap: nowrap;
    }
  }
}
