.filter-btn {
  label {
    @apply cursor-pointer;
  }

  .icon {
    @apply hidden;
  }

  input:checked ~ label {
    @apply text-white no-underline bg-primary border-primary;
    .icon {
      @apply block;
    }
  }
}
