.form__field {
  @apply my-4;
}

.fui-label,
.form__label {
  @apply block mb-2 text-sm;
}

textarea.fui-input,
input.fui-input:not([type="checkbox"]):not([type="radio"]),
.form__input:not([type="checkbox"]):not([type="radio"]) {
  @apply block w-full px-4 py-3 leading-tight text-black bg-gray-100 border border-gray-200 rounded appearance-none;

  &:focus {
    @apply bg-white border-gray-500 outline-none;
  }
}

input.fui-error,
textarea.fui-error,
select.fui-error,
.form__error {
  @apply bg-red-100 border-red-700;
}

.fui-error-message,
.form__msg-error {
  @apply text-red-700;
}

input[type="checkbox"],
input[type="radio"] {
  @apply mr-2 accent-primary;
}

/* .fui-checkbox,
.form__custom-checkbox {
  > input,
  > input.fui-input {
    @apply sr-only;
  }

  label {
    @apply inline-block text-base;
    line-height: 1.2;

    @mixin icon-before check-box-outline-blank;

    &::before {
      @apply flex-shrink-0 mr-2 text-primary;
      font-size: 1.2em;
      float: left;
      margin-bottom: 3px;
      margin-top: 1px;
    }
  }

  input[type='checkbox']:checked + label {
    @mixin icon-before check-box;

    &::before {
      @apply inline-block;
      transform: translateZ(0);
    }
  }

  input[type='checkbox']:focus + label {
    @apply ring ring-4 ring-primary-800;
  }

  input[type='checkbox']:indeterminate + label {
    @mixin icon-before indeterminate-check-box;

    &::before {
      @apply inline-block text-primary;
      transform: translateZ(0);
    }
  }
}

.fui-radio,
.form__custom-radio {
  > input,
  > input.fui-input {
    @apply sr-only;
  }

  label {
    @apply flex items-center;

    @mixin icon-before radio-button-unchecked;

    &::before {
      @apply mr-2 text-primary;
      font-size: 1.2em;
    }
  }

  input[type='radio']:focus + label {
    @apply ring ring-4 ring-primary-800;
  }

  input[type='radio']:checked + label {
    @mixin icon-before radio-button-checked;

    &::before {
      @apply inline-block text-primary;
      transform: translateZ(0);
    }
  }
} */

.fui-type-dropdown .fui-input-container,
.fui-select-container,
.form__custom-select {
  @apply relative w-full leading-tight text-black bg-gray-100 border border-gray-200 rounded;

  select {
    @apply w-full px-4 py-3 m-0 bg-transparent border-none outline-none appearance-none;
  }
  select::-ms-expand {
    display: none;
  }

  &::after {
    @apply absolute right-0 mr-2 pointer-events-none;
    top: 50%;
    transform: translateY(-50%);
  }

  &:not(.form__custom-select--multiple) {
    @mixin icon chevron-down;
  }
}

form {
  select.has-error,
  textarea.has-error,
  input.has-error {
    @apply bg-red-300 border-2 border-red-600;
  }
}

.strength-indicator-wrapper {
  @apply relative h-2 my-1 rounded border-1 border-black/20;

  .strength-indicator {
    @apply w-0 h-full transition-all duration-300 ease-in-out bg-red-200;
    &.weak {
      @apply bg-red-500;
    }
    &.medium {
      @apply bg-orange-500;
    }
    &.strong {
      @apply bg-yellow-500;
    }
    &.very-strong {
      @apply bg-green-500;
    }
  }
}

.strength-indicator-text {
  @apply text-xs text-black/50;
}

/* Formie */

.fui-required {
  @apply hidden;
}

.fui-page-row {
  @apply mb-4;
}

.fui-row {
  @apply -mx-2;

  > div {
    @apply flex-auto w-full px-2 mb-4;

    &:last-child {
      @apply mb-0;
    }
  }
}

@screen sm {
  .fui-row {
    > div {
      @apply flex-1 w-auto mb-0;
    }
  }
}

.fui-layout-horizontal .fui-layout-wrap {
  @apply flex-wrap;

  > * {
    @apply w-full sm:w-auto;
  }
}

.fui-btn-container {
  @apply mt-6;
}

.fui-checkbox-label {
  a {
    @apply underline hover:no-underline;
  }
}

.fui-field:not(.fui-field-required) {
  > div > label::after {
    @apply opacity-50;
  }
}

html[lang="nl"] .fui-field:not(.fui-field-required) {
  > div > label::after {
    content: " (optioneel)";
  }
}

html[lang="fr"] .fui-field:not(.fui-field-required) {
  > div > label::after {
    content: " (optionnel)";
  }
}

html[lang="en"] .fui-field:not(.fui-field-required) {
  > div > label::after {
    content: " (optional)";
  }
}

.fui-table {
  @apply w-full;
}

.fui-table-remove-btn {
  @apply relative w-12 overflow-hidden whitespace-nowrap;
  text-indent: 9999px;
  @mixin icon delete;

  &::after {
    @apply absolute top-1/2 left-1/2;
    transform: translate(-50%, -50%);
  }
}

.fui-table-add-btn {
  @mixin icon-before plus;
  @apply inline-flex underline text-primary;

  &:hover {
    @apply no-underline;
  }
}

.fui-submit {
  @apply btn btn--primary btn--ext;
}

.fui-alert.fui-alert-error {
  @apply p-4 my-4 text-red-700 bg-red-100 border-red-700 border-1;
}
