.modal__overlay {
  background-color: var(--color-black);
  opacity: 0.75;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
}

.modal__dialog {
  width: 100%;
  max-width: 100%;
  background-color: var(--color-white);
  box-shadow: var(--shadow-2xl);
  border-radius: var(--radius-xs);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;

  &.modal__dialog--image {
    width: auto;
    min-width: 120px;
    min-height: 120px;

    img {
      position: relative;
      z-index: 2;
      max-width: 100%;
      width: 100%;
    }
  }

  &.modal__dialog--video {
    width: 100%;
  }

  .close-icon::after {
    @apply inline-icon;
    mask-image: url('/tailoff/icons/clear.svg');
  }
  .next-icon::after {
    @apply inline-icon;
    mask-image: url('/tailoff/icons/chevron-right.svg');
  }
  .prev-icon::after {
    @apply inline-icon;
    mask-image: url('/tailoff/icons/chevron-left.svg');
  }
}

.modal__content {
  padding: --spacing(8);
}

.modal__close {
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.modal__navigation {
  font-size: var(--text-4xl);
  line-height: 1;
  color: var(--color-white);
  transition: all 0.15s ease-in-out;
  border-radius: var(--radius-full);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: var(--color-black);
    background-color: var(--color-white);
  }
}

.modal__next-button {
  right: -60px;
}

.modal__prev-button {
  left: -60px;
}

.modal__image-trigger {
  display: block;
  position: relative;

  img {
    width: 100%;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
  }
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
  }

  &:hover {
    font-size: var(--text-4xl);
    &::before {
      background-color: var(--color-black);
      opacity: 0.5;
    }

    &::after {
      @apply inline-icon;
      mask-image: url('/tailoff/icons/zoom-in.svg');
      color: var(--color-white);
      opacity: 0.75;
    }
  }
}

.modal__loader-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__loader,
.modal__loader:after {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.modal__loader {
  font-size: 10px;
  position: relative;
  border-top: 5px solid rgba(0, 0, 0, 0.1);
  border-right: 5px solid rgba(0, 0, 0, 0.1);
  border-bottom: 5px solid rgba(0, 0, 0, 0.1);
  border-left: 5px solid rgba(0, 0, 0, 0.8);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

.modal__video {
  position: relative;
  aspect-ratio: 16 / 9;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    max-height: calc(100vh - 60px);
  }
}

.modal__image {
  position: relative;
  min-height: 120px;
}

.modal__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: --spacing(1);
  color: var(--color-white);
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__confirmation {
  padding: --spacing(6);

  .modal__confirmation__question {
    font-size: var(--text-xl);
  }

  .modal__confirmation__actions {
    display: flex;
    justify-content: center;

    button {
      margin-inline: --spacing(2);
    }
  }

  .modal__confirmation__cancel-btn {
    background-color: var(--color-red-500);
  }

  .modal__confirmation__ok-btn {
    background-color: var(--color-green-500);
  }
}

@media (width >= theme(--breakpoint-md)) {
  .modal__dialog {
    max-width: var(--spacing-modal);
    max-height: calc(100vh - 60px);
  }
  .modal__dialog--image {
    max-width: calc(100vw - 40px);
  }

  .modal__dialog--video {
    max-width: calc(100vw - 160px);
  }
  .modal__close {
    background-color: var(--color-white);
    border-radius: var(--radius-full);
    position: absolute;
    right: -20px;
    top: -20px;
    width: 40px;
    height: 40px;
  }
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
