/* purgecss start ignore */
.slider {
  display: block;
  position: relative;
  height: 36px;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  margin: 30px 0;

  .slider-touch-left,
  .slider-touch-right {
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 0;
    height: 36px;
    width: 36px;
    padding: 6px;
    z-index: 2;
    cursor: ew-resize;

    span {
      display: block;
      width: 100%;
      height: 100%;
      background: #f0f0f0;
      border: 1px solid #a4a4a4;
      border-radius: 50%;
      pointer-events: none;
    }
  }

  .slider-line {
    box-sizing: border-box;
    position: absolute;
    right: 18px;
    left: 18px;
    top: 16px;
    height: 4px;
    border-radius: 4px;
    background: #f0f0f0;
    z-index: 0;
    overflow: hidden;

    span {
      display: block;
      height: 100%;
      width: 0%;
      background: orange;
    }
  }

  .slider-steps {
    position: absolute;
    right: 18px;
    left: 18px;
    top: 50%;
    bottom: 0;

    .slider-step {
      position: absolute;
      top: 0;
      bottom: 0;

      span {
        position: absolute;
        top: 100%;
        transform: translateX(-50%);
        color: #cccccc;
      }

      &::before {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 2px;
        background-color: #f0f0f0;
        left: -1px;
      }
    }

    .slider-step__no-value {
      &::before {
        bottom: 50%;
        width: 1px;
        background-color: #f0f0f0;
      }
    }
  }
}
/* purgecss end ignore */
