@media screen and (prefers-reduced-motion: no-preference) {
  .js-enabled {
    .scroll-ani {
      &.scroll-default {
        transition: all 500ms ease-out;
        transform: translateY(--spacing(8));
        opacity: 0;

        &.scrolled {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
  }
}
