@layer components {
  [data-s-toggle] {
    &[aria-expanded='true'] {
      > .icon {
        transform: rotateZ(180deg);
      }

      .js-toggle-collapsed-text {
        display: none;
      }
    }

    &[aria-expanded='false'] {
      .js-toggle-expanded-text {
        display: none;
      }
    }
  }

  .toggle-content {
    display: none;
    height: 0;
    overflow: hidden;
    transition: height 400ms ease-in-out;
  }

  .toggle-content.toggle-open {
    display: block;
    height: auto;
  }
}
