<div class="cookiebanner" id="cookiebanner">
    <div class="section">
        <div class="container">
            <div class="cookie__wrapper">
                <h1 class="cookie__title">
                    {{"Deze website gebruikt cookies"|t}}
                </h1>
                <div class="cookie__body">
                    {{ 'We gebruiken cookies om je een betere bezoekerservaring te bieden. Ga naar je instellingen om je voorkeuren aan te passen of klik op akkoord om verder te gaan naar de website.'|t }}
                </div>
                <div class="cookie__cta">
                    <a href="#"
                       class="inline__item btn btn--ext cookiemonster__accept js-cookie-accept">
                        {{ 'Akkoord'|t }}
                    </a>
                    <a href="#"
                       class="inline__item cookiemonster__settings js-cookie-settings">
                        {{ 'Cookieinstellingen'|t }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cookiebanner-overlay" id="cookiebanner-overlay"></div>
