body {
  @apply text-black font-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply mb-4 font-bold;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

@screen md {
  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }
}

p:not(:first-of-type) {
  @apply my-4;
}
p:first-of-type {
  @apply mb-4;
}

.redactor ul,
ul.list-arrow {
  > li {
    @apply relative pl-5;

    &::before {
      @apply absolute left-0 apply-icon apply-icon--arrow-right text-primary;
      @apply text-base;
      top: 4px;
    }
  }
}

::selection {
  @apply text-white bg-primary-700;
}

*:focus {
  @apply outline-none shadow-focus;
}

.redactor {
  a {
    @apply underline text-primary;

    &:hover {
      @apply no-underline;
    }
  }

  ol {
    @apply pt-2 pl-5 list-decimal;
  }

  blockquote {
    @apply pl-5 border-gray-500 border-l-3;
  }
}

.lazyload,
.lazyloading {
  opacity: 0;
}
.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}
