@font-face {
  font-family: 'icons';
  src:  url("../fonts/icons.eot");
  src:  url("../fonts/icons.eot?#iefix") format("embedded-opentype"),
        url("../fonts/icons.woff2") format("woff2"),
        url("../fonts/icons.woff") format("woff"),
        url("../fonts/icons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.apply-icon {
  display: inline-block;
  border: none;
  font-family: 'icons';
  font-weight: normal;
  font-style: normal;
  font-size: inherit;
  line-height: inherit;
  text-indent: 0;
  text-transform: none;
  vertical-align: middle;
  text-rendering: auto;
  transform: translate(0, 0);
  text-decoration: none;
}

.icon:before {
  display: inline-block;
  border: none;
  font-family: 'icons';
  font-weight: normal;
  font-style: normal;
  font-size: inherit;
  line-height: inherit;
  text-indent: 0;
  text-transform: none;
  vertical-align: middle;
  text-rendering: auto;
  transform: translate(0, 0);
  text-decoration: none;
}

.icon--facebook:before {
  content: '\f101';
}
.icon--instagram:before {
  content: '\f102';
}
.icon--youtube:before {
  content: '\f103';
}
.icon--arrow-right:before {
  content: '\f104';
}
.icon--check:before {
  content: '\f105';
}
.icon--clear:before {
  content: '\f106';
}
.icon--clock:before {
  content: '\f107';
}
.icon--envelope:before {
  content: '\f108';
}
.icon--heart:before {
  content: '\f109';
}
.icon--long-arrow-left:before {
  content: '\f10a';
}
.icon--long-arrow:before {
  content: '\f10b';
}
.icon--menu:before {
  content: '\f10c';
}
.icon--person:before {
  content: '\f10d';
}
.icon--phone:before {
  content: '\f10e';
}
.icon--play:before {
  content: '\f10f';
}
.icon--plus:before {
  content: '\f110';
}

.apply-icon--facebook {
  content: '\f101';
}
.apply-icon--instagram {
  content: '\f102';
}
.apply-icon--youtube {
  content: '\f103';
}
.apply-icon--arrow-right {
  content: '\f104';
}
.apply-icon--check {
  content: '\f105';
}
.apply-icon--clear {
  content: '\f106';
}
.apply-icon--clock {
  content: '\f107';
}
.apply-icon--envelope {
  content: '\f108';
}
.apply-icon--heart {
  content: '\f109';
}
.apply-icon--long-arrow-left {
  content: '\f10a';
}
.apply-icon--long-arrow {
  content: '\f10b';
}
.apply-icon--menu {
  content: '\f10c';
}
.apply-icon--person {
  content: '\f10d';
}
.apply-icon--phone {
  content: '\f10e';
}
.apply-icon--play {
  content: '\f10f';
}
.apply-icon--plus {
  content: '\f110';
}
