/* purgecss start ignore */
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  pointer-events: none;
}

@define-mixin icon $name, $size: 1 {
  @supports (mask-image: url()) {
    &::after {
      display: block;
      width: $(size)em;
      height: $(size)em;
      content: "";
      mask-image: url("/icon/sprite.svg#$(name)-icon");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: 100% 100%;
      background-color: currentColor;
    }
  }
}

@define-mixin icon-before $name, $size: 1 {
  @supports (mask-image: url()) {
    &::before {
      display: block;
      width: $(size)em;
      height: $(size)em;
      content: "";
      mask-image: url("/icon/sprite.svg#$(name)-icon");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: 100% 100%;
      background-color: currentColor;
    }
  }
}
/* purgecss end ignore */