<div class="cookiebanner hidden fixed max-w-md top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white z-50 shadow-md" id="cookiebanner">
    <div class="p-8">
        <h1 class="text-3xl">
            {{"Deze website gebruikt cookies"|t('statik')}}
        </h1>
        <div>
            {{ 'We gebruiken cookies om je een betere bezoekerservaring te bieden. Ga naar je instellingen om je voorkeuren aan te passen of klik op akkoord om verder te gaan naar de website.'|t('statik') }}
        </div>
        <div class="mt-5">
            <a href="#" class="inline btn btn--primary js-cookie-accept">{{ 'Akkoord'|t('statik') }}</a>
            <a href="#" class="inline ml-3 hover:underline js-cookie-settings">{{ 'Cookieinstellingen'|t('statik') }}</a>
        </div>
    </div>
</div>
<div class="hidden fixed inset-0 z-10 bg-black opacity-50" id="cookiebanner-overlay"></div>
