<div class="cookiebanner" id="cookiebanner">
    <div class="section section--light">
        <div class="container">
            <div class="cookie__wrapper">
                <div class="cookie__body">
                    {{ "We gebruiken cookies om je een betere bezoekerservaring te bieden. Ga naar je instellingen om je voorkeuren aan te passen of klik op akkoord om verder te gaan naar de website."|t }}
                </div>
                <div class="cookie__cta inline">
                    <div class="inline__item">
                        <a href="#" class="btn btn--link cookiemonster__settings js-cookie-settings">{{ 'Cookieinstellingen'|t }}</a>
                    </div>
                    <div class="inline__item">
                        <a href="#" class="btn btn--ext cookiemonster__accept js-cookie-accept">{{ 'Akkoord'|t }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>