<div class="cookiebanner" id="cookiebanner">
    <div class="p-8">
        <h1 class="text-3xl">
            {{"Deze website gebruikt cookies"|t('statik')}}
        </h1>
        <div>
            {{ 'We gebruiken cookies om je een betere bezoekerservaring te bieden. Ga naar je instellingen om je voorkeuren aan te passen of klik op akkoord om verder te gaan naar de website.'|t('statik') }}
        </div>
        <div class="mt-5">
            <a href="#" class="inline btn btn--primary cookiemonster__accept js-cookie-accept">{{ 'Akkoord'|t('statik') }}</a>
            <a href="#" class="inline ml-3 hover:underline cookiemonster__settings js-cookie-settings">{{ 'Cookieinstellingen'|t('statik') }}</a>
        </div>
    </div>
</div>
<div class="cookiebanner-overlay" id="cookiebanner-overlay"></div>
