<div class="py-4">
	<div class="w-full {% if settings.centered is not defined %}md:w-8/12{% endif %}">
		{% if block.heading|length %}
			<h2 id="{{ craft.statik.slugify(block.heading) }}">{{ block.heading }}</h2>
		{% endif %}
		<div class="">
			{{ block.text }}
		</div>
		{% if block.form|length %}
			{{ block.form.render() }}
		{% endif %}
	</div>
</div>
