{% if block.image|length %}
	<div class="flex">
		<div class="w-full">
			{% set optimizedImage = block.image|default(fallback.image)|first.optimizedContent %}
			<img src="{{ optimizedImage.src(1200) ?: max(optimizedImage.optimizedImageUrls) }}" srcset="{{ optimizedImage.srcset() }}" sizes="(max-width: 1199px) 95vw, (min-width: 1200px) 1188px" alt="{{ block.image|first.imageCaption ?? block.image|first.title ?? entry.title }}"/>
		</div>
	</div>
{% endif %}
