<div class="flex">
	<div class="w-full {% if settings.centered is not defined %}md:w-8/12{% endif %}">
		{% if block.blockTitle|length %}
			<h2 id="{{ block.blockTitle }}">{{ block.blockTitle }}</h2>
		{% endif %}
		<div class="redactor">
			{{ block.text }}
		</div>
		{% if block.cta|length %}
			<div class="flex flex-wrap">
				{% for cta in block.cta.all() %}
					{% include '_snippet/_content/_blocks/_cta' %}
				{% endfor %}
			</div>
		{% endif %}
	</div>
</div>
