{% import "_includes/forms" as forms %}

<div class="flex js-copy-container">
    <div style="flex-grow: 1; min-width: 50%">
        {{ forms.textField({
            id: id,
            name: name,
            value: value,
            maxlength: 255,
            errors: field.getErrors(name)
        }) }}
    </div>

    <div>
        <span class="js-copy-title btn disabled dashed" title="{{ 'Copy anchor link to this block'|t }}">
            <svg version="1.1" viewBox="0 0 32 32" width="20px" height="20px"
                 xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path d="M21.3476563,17.0556641c-0.3027344,0-0.6083984-0.0214844-0.9140625-0.0644531 c-0.546875-0.0771484-0.9277344-0.5830078-0.8505859-1.1298828s0.5830078-0.9316406,1.1298828-0.8505859 c1.3818359,0.1904297,2.734375-0.2578125,3.71875-1.2412109l2.2841797-2.2841797 c1.7099609-1.7099609,1.7099609-4.4912109,0-6.2011719c-1.7089844-1.7089844-4.4921875-1.7089844-6.2011719,0 l-2.2841797,2.2841797c-0.984375,0.984375-1.4365234,2.3408203-1.2402344,3.7207031 c0.0771484,0.546875-0.3027344,1.0527344-0.8496094,1.1308594c-0.5498047,0.0761719-1.0527344-0.3037109-1.1308594-0.8496094 C14.7236328,9.5625,15.3828125,7.5878906,16.8164063,6.1542969l2.2841797-2.2841797 c2.4902344-2.4902344,6.5390625-2.4902344,9.0292969,0C29.3359375,5.0761719,30,6.6787109,30,8.3847656 s-0.6640625,3.3085938-1.8701172,4.5146484l-2.2841797,2.2841797 C24.6318359,16.3974609,23.0302734,17.0556641,21.3476563,17.0556641z"/>
                <path d="M8.3847656,29.9970703c-1.6347656,0-3.2695313-0.6220703-4.5146484-1.8671875 c-2.4892578-2.4892578-2.4892578-6.5400391,0-9.0292969l2.2841797-2.2841797 c1.4326172-1.4326172,3.4072266-2.0888672,5.4140625-1.8076172c0.546875,0.0771484,0.9277344,0.5830078,0.8505859,1.1298828 s-0.5800781,0.9296875-1.1298828,0.8505859c-1.3867188-0.1923828-2.7373047,0.2568359-3.7207031,1.2412109l-2.2841797,2.2841797 c-1.7099609,1.7099609-1.7099609,4.4912109,0,6.2011719c1.7089844,1.7089844,4.4921875,1.7089844,6.2011719,0l2.2841797-2.2841797 c0.9765625-0.9765625,1.4296875-2.3232422,1.2441406-3.6943359c-0.0742188-0.546875,0.3095703-1.0507813,0.8574219-1.125 c0.546875-0.0751953,1.0507813,0.3105469,1.125,0.8574219c0.2695313,1.9951172-0.390625,3.9541016-1.8125,5.3759766 l-2.2841797,2.2841797C11.6542969,29.375,10.0195313,29.9970703,8.3847656,29.9970703z"/>
                <path d="M11.4306641,21.5693359c-0.2558594,0-0.5117188-0.0976563-0.7070313-0.2929688 c-0.390625-0.390625-0.390625-1.0234375,0-1.4140625l9.1386719-9.1386719c0.390625-0.390625,1.0234375-0.390625,1.4140625,0 s0.390625,1.0234375,0,1.4140625l-9.1386719,9.1386719C11.9423828,21.4716797,11.6865234,21.5693359,11.4306641,21.5693359z"/>
             </svg>
        </span>
    </div>
</div>