{% extends "_site/_layout" %}

{% set breadcrumbs = [
    {
		url: './overview.twig',
		title: 'Plugins'
	},
    {
		url: './ajaxsearch.twig',
		title: 'Ajax Search'
	},
] %}

{% block content %}

	<div class="section section--default">
		<div class="container">
            {% include '_site/_snippet/_nav/_breadcrumb' %}
			<div class="w-8/12">
				<h1>Ajax search examples</h1>
				<p>These are some examples for an ajax search</p>
			</div>
		</div>
	</div>

	<div class="section section--default">
		<div class="container">
			<div class="w-8/12">
                <form action="">
                    <h2>Search</h2>
                    <input type="text" class="w-full p-2 rounded border-1" 
                        placeholder="Search for an ID like 1 or 2" 
                        data-s-ajax-search="https://jsonplaceholder.typicode.com/users/" 
                        data-s-ajax-search-methode="GET" 
                        data-s-ajax-search-query="" 
                        data-s-ajax-search-result-template="result__template" 
                        data-s-ajax-search-no-result-template="noresult__template"
                        data-s-ajax-search-typed-text-template="typed-text__template" />
                    <script id="result__template" type="text/template">
                        <div class="flex justify-between">%%name%% (%%email%%)</div>
                        <div>
                            %%address.street%% %%address.suite%%<br />
                            %%address.zipcode%% %%address.city%%
                        </div>
                    </script>
                    <script id="typed-text__template" type="text/template">
                        {{"Toon resultaten voor: "|t}} %%query%%
                    </script>
                    <script id="noresult__template" type="text/template">
                        <span>Niets gevonden</span>
                    </script>
                </form>
			</div>
		</div>
	</div>

	<div class="section section--default">
		<div class="container">
			<div class="w-8/12">
                <form action="">
                    <h2>Coctail search</h2>
                    <input type="text" class="w-full p-2 rounded border-1" 
                        placeholder="Search a coctail" 
                        data-s-ajax-search="https://www.thecocktaildb.com/api/json/v1/1/search.php" 
                        data-s-ajax-search-methode="GET" 
                        data-s-ajax-search-query="s" 
                        data-s-ajax-search-data="0.drinks" 
                        data-s-ajax-search-result-template="result__templatec" 
                        data-s-ajax-search-no-result-template="noresult__templatec"
                        data-s-ajax-search-no-typed-option="true"
                        data-s-ajax-search-clear-on-select="true" />
                    <script id="result__templatec" type="text/template">
                        <div class="flex justify-between">%%strDrink%% (%%strAlcoholic%%)</div>
                    </script>
                    <script id="noresult__templatec" type="text/template">
                        <span>Je zal iets anders moeten drinken</span>
                    </script>
                </form>
			</div>
		</div>
	</div>

	<div class="section section--default">
		<div class="container">
			<div class="w-8/12">
				<h2>Search with callback</h2>
                <form action="">
                    <input type="text" class="w-full p-2 rounded border-1" 
                        placeholder="Search for a craft developer"  
                        data-s-ajax-search-callback="testSearch" 
                        data-s-ajax-search-group-template="group__templatecb" 
                        data-s-ajax-search-result-template="result__templatecb" 
                        data-s-ajax-search-no-result-template="noresult__templatecb"
                        data-s-ajax-search-typed-text-template="typed-text__templatecb" />
                    <script id="group__templatecb" type="text/template">
                        <div class="px-3 py-1 font-medium bg-light group-heading">
                            %%title%%
                        </div>
                    </script>
                    <script id="result__templatecb" type="text/template">
                        <div class="flex justify-between">%%name%%</div>
                    </script>
                    <script id="noresult__templatecb" type="text/template">
                        <span>Niemand gevonden</span>
                    </script>
                    <script id="typed-text__templatecb" type="text/template">
                        {{"Zoek deze persoon: "|t}} %%query%%
                    </script>
                </form>
			</div>
		</div>
	</div>

	<div class="section section--default">
		<div class="container">
			<div class="w-8/12">
				<h2>Transfer selected id to hidden input</h2>
                <form action="">
                    <input type="text" name="city" value="" class="border-1" placeholder="This is the city input"/>
                    <input type="text" class="block w-full p-2 mt-2 rounded border-1 no-hook"
                            placeholder="Zoek op postcode of gemeente/stad"
                            value="{{currentCity is defined ? currentCity.title : ''}}"
                            data-s-ajax-search-callback="testSearchCities" 
                            data-s-ajax-search-destination-input="city"
                            data-s-ajax-search-destination-value="id"
                            data-s-ajax-search-methode="GET"
                            data-s-ajax-search-query="s"
                            data-s-ajax-search-result-template="result__templatehi"
                            data-s-ajax-search-no-result-template="noresult__templatehi"
                            data-s-ajax-search-no-typed-option="true" />
                    <div class="hidden" id="result__templatehi" type="text/template">
                        <div class="px-3 py-2">%%title%%</div>
                    </div>
                    <div class="hidden" id="noresult__templatehi" type="text/template">
                        <span>{{ "Gemeente niet gevonden"|t }}</span>
                    </div>
                </form>
			</div>
		</div>
	</div>

    
    <script>
        window["testSearch"] = (query) => {
            let data = [
                {
                    group: {
                        title: "Frontend"
                    },
                    data: [
                        {name: "Karel-Jan"},
                        {name: "Stijn"},
                        {name: "Caroline"},
                        {name: "Laura"},
                    ]
                },
                {
                    group: {
                        title: "Backend"
                    },
                    data: [
                        {name: "Sarah"},
                        {name: "Hannah"},
                    ]
                },
                {
                    group: {
                        title: "Analyse"
                    },
                    data: [
                        {name: "Jan"},
                        {name: "Anton"},
                    ]
                }
            ];

            return new Promise(function (resolve, reject) {
                data = data.filter(g => {
                        g.data = g.data.filter(d => d.name.trim().toLowerCase().indexOf(query.trim().toLowerCase()) >= 0);
                        return g.data.length > 0;
                    });
                resolve(data);
            });
        };
        window["testSearchCities"] = (query) => {
            let data = [
                {title: "Leuven", id: 1},
                {title: "Kessel-lo", id: 2},
                {title: "Herent", id: 3},
                {title: "Haacht", id: 4},
                {title: "Wespelaar", id: 5},
            ];

            return new Promise(function (resolve, reject) {
                data = data.filter(d => d.title.trim().toLowerCase().indexOf(query.trim().toLowerCase()) >= 0);
                resolve(data);
            });
        };
    </script>

{% endblock %}
