{% extends "_layout" %}

{% set breadcrumbs = [
    {
		url: './overview.twig',
		title: 'Plugins'
	},
    {
		url: './autocomplete.twig',
		title: 'Autocomplete'
	},
] %}

{% block content %}

	<div class="section section--default">
		<div class="container">
			<div class="w-8/12">
				<h1>Autocomplete examples</h1>
				<p>These are some examples for an autocomplete</p>
			</div>
		</div>
	</div>

	<div class="section section--default">
		<div class="container">
			<div class="w-8/12">
				<h2>Autocomplete single</h2>
			</div>
			<div class="w-2/12 mt-4">
				<label for="singleSelect">
					Select an option:
				</label>
				<form action="">
					<select name="singleSelect" id="singleSelect" data-s-autocomplete class="rounded border-1">
						<option value="">Select an option</option>
						<option value="1">Option 1</option>
						<option value="2">Option 2</option>
						<option value="3">Plugins</option>
						<option value="4">Autocomplete een veel te lange title</option>
						<option value="5">Fun Stuff</option>
						<option value="6">Fun Stuff 2</option>
						<option value="7">Option 3</option>
					</select>
					<input class="px-4 py-2 mt-8 text-white bg-blue-500 rounded" type="submit" value="send"/>
				</form>
			</div>
			<div class="w-8/12 mt-12">
				<h2>Autocomplete single with free type</h2>
			</div>
			<div class="w-8/12 mt-4">
				<label for="singleSelect">
					Select an option:
				</label>
				<form action="">
					<select name="singleSelect" id="singleSelect" data-s-autocomplete free-type class="rounded border-1">
						<option value="">Select an option</option>
						<option value="1">Option 1</option>
						<option value="2">Option 2</option>
						<option value="3">Plugins</option>
						<option value="4">Autocomplete</option>
						<option value="5">Fun Stuff</option>
						<option value="6">Fun Stuff 2</option>
						<option value="7">Option 3</option>
					</select>
					<input class="px-4 py-2 mt-8 text-white bg-blue-500 rounded" type="submit" value="send"/>
				</form>
			</div>
			<div class="w-8/12 mt-12">
				<h2>Autocomplete multiple</h2>
			</div>
			<div class="w-8/12 mt-4">
				<label for="singleSelect">
					Select an option:
				</label>
				<form action="">
					<select name="multipleSelect" id="multipleSelect" data-s-autocomplete class="rounded border-1" multiple>
						<option value="">Select an option</option>
						<option value="1">Option 1</option>
						<option value="2">Option 2</option>
						<option value="3">Option 3</option>
						<option value="4">Option 4</option>
						<option value="5">Option 5</option>
						<option value="6">Option 6</option>
						<option value="7">Option 7</option>
					</select>

					<input class="px-4 py-2 mt-8 text-white bg-blue-500 rounded" type="submit" value="send"/>
				</form>
			</div>
		</div>
	</div>

{% endblock %}
