{% extends '_site/_layout' %}
{% set breadcrumbs = [ 
    { url: './overview.twig', title: 'Plugins' }, 
    { url: './ckeditor.twig', title: 'CKEditor' } ] 
%}
{% block content %}
	<div class="section section--default">
		<div class="container">
			{% include '_site/_snippet/_nav/_breadcrumb' %}
			<h1>CKEditor</h1>
		</div>
	</div>
    <div class="section">
        <div class="container">
            <div class="flex flex-col gap-10">
                <textarea data-ck-editor></textarea>
                <textarea data-ck-editor data-ck-editor-style="compact"></textarea>
                <textarea data-ck-editor data-ck-editor-toolbar="bold,italic"></textarea>
            </div>
        </div>
    </div>
{% endblock %}