{% extends '_site/_layout' %} 
{% set breadcrumbs = [ 
    { url: './overview.twig', title: 'Plugins' }, 
    { url: './cutoff.twig', title: 'Cutoff' } ] 
%} 
{% block content %}
<div class="section section--default">
  <div class="container">
    <div class="w8/12">
      <h1>Cutoff example</h1>
    </div>
  </div>
</div>

<div class="section section--default">
  <div class="container">
    <h2>Cutoff without animation</h2>
    <div class="mt-6 mb-6 cutoff" data-s-cutoff-height="100" data-s-cutoff-margin="20" id="cutoffContent-1">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur asperiores fugiat temporibus ullam consectetur dicta tempora blanditiis, vel illo, sit mollitia facilis vero non, aut eveniet voluptatem harum ipsa neque atque a! Laudantium repellendus numquam voluptatem, quae dolores repudiandae vero reprehenderit sunt, delectus quaerat consectetur tempore optio nam, nulla aspernatur.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur asperiores fugiat temporibus ullam consectetur dicta tempora blanditiis, vel illo, sit mollitia facilis vero non, aut eveniet voluptatem harum ipsa neque atque a! Laudantium repellendus numquam voluptatem, quae dolores repudiandae vero reprehenderit sunt, delectus quaerat consectetur tempore optio nam, nulla aspernatur.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur asperiores fugiat temporibus ullam consectetur dicta tempora blanditiis, vel illo, sit mollitia facilis vero non, aut eveniet voluptatem harum ipsa neque atque a! Laudantium repellendus numquam voluptatem, quae dolores repudiandae vero reprehenderit sunt, delectus quaerat consectetur tempore optio nam, nulla aspernatur.</p>
    </div>
    <button class="mb-10 btn btn--primary" data-s-cutoff-trigger="#cutoffContent-1">
        Read more
        {% include "_site/_snippet/_global/_icon-sprite" with {baseUrl: alias("@baseUrl"), slug: "chevron-down", class: ""} %}
    </button>
  </div>
</div>

<div class="section section--default">
  <div class="container">
    <h2>Cutoff with animation</h2>
    <div class="mt-6 mb-6 cutoff" data-s-cutoff-height="100" data-s-cutoff-margin="20" data-s-cutoff-animation="true" id="cutoffContent-2">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur asperiores fugiat temporibus ullam consectetur dicta tempora blanditiis, vel illo, sit mollitia facilis vero non, aut eveniet voluptatem harum ipsa neque atque a! Laudantium repellendus numquam voluptatem, quae dolores repudiandae vero reprehenderit sunt, delectus quaerat consectetur tempore optio nam, nulla aspernatur.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur asperiores fugiat temporibus ullam consectetur dicta tempora blanditiis, vel illo, sit mollitia facilis vero non, aut eveniet voluptatem harum ipsa neque atque a! Laudantium repellendus numquam voluptatem, quae dolores repudiandae vero reprehenderit sunt, delectus quaerat consectetur tempore optio nam, nulla aspernatur.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur asperiores fugiat temporibus ullam consectetur dicta tempora blanditiis, vel illo, sit mollitia facilis vero non, aut eveniet voluptatem harum ipsa neque atque a! Laudantium repellendus numquam voluptatem, quae dolores repudiandae vero reprehenderit sunt, delectus quaerat consectetur tempore optio nam, nulla aspernatur.</p>
    </div>
    <button class="mb-10 btn btn--primary" data-s-cutoff-trigger="#cutoffContent-2">
        Read more
        {% include "_site/_snippet/_global/_icon-sprite" with {baseUrl: alias("@baseUrl"), slug: "chevron-down", class: ""} %}
    </button>
  </div>
</div>

{% endblock %}
