{% extends "_site/_layout" %}

{% set breadcrumbs = [
    {
		url: './overview.twig',
		title: 'Plugins'
	},
    {
		url: './dropdown.twig',
		title: 'Dropdown'
	},
] %}

{% block content %}
	<div class="section section--default">
		<div class="container">
			{% include '_site/_snippet/_nav/_breadcrumb' %}
			<div class="w8/12">
				<h1>Dropdown examples</h1>
			</div>
		</div>
	</div>

	<div class="section section--default">
		<div class="container">
			<div data-dropdown>
				<button type="button" data-dropdown-toggle>Toggle the dropdown</button>
				<ul data-dropdown-menu>
					<li>
						<a href="#">Item 1</a>
					</li>
					<li>
						<a href="#">Item 2</a>
					</li>
					<li>
						<a href="#">Item 3</a>
					</li>
					<li>
						<a href="#">Item 4</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
