{% extends "_layout" %}

{% set breadcrumbs = [
    {
		url: './overview.twig',
		title: 'Plugins'
	},
    {
		url: './formValidation.twig',
		title: 'Form Validation'
	},
] %}

{% block content %}

	<div class="section section--default">
		<div class="container">
			<div class="w8/12">
				<h1>Form validation plugin Examples</h1>
				<p>These are some examples of how to use the ValidationComponent plugin.</p>
			</div>
		</div>
	</div>

	<div class="section section--default">
		<div class="container">
			<div class="w8/12">
				<h2>A11y</h2>
				<p>Add autocomplete options if you make a custom form. More info on
					<a class="underline text-primary hover:no-underline" href="https://www.w3.org/TR/html52/sec-forms.html#element-attrdef-autocompleteelements-autocomplete">https://www.w3.org/TR/html52/sec-forms.html#element-attrdef-autocompleteelements-autocomplete</a>
				</p>
			</div>
		</div>
	</div>

	<div class="section section--default">
		<div class="container">
			<h2>Custom form</h2>
			<div class="w8/12">
				<form action="#" data-s-validate="true">
					<div class="my-4">
						<label class="form__label" for="name">Name</label>
						<input class="form__input" name="name" id="name" type="text" required/>
					</div>
					<div class="my-4 form__field">
						<label class="form__label" for="errorInLabel">Error next to label
							<span class="form__error-placeholder"></span>
						</label>
						<input class="form__input" name="errorInLabel" id="errorInLabel" type="text" required/>
					</div>
					<div class="my-4">
						<label class="form__label" for="email">Email</label>
						<input class="form__input" name="email" id="email" type="email" required/>
					</div>
					<div class="my-4">
						<label class="form__label" for="minlength">Minimum length needs to be 4</label>
						<input class="form__input" id="minlength" name="minlength" type="text" minlength="4" required/>
					</div>
					<div class="my-4">
						<label class="form__label" for="maxlength">Maximum length is 20</label>
						<input class="form__input" id="maxlength" name="maxlength" type="text" maxlength="20" required/>
					</div>
					<div class="my-4">
						<label class="form__label" for="textarea">Maximum length is 140 and has a countdown</label>
						<textarea class="form__input" id="textarea" name="textarea" type="text" maxlength="140" data-s-countdown="#character-counter" required></textarea>
						<div class="flex justify-end">
							<span class="hidden" id="character-counter" aria-live="polite">Characters left:
								<span class="nr-of-characters"></span>
							</span>
						</div>
					</div>
					<div class="my-4 form__field">
						<label class="form__label" for="password">Password</label>
						<div class="flex items-center js-password-toggle">
							<input class="mb-0 form__input" name="password" id="password" type="password" required/>
							<button type="button" class="ml-2">
								<svg class="icon js-password-toggle-show" aria-hidden="true"><use xlink:href="/icon/sprite.svg#visibility"></use></svg>
								<svg class="hidden icon js-password-toggle-hide" aria-hidden="true"><use xlink:href="/icon/sprite.svg#visibility_off"></use></svg>
								<span class="sr-only">{{ "Toon/verberg paswoord"|t }}</span>
							</button>
						</div>
					</div>
					<div class="my-4 form__field">
						<label class="form__label" for="password-confirm">Confirm Password</label>
						<div class="flex items-center js-password-toggle">
							<input class="mb-0 form__input" name="password-confirm" id="password-confirm" type="password" required data-s-confirm="#password"/>
							<button type="button" class="ml-2">
								<svg class="icon js-password-toggle-show" aria-hidden="true"><use xlink:href="/icon/sprite.svg#visibility"></use></svg>
								<svg class="hidden icon js-password-toggle-hide" aria-hidden="true"><use xlink:href="/icon/sprite.svg#visibility_off"></use></svg>
								<span class="sr-only">{{ "Toon/verberg paswoord"|t }}</span>
							</button>
						</div>
					</div>
					<div class="my-4">
						<label class="form__label" for="minmax">Min 10 - Max 100</label>
						<input class="form__input" id="minmax" name="minmax" type="number" min="10" step="5" max="100" required>
					</div>
					<div class="my-4">
						<label class="form__label" for="pattern">Pattern with extra custom message</label>
						<input class="form__input" id="pattern" name="pattern" type="text" required pattern="[a-z]{4,8}" title="4 to 8 lowercase letters" data-s-extra-message="De waarde moeten kleine letters zijn en tussen de 4 en 8 lang zijn.">
					</div>
					<div class="my-4">
						<label class="form__label" for="choice">Select</label>
						<select class="form__input" name="choice" id="choice" required>
							<option value="">Select something</option>
							<option value="1">Option 1</option>
							<option value="2">Option 2</option>
							<option value="3">Option 3</option>
							<option value="-1">Other</option>
						</select>
					</div>
					<div class="hidden my-4 js-form-optional-block" data-controller-value="-1" data-controller-name="choice" data-clear-all-on-hide="true">
						<label class="form__label" for="optionalContent5">Optional input for checkbox</label>
						<input class="form__input" name="optionalContent5" id="optionalContent5" type="text" required/>
					</div>
					<div class="my-4">
						<label class="form__label" for="choiceMulti">Multiselect</label>
						<select class="form__input" name="choiceMulti" id="choiceMulti" required multiple>
							<option value="1">Option 1</option>
							<option value="2">Option 2</option>
							<option value="3">Option 3</option>
							<option value="-1">Other</option>
						</select>
					</div>
					<div class="hidden my-4 js-form-optional-block" data-controller-value="-1" data-controller-name="choiceMulti" data-clear-all-on-hide="true">
						<label class="form__label" for="optionalContent6">Optional input for checkbox</label>
						<input class="form__input" name="optionalContent6" id="optionalContent6" type="text" required/>
					</div>
					<div class="my-4 form__field">
						<label class="form__label">Checkbox range min 2 - max 4</label>
						<div>
							<div>
								<input id="checkboxRange1" type="checkbox" name="checkboxRange" value="1" min="2" max="4"/>
								<label for="checkboxRange1">Option 1</label>
							</div>
							<div>
								<input id="checkboxRange2" type="checkbox" name="checkboxRange" value="2" min="2" max="4"/>
								<label for="checkboxRange2">Option 2</label>
							</div>
							<div>
								<input id="checkboxRange3" type="checkbox" name="checkboxRange" value="3" min="2" max="4"/>
								<label for="checkboxRange3">Option 3</label>
							</div>
							<div>
								<input id="checkboxRange4" type="checkbox" name="checkboxRange" value="4" min="2" max="4"/>
								<label for="checkboxRange4">Option 4</label>
							</div>
							<div>
								<input id="checkboxRange5" type="checkbox" name="checkboxRange" value="5" min="2" max="4"/>
								<label for="checkboxRange5">Option 5</label>
							</div>
							<div>
								<input id="checkboxRange6" type="checkbox" name="checkboxRange" value="6" min="2" max="4"/>
								<label for="checkboxRange6">Option 6</label>
							</div>
							<div>
								<input id="checkboxRange7" type="checkbox" name="checkboxRange" value="7" min="2" max="4"/>
								<label for="checkboxRange7">Option 7</label>
							</div>
						</div>
					</div>
					<div class="my-4 form__field">
						<label class="form__label">How cool is this</label>
						<div class="flex">
							<div class="w-1/5">
								<label for="radioOption1">Not cool at all</label>
								<input id="radioOption1" type="radio" name="cool" value="1" required/>
							</div>
							<div class="w-1/5">
								<label for="radioOption2">Not cool</label>
								<input id="radioOption2" type="radio" name="cool" value="2" required/>
							</div>
							<div class="w-1/5">
								<label for="radioOption3">Neutral</label>
								<input id="radioOption3" type="radio" name="cool" value="3" required/>
							</div>
							<div class="w-1/5">
								<label for="radioOption4">So cool</label>
								<input id="radioOption4" type="radio" name="cool" value="4" required/>
							</div>
							<div class="w-1/5">
								<label for="radioOption5">AHOOOEEEWA</label>
								<input id="radioOption5" type="radio" name="cool" value="5" required/>
							</div>
						</div>
					</div>
					<div class="my-4 form__field">
						<label class="form__label">How cool is this</label>
						<div>
							<div>
								<label for="optionalToggle1">Show content 1</label>
								<input id="optionalToggle1" type="radio" name="optionalToggle" value="1" required/>
							</div>
							<div>
								<label for="optionalToggle2">Show content 2</label>
								<input id="optionalToggle2" type="radio" name="optionalToggle" value="2" required/>
							</div>
							<div>
								<label for="optionalToggle3">No extra content</label>
								<input id="optionalToggle3" type="radio" name="optionalToggle" value="3" required/>
							</div>
						</div>
					</div>
					<div class="hidden my-4 js-form-optional-block" data-controller-value="1" data-controller-name="optionalToggle">
						<div>
							<label class="form__label" for="optionalContent1">Optional input 1</label>
							<input class="form__input" name="optionalContent1" id="optionalContent1" type="text" required/>
						</div>
						<div>
							<label class="form__label" for="optionalContent12">Optional input 1.2</label>
							<input class="form__input" name="optionalContent12" id="optionalContent12" type="text" data-clear-on-hide="true" required/>
						</div>
					</div>
					<div class="hidden my-4 js-form-optional-block" data-controller-value="2" data-controller-name="optionalToggle" data-clear-all-on-hide="true">
						<label class="form__label" for="optionalContent2">Optional input 2</label>
						<input class="form__input" name="optionalContent2" id="optionalContent2" type="text" required/>
					</div>
					<div class="my-4 form__field">
						<label class="form__label">Radio list with "Other" option</label>
						<div>
							<div>
								<input id="otherOptions1" type="radio" name="otherOptions" value="1" required/>
								<label for="otherOptions1">Option 1</label>
							</div>
							<div>
								<input id="otherOptions2" type="radio" name="otherOptions" value="2" required/>
								<label for="otherOptions2">Option 2</label>
							</div>
							<div>
								<input id="otherOptions3" type="radio" name="otherOptions" value="3" required/>
								<label for="otherOptions3">Option 3</label>
							</div>
							<div class="js-other-radio">
								<input type="radio" id="otherOptions4" name="otherOptions" value="" required />
								<label class="" for="otherOptions4">
									<input class="border-1" type="text" placeholder="Andere" novalidate />  
								</label>
							</div>
						</div>
					</div>
					<div class="my-4 form__field">
						<input type="checkbox" id="extraContent" name="extraContent" value="1"/>
						<label for="extraContent">Show extra content</label>
					</div>
					<div class="hidden my-4 js-form-optional-block" data-controller-value="1" data-controller-name="extraContent" data-clear-all-on-hide="true">
						<label class="form__label" for="optionalContent3">Optional input for checkbox</label>
						<input class="form__input" name="optionalContent3" id="optionalContent3" type="text" required/>
					</div>


					<div class="my-4 form__field">
						<input type="checkbox" id="extraContentMultiple1" name="extraContentMultiple[]" value="1"/>
						<label for="extraContentMultiple1">Show extra content for multiple checkboxes</label>
					</div>
					<div class="my-4 form__field">
						<input type="checkbox" id="extraContentMultiple2" name="extraContentMultiple[]" value="2"/>
						<label for="extraContentMultiple2">Show extra content for multiple checkboxes</label>
					</div>
					<div class="my-4 form__field">
						<input type="checkbox" id="extraContentMultiple3" name="extraContentMultiple[]" value="3"/>
						<label for="extraContentMultiple3">Don't show extra content for this one</label>
					</div>
					<div class="hidden my-4 js-form-optional-block" data-controller-value="[1,2]" data-controller-name="extraContentMultiple[]" data-clear-all-on-hide="true">
						<label class="form__label" for="optionalContent4">Optional input for checkbox</label>
						<input class="form__input" name="optionalContent4" id="optionalContent4" type="text" required/>
					</div>

					
					<div class="my-4 form__field">
						<input type="checkbox" id="policy" name="policy" required/>
						<label for="policy">I agree to all the nonsense of the privacy policy</label>
					</div>
					<button class="btn" type="submit">Submit</button>
				</form>
			</div>
		</div>
	</div>

{% endblock %}
