{% extends "_layout" %}

{% set breadcrumbs = [
    {
		url: './overview.twig',
		title: 'Plugins'
	},
    {
		url: './maps.twig',
		title: 'Google maps'
	},
] %}

{% block content %}

	<div class="section section--default">
		<div class="container">
			<div class="w8/12">
				<h1>Maps Examples</h1>
				<p>
					These are some basic axamples on how to use google maps on a page. For all the options documentation, go to
					<a class="underline hover:no-underline" href="https://developers.google.com/maps/documentation/javascript/reference/map#MapOptions">https://developers.google.com/maps/documentation/javascript/reference/map#MapOptions</a>
				</p>
				<p>
					In order for the plugin to work, make sure you add an API key to your .env file. Like so GOOGLE_API_KEY_MAPS="longapikey". Or add the key as a param in the main file like so: new GoogleMapsComponent("longapikey");
				</p>
				<div class="w-64 h-64 js-google-map" data-locations='[{ "lat": 50.882170, "lng": 4.702510, "info": "Statik" }, { "lat": 50.881401, "lng": 4.715916, "info": "Station" }]' data-options="{}"></div>
				<div class="w-64 h-64 mt-4 js-google-map" data-locations='[{ "lat": 50.882170, "lng": 4.702510, "info": "Statik" }, { "lat": 50.881401, "lng": 4.715916, "info": "Station" }]' data-options='{"disableDefaultUI": "true"}'></div>
			</div>
		</div>
	</div>

{% endblock %}
