{% extends "_layout" %}

{% set breadcrumbs = [
    {
		url: './overview.twig',
		title: 'Plugins'
	},
    {
		url: './masonry.twig',
		title: 'Masonry'
	},
] %}

{% block content %}

	<div class="section section--default">
		<div class="container">
			<div class="w8/12">
				<h1>Masonry Examples</h1>
				<p>
					this example uses css grid and some nice little javascript.
				</p>
			</div>
		</div>
	</div>

	<div class="section section--default">
		<div class="container">
			<div class="w8/12">
				<h1>Image example</h1>
			</div>
			<div class="masonry js-masonry">
				<div class="masonry-item js-masonry-item">
					<img src="https://source.unsplash.com/random/450x325" alt="Dummy Image" class="masonry-content js-masonry-content">
				</div>
				<div class="masonry-item js-masonry-item">
					<img src="https://source.unsplash.com/random/450x450" alt="Dummy Image" class="masonry-content js-masonry-content">
				</div>
				<div class="masonry-item js-masonry-item">
					<img src="https://source.unsplash.com/random/450x280" alt="Dummy Image" class="masonry-content js-masonry-content">
				</div>
				<div class="masonry-item js-masonry-item">
					<img src="https://source.unsplash.com/random/450x540" alt="Dummy Image" class="masonry-content js-masonry-content">
				</div>
				<div class="masonry-item js-masonry-item">
					<img src="https://source.unsplash.com/random/450x380" alt="Dummy Image" class="masonry-content js-masonry-content">
				</div>
				<div class="masonry-item js-masonry-item">
					<img src="https://source.unsplash.com/random/450x300" alt="Dummy Image" class="masonry-content js-masonry-content">
				</div>
				<div class="masonry-item js-masonry-item">
					<img src="https://source.unsplash.com/random/450x400" alt="Dummy Image" class="masonry-content js-masonry-content">
				</div>
				<div class="masonry-item js-masonry-item">
					<img src="https://source.unsplash.com/random/450x300" alt="Dummy Image" class="masonry-content js-masonry-content">
				</div>
				<div class="masonry-item js-masonry-item">
					<img src="https://source.unsplash.com/random/450x280" alt="Dummy Image" class="masonry-content js-masonry-content">
				</div>
				<div class="masonry-item js-masonry-item">
					<img src="https://source.unsplash.com/random/450x480" alt="Dummy Image" class="masonry-content js-masonry-content">
				</div>
				<div class="masonry-item js-masonry-item">
					<img src="https://source.unsplash.com/random/450x550" alt="Dummy Image" class="masonry-content js-masonry-content">
				</div>
				<div class="masonry-item js-masonry-item">
					<img src="https://source.unsplash.com/random/450x600" alt="Dummy Image" class="masonry-content js-masonry-content">
				</div>
				<div class="masonry-item js-masonry-item">
					<img src="https://source.unsplash.com/random/450x325" alt="Dummy Image" class="masonry-content js-masonry-content">
				</div>
				<div class="masonry-item js-masonry-item">
					<img src="https://source.unsplash.com/random/450x450" alt="Dummy Image" class="masonry-content js-masonry-content">
				</div>
				<div class="masonry-item js-masonry-item">
					<img src="https://source.unsplash.com/random/450x280" alt="Dummy Image" class="masonry-content js-masonry-content">
				</div>
				<div class="masonry-item js-masonry-item">
					<img src="https://source.unsplash.com/random/450x540" alt="Dummy Image" class="masonry-content js-masonry-content">
				</div>
				<div class="masonry-item js-masonry-item">
					<img src="https://source.unsplash.com/random/450x380" alt="Dummy Image" class="masonry-content js-masonry-content">
				</div>
				<div class="masonry-item js-masonry-item">
					<img src="https://source.unsplash.com/random/450x300" alt="Dummy Image" class="masonry-content js-masonry-content">
				</div>
				<div class="masonry-item js-masonry-item">
					<img src="https://source.unsplash.com/random/450x400" alt="Dummy Image" class="masonry-content js-masonry-content">
				</div>
				<div class="masonry-item js-masonry-item">
					<img src="https://source.unsplash.com/random/450x300" alt="Dummy Image" class="masonry-content js-masonry-content">
				</div>
				<div class="masonry-item js-masonry-item">
					<img src="https://source.unsplash.com/random/450x280" alt="Dummy Image" class="masonry-content js-masonry-content">
				</div>
				<div class="masonry-item js-masonry-item">
					<img src="https://source.unsplash.com/random/450x480" alt="Dummy Image" class="masonry-content js-masonry-content">
				</div>
				<div class="masonry-item js-masonry-item">
					<img src="https://source.unsplash.com/random/450x550" alt="Dummy Image" class="masonry-content js-masonry-content">
				</div>
				<div class="masonry-item js-masonry-item">
					<img src="https://source.unsplash.com/random/450x600" alt="Dummy Image" class="masonry-content js-masonry-content">
				</div>
				<div class="masonry-item js-masonry-item">
					<img src="https://source.unsplash.com/random/450x325" alt="Dummy Image" class="masonry-content js-masonry-content">
				</div>
				<div class="masonry-item js-masonry-item">
					<img src="https://source.unsplash.com/random/450x450" alt="Dummy Image" class="masonry-content js-masonry-content">
				</div>
				<div class="masonry-item js-masonry-item">
					<img src="https://source.unsplash.com/random/450x280" alt="Dummy Image" class="masonry-content js-masonry-content">
				</div>
				<div class="masonry-item js-masonry-item">
					<img src="https://source.unsplash.com/random/450x540" alt="Dummy Image" class="masonry-content js-masonry-content">
				</div>
				<div class="masonry-item js-masonry-item">
					<img src="https://source.unsplash.com/random/450x380" alt="Dummy Image" class="masonry-content js-masonry-content">
				</div>
				<div class="masonry-item js-masonry-item">
					<img src="https://source.unsplash.com/random/450x300" alt="Dummy Image" class="masonry-content js-masonry-content">
				</div>
			</div>
		</div>
	</div>
	<div class="section section--default">
		<div class="container">
			<div class="w8/12">
				<h1>Card example</h1>
			</div>
			<div class="masonry js-masonry">
				<div class="masonry-item js-masonry-item">
					<div class="masonry-content js-masonry-content">
						<div class="overflow-hidden bg-white rounded shadow-xl">
							<img src="https://source.unsplash.com/random/600x300" alt="random image"/>
							<div class="p-8">
								<h2>Card title 1</h2>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, modi.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="masonry-item js-masonry-item">
					<div class="masonry-content js-masonry-content">
						<div class="overflow-hidden bg-white rounded shadow-xl">
							<img src="https://source.unsplash.com/random/600x300" alt="random image"/>
							<div class="p-8">
								<h2>Card title 2</h2>
								<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus sunt ab natus ducimus quaerat dolore dolorem voluptatem ipsam aperiam quis.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="masonry-item js-masonry-item">
					<div class="masonry-content js-masonry-content">
						<div class="overflow-hidden bg-white rounded shadow-xl">
							<img src="https://source.unsplash.com/random/600x300" alt="random image"/>
							<div class="p-8">
								<h2>Card title 3</h2>
								<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima, error facere porro quasi sit assumenda. Iure in doloribus repudiandae quae accusamus eum. Fugit?</p>
							</div>
						</div>
					</div>
				</div>
				<div class="masonry-item js-masonry-item">
					<div class="masonry-content js-masonry-content">
						<div class="overflow-hidden bg-white rounded shadow-xl">
							<img src="https://source.unsplash.com/random/600x300" alt="random image"/>
							<div class="p-8">
								<h2>Card title 4</h2>
								<p>Lorem ipsum dolor sit.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="masonry-item js-masonry-item">
					<div class="masonry-content js-masonry-content">
						<div class="overflow-hidden bg-white rounded shadow-xl">
							<img src="https://source.unsplash.com/random/600x300" alt="random image"/>
							<div class="p-8">
								<h2>Card title 5</h2>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil beatae quia odit numquam cum earum eum nisi, est a facere? Sapiente, mollitia placeat? Soluta officia neque amet fuga molestiae accusantium.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="masonry-item js-masonry-item">
					<div class="masonry-content js-masonry-content">
						<div class="overflow-hidden bg-white rounded shadow-xl">
							<img src="https://source.unsplash.com/random/600x300" alt="random image"/>
							<div class="p-8">
								<h2>Card title 6</h2>
								<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error obcaecati et quia. Officiis voluptatem, quibusdam exercitationem amet ipsam, porro quo libero veritatis dolorum inventore error optio quasi cumque!</p>
							</div>
						</div>
					</div>
				</div>
				<div class="masonry-item js-masonry-item">
					<div class="masonry-content js-masonry-content">
						<div class="overflow-hidden bg-white rounded shadow-xl">
							<img src="https://source.unsplash.com/random/600x300" alt="random image"/>
							<div class="p-8">
								<h2>Card title 7</h2>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur adipisci quam expedita dolore accusantium.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="masonry-item js-masonry-item">
					<div class="masonry-content js-masonry-content">
						<div class="overflow-hidden bg-white rounded shadow-xl">
							<img src="https://source.unsplash.com/random/600x300" alt="random image"/>
							<div class="p-8">
								<h2>Card title 8</h2>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam minima commodi eaque quis ut nobis quos dolore.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="masonry-item js-masonry-item">
					<div class="masonry-content js-masonry-content">
						<div class="overflow-hidden bg-white rounded shadow-xl">
							<img src="https://source.unsplash.com/random/600x300" alt="random image"/>
							<div class="p-8">
								<h2>Card title 9</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum facere distinctio ipsam culpa assumenda, tempora provident rerum corporis laboriosam at atque. Labore aspernatur quibusdam voluptatem.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="masonry-item js-masonry-item">
					<div class="masonry-content js-masonry-content">
						<div class="overflow-hidden bg-white rounded shadow-xl">
							<img src="https://source.unsplash.com/random/600x300" alt="random image"/>
							<div class="p-8">
								<h2>Card title 10</h2>
								<p>Lorem, ipsum dolor.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="masonry-item js-masonry-item">
					<div class="masonry-content js-masonry-content">
						<div class="overflow-hidden bg-white rounded shadow-xl">
							<img src="https://source.unsplash.com/random/600x300" alt="random image"/>
							<div class="p-8">
								<h2>Card title 11</h2>
								<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="masonry-item js-masonry-item">
					<div class="masonry-content js-masonry-content">
						<div class="overflow-hidden bg-white rounded shadow-xl">
							<img src="https://source.unsplash.com/random/600x300" alt="random image"/>
							<div class="p-8">
								<h2>Card title 12</h2>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt reprehenderit molestiae quos, in soluta iusto quod?</p>
							</div>
						</div>
					</div>
				</div>
				<div class="masonry-item js-masonry-item">
					<div class="masonry-content js-masonry-content">
						<div class="overflow-hidden bg-white rounded shadow-xl">
							<img src="https://source.unsplash.com/random/600x300" alt="random image"/>
							<div class="p-8">
								<h2>Card title 13</h2>
								<p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="masonry-item js-masonry-item">
					<div class="masonry-content js-masonry-content">
						<div class="overflow-hidden bg-white rounded shadow-xl">
							<img src="https://source.unsplash.com/random/600x300" alt="random image"/>
							<div class="p-8">
								<h2>Card title 14</h2>
								<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="masonry-item js-masonry-item">
					<div class="masonry-content js-masonry-content">
						<div class="overflow-hidden bg-white rounded shadow-xl">
							<img src="https://source.unsplash.com/random/600x300" alt="random image"/>
							<div class="p-8">
								<h2>Card title 15</h2>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, dignissimos eius tempora dolor praesentium quisquam. Culpa molestias dolor aspernatur, nam atque assumenda aut eius nulla tempora delectus. Ipsam, quasi sapiente. Ex, sit! Iusto porro totam recusandae facilis magni eius inventore repellat unde.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="masonry-item js-masonry-item">
					<div class="masonry-content js-masonry-content">
						<div class="overflow-hidden bg-white rounded shadow-xl">
							<img src="https://source.unsplash.com/random/600x300" alt="random image"/>
							<div class="p-8">
								<h2>Card title 16</h2>
								<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati, eligendi! Quasi aut possimus consequatur beatae vel dolor, officiis porro eius!</p>
							</div>
						</div>
					</div>
				</div>
				<div class="masonry-item js-masonry-item">
					<div class="masonry-content js-masonry-content">
						<div class="overflow-hidden bg-white rounded shadow-xl">
							<img src="https://source.unsplash.com/random/600x300" alt="random image"/>
							<div class="p-8">
								<h2>Card title 17</h2>
								<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem, delectus omnis? Officia illum vel quasi delectus deserunt repudiandae dignissimos!</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
