{% extends "_site/_layout" %}

{% set breadcrumbs = [
    {
		url: './overview.twig',
		title: 'Plugins'
	},
    {
		url: './modal.twig',
		title: 'Modal'
	},
] %}

{% block content %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/vs2015.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>
    <div class="section section--default">
        <div class="container">
            {% include '_site/_snippet/_nav/_breadcrumb' %}
            <h1>Modal Examples</h1>
            <h2>Inline content</h2>
            <div class="w-8/12">
                <button type="button" data-modal="inline-content" class="btn">Show modal inline 2</button>
            </div>
            <dialog id="inline-content" class="max-w-[60vw] p-8">
                <h1>This is my cool modal</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium exercitationem repudiandae ullam ea debitis delectus pariatur explicabo facilis atque omnis aspernatur, corrupti, cum sunt doloremque? Ut perferendis qui est totam!</p>
                <div>
                    <a href="/" class="btn">CTA</a>
                </div>
                <div class="flex justify-center border-t border-black py-6">
                    <button type="button" data-modal-close class="btn">Close</button>
                </div>
            </dialog>
        </div>
    </div>
    <div class="section section--default">
        <div class="container">
            <div class="w-8/12">
                <h2>Single Image</h2>
                <div class="flex">
                    <button id="modalImageButton">Open image</button>
                    <button type="button" class="overflow-hidden rounded" data-modal-image="https://unsplash.it/1600/900?random&gravity=center" data-caption="Single image caption">
                        <span class="sr-only">Show single image</span>
                        <img src="https://unsplash.it/150/150?random&gravity=center" alt=""/>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="section section--default">
        <div class="container">
            <h2>Image Gallery</h2>
            <div class="flex flex-wrap -mx-2">
                <button class="block m-2 overflow-hidden rounded" data-group="image-gallery" data-modal-image="https://unsplash.it/400/400?random&gravity=center" data-caption="This is the caption of Image 1">
                    <span class="sr-only">Show image gallery</span>
                    <img src="https://unsplash.it/150/150?random&gravity=center" alt=""/>
                </button>
                <button class="block m-2 overflow-hidden rounded" data-group="image-gallery" data-modal-image="https://unsplash.it/2000/1000?random&gravity=center" data-caption="This is the caption of Image 2">
                    <span class="sr-only">Show image gallery</span>
                    <img src="https://unsplash.it/150/150?random&gravity=center" alt=""/>
                </button>
                <button class="block m-2 overflow-hidden rounded" data-group="image-gallery" data-modal-image="https://unsplash.it/800/400?random&gravity=center">
                    <span class="sr-only">Show image gallery</span>
                    <img src="https://unsplash.it/150/150?random&gravity=center" alt=""/>
                </button>
                <button class="block m-2 overflow-hidden rounded" data-group="image-gallery" data-modal-image="https://unsplash.it/1600/900?random&gravity=center" data-caption="This is the caption of Image 4">
                    <span class="sr-only">Show image gallery</span>
                    <img src="https://unsplash.it/150/150?random&gravity=center" alt=""/>
                </button>
                <button class="block m-2 overflow-hidden rounded" data-group="image-gallery" data-modal-image="https://unsplash.it/2000/500?random&gravity=center" data-caption="This is the caption of Image 5">
                    <span class="sr-only">Show image gallery</span>
                    <img src="https://unsplash.it/150/150?random&gravity=center" alt=""/>
                </button>
            </div>
        </div>
    </div>
    <div class="section section--default">
        <div class="container">
            <h2>Video</h2>
            <div class="flex flex-wrap -mx-2">
                <button class="block m-2 overflow-hidden rounded" data-modal-video="https://www.youtube.com/watch?v=WhWc3b3KhnY">
                    <span class="sr-only">Show image gallery</span>
                    <img src="https://img.youtube.com/vi/WhWc3b3KhnY/1.jpg" alt=""/>
                </button>
            </div>
        </div>
    </div>
    <div class="section section--default">
        <div class="container">
            <h2>Video Gallery</h2>
            <div class="flex flex-wrap -mx-2">
                <button class="block m-2 overflow-hidden rounded" data-group="video-gallery" data-modal-video="https://www.youtube.com/watch?v=WhWc3b3KhnY" data-caption="This is the caption of Video 1">
                    <span class="sr-only">Show image gallery</span>
                    <img src="https://img.youtube.com/vi/WhWc3b3KhnY/1.jpg" alt=""/>
                </button>
                <button class="block m-2 overflow-hidden rounded" data-group="video-gallery" data-modal-video="https://www.youtube.com/watch?v=R6MlUcmOul8" data-caption="This is the caption of Video 2">
                    <span class="sr-only">Show image gallery</span>
                    <img src="https://img.youtube.com/vi/R6MlUcmOul8/1.jpg" alt=""/>
                </button>
                <button class="block m-2 overflow-hidden rounded" data-group="video-gallery" data-modal-video="https://www.youtube.com/watch?v=PVGeM40dABA">
                    <span class="sr-only">Show image gallery</span>
                    <img src="https://img.youtube.com/vi/PVGeM40dABA/1.jpg" alt=""/>
                </button>
                <button class="block m-2 overflow-hidden rounded" data-group="video-gallery" data-modal-video="https://www.youtube.com/watch?v=pKmSdY56VtY">
                    <span class="sr-only">Show image gallery</span>
                    <img src="https://img.youtube.com/vi/pKmSdY56VtY/1.jpg" alt=""/>
                </button>
                <button class="block m-2 overflow-hidden rounded" data-group="video-gallery" data-modal-video="https://www.youtube.com/watch?v=mN0zPOpADL4">
                    <span class="sr-only">Show image gallery</span>
                    <img src="https://img.youtube.com/vi/mN0zPOpADL4/1.jpg" alt=""/>
                </button>
            </div>
        </div>
    </div>
    <div class="section section--default">
        <div class="container">
            <h2>Confirmation Modal</h2>
            <div class="">
                <a class="link link--ext js-modal-confirmation" href="https://www.statik.be"
                    data-modal-confirmation
                    data-question="{{ 'Are you sure you want to navigate to the Statik website?'|t }}"
                    data-ok="Hell Yeah"
                    data-cancel="No">
                    Go to the Statik website
                </a>
            </div>
            <div class="mt-4">
                <button type="button" id="modalConfirmationButton" class="btn">This is triggered by JS</button>
            </div>
        </div>
    </div>
    <div class="section section--default">
        <div class="container">
            <h2>Open a modal with JS</h2>
            <p>The default options for the modal are:</p>
            <pre><code class="language-javascript">options = {
	closeHTML: `{{ icon('clear') }} `,
    nextHTML: `{{ icon('chevron-right', { class: 'text-primary' }) }} `,
    prevHTML: `{{ icon('chevron-left', { class: 'text-primary' }) }} `,
	imageMargin: 20,
	imageMarginNav: 80,
	imageMarginNoneBreakPoint: 820,
	resizeDuration: 100,
	fadeDuration: 100,
	initTriggers: true, //Enables the auto triggering of modal links (.js-modal-*)
	allowClose: true, //Show the close button
	onClose: null, //Callback function when the close action is triggered
}</code></pre>
            <h3 class="mt-8">Simple example</h3>
            <pre><code class="language-javascript">import { ConfirmationModalPlugin } from '../plugins/modal/confirmation.plugin';
import { ImageModalPlugin } from '../plugins/modal/image.plugin';
import { VideoModalPlugin } from '../plugins/modal/video.plugin';
import { ModalComponent } from './modal.component';
export class SiteComponent {
  constructor() {
    const modalConfirmationButton = document.getElementById('modalConfirmationButton');
    modalConfirmationButton.addEventListener('click', () => {
      const modal = new ModalComponent({
        initTriggers: false, //important otherwise all triggers for other modals wil receive another eventlistener
        allowClose: true, 
        plugins: [ImageModalPlugin, VideoModalPlugin, ConfirmationModalPlugin],
      });

      modal.openPluginModal('image', { src: 'https://source.unsplash.com/-nfNBf407jo', caption: 'This is my caption' });

      modal.openPluginModal('video', { src: 'https://www.youtube.com/watch?v=mN0zPOpADL4' });

      modal.openPluginModal('confirmation', {
        question: 'This is my question',
        cancel: 'My cancel text',
        ok: 'My OK text',
        callback: () => {
          console.log('This is my JS callback');
        },
      });
    });
  }
}</code>
			</pre>
        </div>
    </div>
</div>{% endblock %}
