{% extends "_layout" %}

{% set breadcrumbs = [
    {
		url: './overview.twig',
		title: 'Plugins'
	},
    {
		url: './modal.twig',
		title: 'Modal'
	},
] %}

{% block content %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/vs2015.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>
    <div class="section section--default">
        <div class="container">
            <h1>Modal Examples</h1>
            <h2>Inline content</h2>
            <div class="w8/12">
                <a href="#inline-content" class="btn js-modal">Show modal inline 1</a>
                <button data-modal-id="#inline-content" class="btn js-modal">Show modal inline 2</button>
            </div>
            <div id="inline-content" class="hidden">
                <h1>This is my cool modal</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium exercitationem repudiandae ullam ea debitis delectus pariatur explicabo facilis atque omnis aspernatur, corrupti, cum sunt doloremque? Ut perferendis qui est totam!</p>
                <div>
                    <a href="/" class="btn">CTA</a>
                </div>
            </div>
        </div>
    </div>
    <div class="section section--default">
        <div class="container">
            <div class="w8/12">
                <h2>Single Image</h2>
                <div class="flex">
                    <a class="overflow-hidden rounded js-modal-image" href="https://source.unsplash.com/U5X3Y5fYRCY/1600x900">
                        <span class="sr-only">Show single image</span>
                        <img src="https://source.unsplash.com/U5X3Y5fYRCY/150x150" alt=""/>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="section section--default">
        <div class="container">
            <h2>Image Gallery</h2>
            <div class="flex flex-wrap -mx-2">
                <a class="block m-2 overflow-hidden rounded js-modal-image" data-group="image-gallery" href="https://source.unsplash.com/N0tT0eXym-4">
                    <span class="sr-only">Show image gallery</span>
                    <img src="https://source.unsplash.com/N0tT0eXym-4/150x150" alt=""/>
                </a>
                <a class="block m-2 overflow-hidden rounded js-modal-image" data-group="image-gallery" href="https://source.unsplash.com/AcwWPty3iF4">
                    <span class="sr-only">Show image gallery</span>
                    <img src="https://source.unsplash.com/AcwWPty3iF4/150x150" alt=""/>
                </a>
                <a class="block m-2 overflow-hidden rounded js-modal-image" data-group="image-gallery" href="https://source.unsplash.com/IMgXq0p_1yo">
                    <span class="sr-only">Show image gallery</span>
                    <img src="https://source.unsplash.com/IMgXq0p_1yo/150x150" alt=""/>
                </a>
                <a class="block m-2 overflow-hidden rounded js-modal-image" data-group="image-gallery" href="https://source.unsplash.com/kii4xjHEL-w/400x300">
                    <span class="sr-only">Show image gallery</span>
                    <img src="https://source.unsplash.com/kii4xjHEL-w/150x150" alt=""/>
                </a>
                <a class="block m-2 overflow-hidden rounded js-modal-image" data-group="image-gallery" href="https://source.unsplash.com/-nfNBf407jo">
                    <span class="sr-only">Show image gallery</span>
                    <img src="https://source.unsplash.com/-nfNBf407jo/150x150" alt=""/>
                </a>
            </div>
        </div>
    </div>
    <div class="section section--default">
        <div class="container">
            <h2>Video Gallery</h2>
            <div class="flex flex-wrap -mx-2">
                <a class="block m-2 overflow-hidden rounded js-modal-video" data-group="video-gallery" href="https://www.youtube.com/watch?v=WhWc3b3KhnY">
                    <span class="sr-only">Show image gallery</span>
                    <img src="https://img.youtube.com/vi/WhWc3b3KhnY/1.jpg" alt=""/>
                </a>
                <a class="block m-2 overflow-hidden rounded js-modal-video" data-group="video-gallery" href="https://www.youtube.com/watch?v=R6MlUcmOul8">
                    <span class="sr-only">Show image gallery</span>
                    <img src="https://img.youtube.com/vi/R6MlUcmOul8/1.jpg" alt=""/>
                </a>
                <a class="block m-2 overflow-hidden rounded js-modal-video" data-group="video-gallery" href="https://www.youtube.com/watch?v=PVGeM40dABA">
                    <span class="sr-only">Show image gallery</span>
                    <img src="https://img.youtube.com/vi/PVGeM40dABA/1.jpg" alt=""/>
                </a>
                <a class="block m-2 overflow-hidden rounded js-modal-video" data-group="video-gallery" href="https://www.youtube.com/watch?v=pKmSdY56VtY">
                    <span class="sr-only">Show image gallery</span>
                    <img src="https://img.youtube.com/vi/pKmSdY56VtY/1.jpg" alt=""/>
                </a>
                <a class="block m-2 overflow-hidden rounded js-modal-video" data-group="video-gallery" href="https://www.youtube.com/watch?v=mN0zPOpADL4">
                    <span class="sr-only">Show image gallery</span>
                    <img src="https://img.youtube.com/vi/mN0zPOpADL4/1.jpg" alt=""/>
                </a>
            </div>
        </div>
    </div>
    <div class="section section--default">
        <div class="container">
            <h2>Open a modal with JS</h2>
            <p>The default options for the modal are:</p>
            <pre><code class="language-javascript">options = {
	closeHTML: `<svg class="icon" aria-hidden="true">
                    <use xlink:href="/icon/sprite.svg#clear"></use>
                </svg>`,
    nextHTML: `<svg class="icon" aria-hidden="true">
                  <use xlink:href="/icon/sprite.svg#chevron-right"></use>
              </svg>`,
    prevHTML: `<svg class="icon" aria-hidden="true">
                  <use xlink:href="/icon/sprite.svg#chevron-left"></use>
              </svg>`,
	imageMargin: 20,
	imageMarginNav: 80,
	imageMarginNoneBreakPoint: 820,
	resizeDuration: 100,
	fadeDuration: 100,
	initTriggers: true, //Enables the auto triggering of modal links (.js-modal-*)
	allowClose: true, //Show the close button
	onClose: null, //Callback function when the close action is triggered
}</code></pre>
            <h3 class="mt-8">Simple example</h3>
            <pre><code class="language-javascript">import { ModalComponent } from "./modal.component";

const modal = new ModalComponent({
	initTriggers: false, //important otherwise all triggers for other modals wil receive another eventlistener
});
modal.openInlineModal("#JSModalContent");

//Other exposed methods
modal.openImageModal("https://source.unsplash.com/-nfNBf407jo");
modal.openVideoModal("https://www.youtube.com/watch?v=mN0zPOpADL4");
modal.closeModal();</code>
			</pre>
        </div>
    </div>
</div>{% endblock %}
