{% extends "_layout" %}

{% set breadcrumbs = [
    {
		url: './overview.twig',
		title: 'Plugins'
	}
] %}

{% block content %}

	<div class="section section--default">
		<div class="container">
			<div class="w8/12">
				<h1>Plugin examples</h1>
				<ul>
					<li><a href="./ajaxsearch.twig">Ajax Search</a></li>
					<li><a href="./autocomplete.twig">Autocomplete</a></li>
					<li><a href="./backgroundImage.twig">Background Images</a></li>
					<li><a href="./filter.twig">Filter</a></li>
					<li><a href="./formValidation.twig">Form Validation</a></li>
					<li><a href="./imageSlider.twig">Image Slider</a></li>
					<li><a href="./loadmore.twig">Load more</a></li>
					<li><a href="./maps.twig">Maps</a></li>
					<li><a href="./masonry.twig">Masonry</a></li>
					<li><a href="./matrix.twig">Matrix</a></li>
					<li><a href="./modal.twig">Modal</a></li>
					<li><a href="./pageFind.twig">Page find</a></li>
					<li><a href="./pullOutContent.twig">Pull out content</a></li>
					<li><a href="./rangeSlider.twig">Range Slider</a></li>
					<li><a href="./scrollTo.twig">Scroll To</a></li>
					<li><a href="./stickyHeader.twig">Sticky Header</a></li>
					<li><a href="./tabs.twig">Tabs</a></li>
					<li><a href="./toggle.twig">Toggle</a></li>
					<li><a href="./videoBackground.twig">Video Background</a></li>
				</ul>
			</div>
		</div>
	</div>

{% endblock %}
