{% extends '_site/_layout' %}
{% set breadcrumbs = [
    { url: './overview.twig', title: 'Plugins' },
    { url: './pageFind.twig', title: 'pageFind' } ]
%}
{% block content %}
	<div class="section section--default">
		<div class="container">
			{% include '_site/_snippet/_nav/_breadcrumb' %}
			<div class="w8/12">
				<h1 class="font-accent">Page Finder</h1>
			</div>
		</div>
	</div>

	<div class="top-0 bg-white" style="position: sticky">
		<div class="container py-6 border-b-1 border-light">
			<form class="flex js-find-form" data-s-search-block="searchBlock">
				<label class="">Search the page:</label>
				<div class="relative flex">
					<input type="text" id="finder" class="pr-20 ml-4 border-1 js-find-input" placeholder="type here">
					<div class="absolute right-0 flex items-center h-full pr-2 text-gray-500 js-page-find-results" id="found">
						<span class="js-current-find">0</span>
						/
						<span class="js-total-find">0</span>
					</div>
				</div>
				<buttons class="cursor-pointer js-page-find-next" title="Next Search Result">{{ svg('@webroot/frontend/icons/chevron-down.svg')|attr({class: 'icon text-lg'}) }}<span class="sr-only">Next Search Result</span></buttons>
				<buttons class="cursor-pointer js-page-find-prev" title="Previous Search Result">{{ svg('@webroot/frontend/icons/chevron-up.svg')|attr({class: 'icon text-lg'}) }}<span class="sr-only">Previous Search Result</span></buttons>
				<buttons class="cursor-pointer js-page-find-clear" title="Clear Search Result">{{ svg('@webroot/frontend/icons/clear.svg')|attr({class: 'icon text-lg'}) }}<span class="sr-only">Clear Search Result</span></buttons>
			</form>
		</div>
	</div>

	<div class="section section--default" id="searchBlock">
		<div class="container">
			<h3 class="js-open-on-find" data-s-toggle-target="toggleContent">Search for "toggle content" in order to test this.</h3>
			<div class="hidden" id="toggleContent" data-s-toggle data-s-toggle-animation="true">
				This is the toggle content Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt obcaecati vitae libero ut odio quidem, et neque dolorem fugiat harum maxime similique quos. Tempora eligendi, magnam labore, velit quo natus soluta, aliquam voluptatem tenetur expedita ad architecto quas voluptatum nihil.
			</div>
			<div class="mt-6 mb-6" data-s-toggle data-s-toggle-height="100" data-s-toggle-margin="20" id="cutoffContent-1">
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur asperiores fugiat temporibus ullam consectetur dicta tempora blanditiis, vel illo, sit mollitia facilis vero non, aut eveniet voluptatem harum ipsa neque atque a! Laudantium repellendus numquam voluptatem, quae dolores repudiandae vero reprehenderit sunt, delectus quaerat consectetur tempore optio nam, nulla aspernatur.</p>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur asperiores fugiat temporibus ullam consectetur dicta tempora blanditiis, vel illo, sit mollitia facilis vero non, aut eveniet voluptatem harum ipsa neque atque a! Laudantium repellendus numquam voluptatem, quae dolores repudiandae vero reprehenderit sunt, delectus quaerat consectetur tempore optio nam, nulla aspernatur.</p>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur asperiores fugiat temporibus ullam consectetur dicta tempora blanditiis, vel illo, sit mollitia facilis vero non, aut eveniet voluptatem harum ipsa neque atque a! Laudantium repellendus numquam voluptatem, quae dolores repudiandae vero reprehenderit sunt, delectus quaerat consectetur tempore optio nam, nulla aspernatur.</p>
				<p>Cutoff out of view text. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur asperiores fugiat temporibus ullam consectetur dicta tempora blanditiis, vel illo, sit mollitia facilis vero non, aut eveniet voluptatem harum ipsa neque atque a! Laudantium repellendus numquam voluptatem, quae dolores repudiandae vero reprehenderit sunt, delectus quaerat consectetur tempore optio nam, nulla aspernatur.</p>
			</div>
			<button class="mb-10 btn btn--primary js-open-on-find" data-s-toggle-target="cutoffContent-1">
				Read more
				{{ svg('@webroot/frontend/icons/chevron-down.svg')|attr({class: 'icon '}) }}
			</button>
			<p>Hidden Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi consequatur cupiditate illum pariatur est quaerat iusto libero dignissimos necessitatibus inventore.</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, architecto laudantium modi fugit delectus obcaecati quaerat doloremque pariatur soluta, eaque aut suscipit maiores et tenetur. Quos minima maiores nostrum minus, voluptas laudantium libero dolorem beatae quod perferendis itaque sit nemo. Inventore error impedit placeat explicabo esse, cupiditate expedita ratione earum.</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, architecto laudantium modi fugit delectus obcaecati quaerat doloremque pariatur soluta, eaque aut suscipit maiores et tenetur. Quos minima maiores nostrum minus, voluptas laudantium libero dolorem beatae quod perferendis itaque sit nemo. Inventore error impedit placeat explicabo esse, cupiditate expedita ratione earum.</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, architecto laudantium modi fugit delectus obcaecati quaerat doloremque pariatur soluta, eaque aut suscipit maiores et tenetur. Quos minima maiores nostrum minus, voluptas laudantium libero dolorem beatae quod perferendis itaque sit nemo. Inventore error impedit placeat explicabo esse, cupiditate expedita ratione earum.</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, architecto laudantium modi fugit delectus obcaecati quaerat doloremque pariatur soluta, eaque aut suscipit maiores et tenetur. Quos minima maiores nostrum minus, voluptas laudantium libero dolorem beatae quod perferendis itaque sit nemo. Inventore error impedit placeat explicabo esse, cupiditate expedita ratione earum.</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, architecto laudantium modi fugit delectus obcaecati quaerat doloremque pariatur soluta, eaque aut suscipit maiores et tenetur. Quos minima maiores nostrum minus, voluptas laudantium libero dolorem beatae quod perferendis itaque sit nemo. Inventore error impedit placeat explicabo esse, cupiditate expedita ratione earum.</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, architecto laudantium modi fugit delectus obcaecati quaerat doloremque pariatur soluta, eaque aut suscipit maiores et tenetur. Quos minima maiores nostrum minus, voluptas laudantium libero dolorem beatae quod perferendis itaque sit nemo. Inventore error impedit placeat explicabo esse, cupiditate expedita ratione earum.</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, architecto laudantium modi fugit delectus obcaecati quaerat doloremque pariatur soluta, eaque aut suscipit maiores et tenetur. Quos minima maiores nostrum minus, voluptas laudantium libero dolorem beatae quod perferendis itaque sit nemo. Inventore error impedit placeat explicabo esse, cupiditate expedita ratione earum.</p>
			<p class="hidden">Hidden Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, architecto laudantium modi fugit delectus obcaecati quaerat doloremque pariatur soluta, eaque aut suscipit maiores et tenetur. Quos minima maiores nostrum minus, voluptas laudantium libero dolorem beatae quod perferendis itaque sit nemo. Inventore error impedit placeat explicabo esse, cupiditate expedita ratione earum.</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, architecto laudantium modi fugit delectus obcaecati quaerat doloremque pariatur soluta, eaque aut suscipit maiores et tenetur. Quos minima maiores nostrum minus, voluptas laudantium libero dolorem beatae quod perferendis itaque sit nemo. Inventore error impedit placeat explicabo esse, cupiditate expedita ratione earum.</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, architecto laudantium modi fugit delectus obcaecati quaerat doloremque pariatur soluta, eaque aut suscipit maiores et tenetur. Quos minima maiores nostrum minus, voluptas laudantium libero dolorem beatae quod perferendis itaque sit nemo. Inventore error impedit placeat explicabo esse, cupiditate expedita ratione earum.</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, architecto laudantium modi fugit delectus obcaecati quaerat doloremque pariatur soluta, eaque aut suscipit maiores et tenetur. Quos minima maiores nostrum minus, voluptas laudantium libero dolorem beatae quod perferendis itaque sit nemo. Inventore error impedit placeat explicabo esse, cupiditate expedita ratione earum.</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, architecto laudantium modi fugit delectus obcaecati quaerat doloremque pariatur soluta, eaque aut suscipit maiores et tenetur. Quos minima maiores nostrum minus, voluptas laudantium libero dolorem beatae quod perferendis itaque sit nemo. Inventore error impedit placeat explicabo esse, cupiditate expedita ratione earum.</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, architecto laudantium modi fugit delectus obcaecati quaerat doloremque pariatur soluta, eaque aut suscipit maiores et tenetur. Quos minima maiores nostrum minus, voluptas laudantium libero dolorem beatae quod perferendis itaque sit nemo. Inventore error impedit placeat explicabo esse, cupiditate expedita ratione earum.</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, architecto laudantium modi fugit choco delectus obcaecati quaerat doloremque pariatur soluta, eaque aut suscipit maiores et tenetur. Quos minima maiores nostrum minus, voluptas laudantium libero dolorem beatae quod perferendis itaque sit nemo. Inventore error impedit placeat explicabo esse, cupiditate expedita ratione earum.</p>
		</div>

	</div>

{% endblock %}
