{% extends '_layout' %}
{% set breadcrumbs = [
    { url: './overview.twig', title: 'Plugins' },
    { url: './pageFind.twig', title: 'pageFind' } ]
%}
{% block content %}
	<div class="section section--default">
		<div class="container">
			<div class="w8/12">
				<h1 class="font-accent">Page Finder</h1>
			</div>
		</div>
	</div>

	<div class="top-0 bg-white" style="position: sticky">
		<div class="container py-6 border-b-1 border-light">
			<form class="flex js-find-form">
				<label class="">Search the page:</label>
				<div class="relative flex">
					<input type="text" id="finder" class="pr-20 ml-4 border-1 js-find-input" placeholder="type here">
					<div class="absolute right-0 flex items-center h-full pr-2 text-gray-500 js-page-find-results" id="found">
						<span class="js-current-find">0</span>
						/
						<span class="js-total-find">0</span>
					</div>
				</div>
				<buttons class="cursor-pointer js-page-find-next" title="Next Search Result"><svg class="text-lg icon" aria-hidden="true"><use xlink:href="{{ alias("@baseUrl/icon/sprite.svg#chevron-down") }}"></use></svg><span class="sr-only">Next Search Result</span></buttons>
				<buttons class="cursor-pointer js-page-find-prev" title="Previous Search Result"><svg class="text-lg icon" aria-hidden="true"><use xlink:href="{{ alias("@baseUrl/icon/sprite.svg#chevron-up") }}"></use></svg><span class="sr-only">Previous Search Result</span></buttons>
				<buttons class="cursor-pointer js-page-find-clear" title="Clear Search Result"><svg class="text-lg icon" aria-hidden="true"><use xlink:href="{{ alias("@baseUrl/icon/sprite.svg#clear") }}"></use></svg><span class="sr-only">Clear Search Result</span></buttons>
			</form>
		</div>
	</div>

	<div class="section section--default">
		<div class="container">
			<p>Hidden Hallo ik ben een appel, Ik drink graag water en appelsap. Ja appelsap ook al ben een appel choco. dans dans</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, architecto laudantium modi fugit delectus obcaecati quaerat doloremque pariatur soluta, eaque aut suscipit maiores et tenetur. Quos minima maiores nostrum minus, voluptas laudantium libero dolorem beatae quod perferendis itaque sit nemo. Inventore error impedit placeat explicabo esse, cupiditate expedita ratione earum.</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, architecto laudantium modi fugit delectus obcaecati quaerat doloremque pariatur soluta, eaque aut suscipit maiores et tenetur. Quos minima maiores nostrum minus, voluptas laudantium libero dolorem beatae quod perferendis itaque sit nemo. Inventore error impedit placeat explicabo esse, cupiditate expedita ratione earum.</p>
			<p>Hallo ik ben een appel, Ik drink graag water en appelsap. Ja appelsap ook al ben een appel. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, architecto laudantium modi fugit delectus obcaecati quaerat doloremque pariatur soluta, eaque aut suscipit maiores et tenetur. Quos minima maiores nostrum minus, voluptas laudantium libero dolorem beatae quod perferendis itaque sit nemo. Inventore error impedit placeat explicabo esse, cupiditate expedita ratione earum.</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, architecto laudantium modi fugit delectus obcaecati quaerat doloremque pariatur soluta, eaque aut suscipit maiores et tenetur. Quos minima maiores nostrum minus, voluptas laudantium libero dolorem beatae quod perferendis itaque sit nemo. Inventore error impedit placeat explicabo esse, cupiditate expedita ratione earum.</p>
			<p>Hallo ik ben een appel, Ik drink graag water en appelsap. Ja appelsap ook al ben een appel. 	Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, architecto laudantium modi fugit delectus obcaecati quaerat doloremque pariatur soluta, eaque aut suscipit maiores et tenetur. Quos minima maiores nostrum minus, voluptas laudantium libero dolorem beatae quod perferendis itaque sit nemo. Inventore error impedit placeat explicabo esse, cupiditate expedita ratione earum.</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, architecto laudantium modi fugit delectus obcaecati quaerat doloremque pariatur soluta, eaque aut suscipit maiores et tenetur. Quos minima maiores nostrum minus, voluptas laudantium libero dolorem beatae quod perferendis itaque sit nemo. Inventore error impedit placeat explicabo esse, cupiditate expedita ratione earum.</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, architecto laudantium modi fugit delectus obcaecati quaerat doloremque pariatur soluta, eaque aut suscipit maiores et tenetur. Quos minima maiores nostrum minus, voluptas laudantium libero dolorem beatae quod perferendis itaque sit nemo. Inventore error impedit placeat explicabo esse, cupiditate expedita ratione earum.</p>
			<p class="hidden">Hidden Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, architecto laudantium modi fugit delectus obcaecati quaerat doloremque pariatur soluta, eaque aut suscipit maiores et tenetur. Quos minima maiores nostrum minus, voluptas laudantium libero dolorem beatae quod perferendis itaque sit nemo. Inventore error impedit placeat explicabo esse, cupiditate expedita ratione earum.</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, architecto laudantium modi fugit delectus obcaecati quaerat doloremque pariatur soluta, eaque aut suscipit maiores et tenetur. Quos minima maiores nostrum minus, voluptas laudantium libero dolorem beatae quod perferendis itaque sit nemo. Inventore error impedit placeat explicabo esse, cupiditate expedita ratione earum.</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, architecto laudantium modi fugit delectus obcaecati quaerat doloremque pariatur soluta, eaque aut suscipit maiores et tenetur. Quos minima maiores nostrum minus, voluptas laudantium libero dolorem beatae quod perferendis itaque sit nemo. Inventore error impedit placeat explicabo esse, cupiditate expedita ratione earum.</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, architecto laudantium modi fugit delectus obcaecati quaerat doloremque pariatur soluta, eaque aut suscipit maiores et tenetur. Quos minima maiores nostrum minus, voluptas laudantium libero dolorem beatae quod perferendis itaque sit nemo. Inventore error impedit placeat explicabo esse, cupiditate expedita ratione earum.</p>
			<p>Hallo ik ben een appel, Ik drink graag water en appelsap. Ja appelsap ook al ben een appel.</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, architecto laudantium modi fugit delectus obcaecati quaerat doloremque pariatur soluta, eaque aut suscipit maiores et tenetur. Quos minima maiores nostrum minus, voluptas laudantium libero dolorem beatae quod perferendis itaque sit nemo. Inventore error impedit placeat explicabo esse, cupiditate expedita ratione earum.</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, architecto laudantium modi fugit delectus obcaecati quaerat doloremque pariatur soluta, eaque aut suscipit maiores et tenetur. Quos minima maiores nostrum minus, voluptas laudantium libero dolorem beatae quod perferendis itaque sit nemo. Inventore error impedit placeat explicabo esse, cupiditate expedita ratione earum.</p>
			<p>Hallo ik ben een appel, Ik drink graag water en appelsap. Ja appelsap ook al ben een appel.</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, architecto laudantium modi fugit choco delectus obcaecati quaerat doloremque pariatur soluta, eaque aut suscipit maiores et tenetur. Quos minima maiores nostrum minus, voluptas laudantium libero dolorem beatae quod perferendis itaque sit nemo. Inventore error impedit placeat explicabo esse, cupiditate expedita ratione earum.</p>
		</div>

	</div>

{% endblock %}
