{% extends "_site/_layout" %}

{% set breadcrumbs = [
    {
		url: './overview.twig',
		title: 'Plugins'
	},
    {
		url: './pullOutContent.twig',
		title: 'Pull out content'
	},
] %}

{% block content %}

	<div class="section section--default">
		<div class="container">
			{% include '_site/_snippet/_nav/_breadcrumb' %}
			<div class="w8/12">
				<h1>Pull content out of the container to the left or right</h1>
				<p>
					Just wrap the content in an extra div-tag and add the class 'js-pull-out'
				</p>
			</div>
		</div>
	</div>

	<div class="section section--default">
		<div class="container bg-gray-200 py-10">
			<div class="flex flex-wrap">
				<div class="w-full md:w-1/2 pullout pullout--both md:pullout--left-1/2">
					<div class="md:pr-4">
						<img src="https://unsplash.it/800/600?random" alt="" class="w-full"/>
					</div>
				</div>
				<div class="w-full mt-6 md:w-1/2 md:mt-0 pullout pullout--both md:pullout--right-1/2 [--pullout-amount:100vw] md:[--pullout-amount:30px] lg:[--pullout-amount:130px]">
					<div class="md:pl-4">
						<img src="https://unsplash.it/800/600?random" alt="" class="w-full"/>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section section--default">
		<div class="container bg-gray-200 py-10">
			<div class="flex flex-wrap">
				<div class="w-full md:w-1/3 pullout pullout--both md:pullout--left-1/3">
					<div class="md:pr-4">
						<img src="https://unsplash.it/800/600?random" alt="" class="w-full"/>
					</div>
				</div>
				<div class="w-full mt-6 md:w-2/3 md:mt-0 pullout pullout--both md:pullout--right-2/3">
					<div class="md:pl-4">
						<img src="https://unsplash.it/800/600?random" alt="" class="w-full"/>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section section--default">
		<div class="container bg-gray-200 py-10">
			<div class="flex flex-wrap">
				<div class="w-full md:w-1/4 pullout pullout--both md:pullout--left-1/4">
					<div class="md:pr-4">
						<img src="https://unsplash.it/800/600?random" alt="" class="w-full"/>
					</div>
				</div>
				<div class="w-full mt-6 md:w-3/4 md:mt-0 pullout pullout--both md:pullout--right-3/4">
					<div class="md:pl-4">
						<img src="https://unsplash.it/800/600?random" alt="" class="w-full"/>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
