{% extends "_site/_layout" %}

{% set breadcrumbs = [
    {
		url: './overview.twig',
		title: 'Plugins'
	},
    {
		url: './scrollParallax.twig',
		title: 'Scroll Parallax'
	},
] %}

{% block content %}

	<div class="section section--default">
		<div class="container">
			{% include '_site/_snippet/_nav/_breadcrumb' %}
            <h1>This is an example of the parallax plugin.</h1>
		</div>
	</div>
	<div class="section section--default">
		<div class="container">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, placeat? Beatae corporis veritatis dolor nulla incidunt amet voluptates tempore doloremque, maiores fuga voluptatum porro laudantium sapiente perspiciatis ex itaque magni praesentium est et adipisci quod. Quidem vero aspernatur accusamus delectus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat voluptatum doloremque amet neque at doloribus similique corrupti, voluptatem id vero tempore, tempora architecto et quo explicabo cum modi rerum eligendi vitae consectetur nobis! Recusandae esse pariatur veritatis facere eligendi voluptatem provident soluta ipsum maiores, ullam quia qui doloribus veniam iusto optio possimus. Labore quisquam nulla explicabo necessitatibus. Tenetur ut voluptate voluptas possimus quae corporis, nobis consequatur, necessitatibus quibusdam debitis dolor expedita vero rem unde itaque voluptates voluptatum illum quisquam aperiam eum? Quasi quia facilis mollitia adipisci iste eos, voluptatibus reprehenderit velit a atque eaque eius! Laudantium perferendis ipsam nisi maiores? Pariatur accusamus repellat sequi sit quaerat non corporis eaque necessitatibus illo ratione, provident aut ut cum iste quibusdam aspernatur voluptas repellendus dolor. Voluptatibus repellat perspiciatis dolores quidem aliquam provident! Assumenda quibusdam modi, eveniet obcaecati ducimus sint error unde earum delectus impedit maxime culpa quod dignissimos ipsam dolorum placeat doloremque similique?</p>
		</div>
	</div>
	<div class="section section--default">
		<div class="container">
			<div class="grid grid-cols-1 gap-5 md:grid-cols-2">
				<div class="relative">
					<div class="absolute w-32 h-32 bg-primary" data-s-parallax="true" data-s-parallax-from='{"transform": "translate(0%, 0%) rotate(0deg) scale(100%)", "backgroundColor": "#ff0000", "top": "0%", "left": "0%"}' data-s-parallax-to='{"transform": "translate(-100%, -100%) rotate(360deg) scale(50%)", "backgroundColor": "#00ff00", "top": "100%", "left": "100%", "borderRadius": "100%"}'></div>
				</div>
				<div>
            		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, placeat? Beatae corporis veritatis dolor nulla incidunt amet voluptates tempore doloremque, maiores fuga voluptatum porro laudantium sapiente perspiciatis ex itaque magni praesentium est et adipisci quod. Quidem vero aspernatur accusamus delectus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat voluptatum doloremque amet neque at doloribus similique corrupti, voluptatem id vero tempore, tempora architecto et quo explicabo cum modi rerum eligendi vitae consectetur nobis! Recusandae esse pariatur veritatis facere eligendi voluptatem provident soluta ipsum maiores, ullam quia qui doloribus veniam iusto optio possimus. Labore quisquam nulla explicabo necessitatibus. Tenetur ut voluptate voluptas possimus quae corporis, nobis consequatur, necessitatibus quibusdam debitis dolor expedita vero rem unde itaque voluptates voluptatum illum quisquam aperiam eum? Quasi quia facilis mollitia adipisci iste eos, voluptatibus reprehenderit velit a atque eaque eius! Laudantium perferendis ipsam nisi maiores? Pariatur accusamus repellat sequi sit quaerat non corporis eaque necessitatibus illo ratione, provident aut ut cum iste quibusdam aspernatur voluptas repellendus dolor. Voluptatibus repellat perspiciatis dolores quidem aliquam provident! Assumenda quibusdam modi, eveniet obcaecati ducimus sint error unde earum delectus impedit maxime culpa quod dignissimos ipsam dolorum placeat doloremque similique?</p>
				</div>
			</div>
		</div>
	</div>
	<div class="section section--default">
		<div class="container">
			<h2>Move up with overflow true</h2>
            <div class="" 
				data-s-parallax="true"
				data-s-parallax-background="false"
				data-s-parallax-delay="0"
				{# Options for orientation are: up, down, left, right, up-right, up-left, down-left, down-right #}
            	data-s-parallax-orientation='up' 
            	data-s-parallax-scale="1.5"
            	data-s-parallax-overflow="true"
				data-s-parallax-custom-container="">
                <img src="https://unsplash.it/2048/1536?random&gravity=center" sizes="100vw" alt="" loading="lazy"/>
            </div>
		</div>
	</div>
	<div class="section section--default">
		<div class="container">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, placeat? Beatae corporis veritatis dolor nulla incidunt amet voluptates tempore doloremque, maiores fuga voluptatum porro laudantium sapiente perspiciatis ex itaque magni praesentium est et adipisci quod. Quidem vero aspernatur accusamus delectus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat voluptatum doloremque amet neque at doloribus similique corrupti, voluptatem id vero tempore, tempora architecto et quo explicabo cum modi rerum eligendi vitae consectetur nobis! Recusandae esse pariatur veritatis facere eligendi voluptatem provident soluta ipsum maiores, ullam quia qui doloribus veniam iusto optio possimus. Labore quisquam nulla explicabo necessitatibus. Tenetur ut voluptate voluptas possimus quae corporis, nobis consequatur, necessitatibus quibusdam debitis dolor expedita vero rem unde itaque voluptates voluptatum illum quisquam aperiam eum? Quasi quia facilis mollitia adipisci iste eos, voluptatibus reprehenderit velit a atque eaque eius! Laudantium perferendis ipsam nisi maiores? Pariatur accusamus repellat sequi sit quaerat non corporis eaque necessitatibus illo ratione, provident aut ut cum iste quibusdam aspernatur voluptas repellendus dolor. Voluptatibus repellat perspiciatis dolores quidem aliquam provident! Assumenda quibusdam modi, eveniet obcaecati ducimus sint error unde earum delectus impedit maxime culpa quod dignissimos ipsam dolorum placeat doloremque similique?</p>
		</div>
	</div>
	<div class="section section--default">
		<div class="container">
			<h2>Move down with overflow true</h2>
            <div class="" 
				data-s-parallax="true"
				data-s-parallax-background="false"
				data-s-parallax-delay="0"
            	data-s-parallax-orientation='down'
            	data-s-parallax-scale="500px"
            	data-s-parallax-overflow="true">
                <img src="https://unsplash.it/2048/1535?random&gravity=center" sizes="100vw" alt="" loading="lazy"/>
            </div>
		</div>
	</div>
	<div class="section section--default">
		<div class="container">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, placeat? Beatae corporis veritatis dolor nulla incidunt amet voluptates tempore doloremque, maiores fuga voluptatum porro laudantium sapiente perspiciatis ex itaque magni praesentium est et adipisci quod. Quidem vero aspernatur accusamus delectus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat voluptatum doloremque amet neque at doloribus similique corrupti, voluptatem id vero tempore, tempora architecto et quo explicabo cum modi rerum eligendi vitae consectetur nobis! Recusandae esse pariatur veritatis facere eligendi voluptatem provident soluta ipsum maiores, ullam quia qui doloribus veniam iusto optio possimus. Labore quisquam nulla explicabo necessitatibus. Tenetur ut voluptate voluptas possimus quae corporis, nobis consequatur, necessitatibus quibusdam debitis dolor expedita vero rem unde itaque voluptates voluptatum illum quisquam aperiam eum? Quasi quia facilis mollitia adipisci iste eos, voluptatibus reprehenderit velit a atque eaque eius! Laudantium perferendis ipsam nisi maiores? Pariatur accusamus repellat sequi sit quaerat non corporis eaque necessitatibus illo ratione, provident aut ut cum iste quibusdam aspernatur voluptas repellendus dolor. Voluptatibus repellat perspiciatis dolores quidem aliquam provident! Assumenda quibusdam modi, eveniet obcaecati ducimus sint error unde earum delectus impedit maxime culpa quod dignissimos ipsam dolorum placeat doloremque similique?</p>
		</div>
	</div>
	<div class="section section--default" id="customContainer">
		<div class="container">
			<h2>Move down with custom container</h2>
            <div class="" 
				data-s-parallax="true"
				data-s-parallax-background="false"
				data-s-parallax-delay="0"
            	data-s-parallax-orientation='down'
            	data-s-parallax-scale="2"
            	data-s-parallax-overflow="true"
				data-s-parallax-custom-container="#customContainer">
                <img src="https://unsplash.it/2048/1534?random&gravity=center" sizes="100vw" alt="" loading="lazy"/>
            </div>
		</div>
	</div>
	<div class="section section--default">
		<div class="container">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, placeat? Beatae corporis veritatis dolor nulla incidunt amet voluptates tempore doloremque, maiores fuga voluptatum porro laudantium sapiente perspiciatis ex itaque magni praesentium est et adipisci quod. Quidem vero aspernatur accusamus delectus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat voluptatum doloremque amet neque at doloribus similique corrupti, voluptatem id vero tempore, tempora architecto et quo explicabo cum modi rerum eligendi vitae consectetur nobis! Recusandae esse pariatur veritatis facere eligendi voluptatem provident soluta ipsum maiores, ullam quia qui doloribus veniam iusto optio possimus. Labore quisquam nulla explicabo necessitatibus. Tenetur ut voluptate voluptas possimus quae corporis, nobis consequatur, necessitatibus quibusdam debitis dolor expedita vero rem unde itaque voluptates voluptatum illum quisquam aperiam eum? Quasi quia facilis mollitia adipisci iste eos, voluptatibus reprehenderit velit a atque eaque eius! Laudantium perferendis ipsam nisi maiores? Pariatur accusamus repellat sequi sit quaerat non corporis eaque necessitatibus illo ratione, provident aut ut cum iste quibusdam aspernatur voluptas repellendus dolor. Voluptatibus repellat perspiciatis dolores quidem aliquam provident! Assumenda quibusdam modi, eveniet obcaecati ducimus sint error unde earum delectus impedit maxime culpa quod dignissimos ipsam dolorum placeat doloremque similique?</p>
		</div>
	</div>
	<div class="section section--default">
		<div class="container">
			<h2>Move right with overflow false</h2>
            <div class="" 
				data-s-parallax="true"
				data-s-parallax-background="false"
				data-s-parallax-delay="0"
            	data-s-parallax-orientation='right'
            	data-s-parallax-scale="1.5"
            	data-s-parallax-overflow="false">
                <img src="https://unsplash.it/2048/1533?random&gravity=center" sizes="100vw" alt="" loading="lazy"/>
            </div>
		</div>
	</div>
	<div class="section section--default">
		<div class="container">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, placeat? Beatae corporis veritatis dolor nulla incidunt amet voluptates tempore doloremque, maiores fuga voluptatum porro laudantium sapiente perspiciatis ex itaque magni praesentium est et adipisci quod. Quidem vero aspernatur accusamus delectus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat voluptatum doloremque amet neque at doloribus similique corrupti, voluptatem id vero tempore, tempora architecto et quo explicabo cum modi rerum eligendi vitae consectetur nobis! Recusandae esse pariatur veritatis facere eligendi voluptatem provident soluta ipsum maiores, ullam quia qui doloribus veniam iusto optio possimus. Labore quisquam nulla explicabo necessitatibus. Tenetur ut voluptate voluptas possimus quae corporis, nobis consequatur, necessitatibus quibusdam debitis dolor expedita vero rem unde itaque voluptates voluptatum illum quisquam aperiam eum? Quasi quia facilis mollitia adipisci iste eos, voluptatibus reprehenderit velit a atque eaque eius! Laudantium perferendis ipsam nisi maiores? Pariatur accusamus repellat sequi sit quaerat non corporis eaque necessitatibus illo ratione, provident aut ut cum iste quibusdam aspernatur voluptas repellendus dolor. Voluptatibus repellat perspiciatis dolores quidem aliquam provident! Assumenda quibusdam modi, eveniet obcaecati ducimus sint error unde earum delectus impedit maxime culpa quod dignissimos ipsam dolorum placeat doloremque similique?</p>
		</div>
	</div>
	<div class="section section--default">
		<div class="container">
			<h2>Move left with overflow false</h2>
            <div class="" 
				data-s-parallax="true"
				data-s-parallax-background="false"
				data-s-parallax-delay="0"
            	data-s-parallax-orientation='left'
            	data-s-parallax-scale="1.5"
            	data-s-parallax-overflow="false">
                <img src="https://unsplash.it/2048/1532?random&gravity=center" sizes="100vw" alt="" loading="lazy"/>
            </div>
		</div>
	</div>
	<div class="section section--default">
		<div class="container">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, placeat? Beatae corporis veritatis dolor nulla incidunt amet voluptates tempore doloremque, maiores fuga voluptatum porro laudantium sapiente perspiciatis ex itaque magni praesentium est et adipisci quod. Quidem vero aspernatur accusamus delectus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat voluptatum doloremque amet neque at doloribus similique corrupti, voluptatem id vero tempore, tempora architecto et quo explicabo cum modi rerum eligendi vitae consectetur nobis! Recusandae esse pariatur veritatis facere eligendi voluptatem provident soluta ipsum maiores, ullam quia qui doloribus veniam iusto optio possimus. Labore quisquam nulla explicabo necessitatibus. Tenetur ut voluptate voluptas possimus quae corporis, nobis consequatur, necessitatibus quibusdam debitis dolor expedita vero rem unde itaque voluptates voluptatum illum quisquam aperiam eum? Quasi quia facilis mollitia adipisci iste eos, voluptatibus reprehenderit velit a atque eaque eius! Laudantium perferendis ipsam nisi maiores? Pariatur accusamus repellat sequi sit quaerat non corporis eaque necessitatibus illo ratione, provident aut ut cum iste quibusdam aspernatur voluptas repellendus dolor. Voluptatibus repellat perspiciatis dolores quidem aliquam provident! Assumenda quibusdam modi, eveniet obcaecati ducimus sint error unde earum delectus impedit maxime culpa quod dignissimos ipsam dolorum placeat doloremque similique?</p>
		</div>
	</div>
	<div class="section section--default">
		<div class="container">
			<h2>Move down and right with overflow true</h2>
            <div class="" 
				data-s-parallax="true"
				data-s-parallax-background="false"
				data-s-parallax-delay="0"
            	data-s-parallax-orientation='down-right'
            	data-s-parallax-scale="1.5"
            	data-s-parallax-overflow="true">
                <img src="https://unsplash.it/2048/1531?random&gravity=center" sizes="100vw" alt="" loading="lazy"/>
            </div>
		</div>
	</div>
	<div class="section section--default">
		<div class="container">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, placeat? Beatae corporis veritatis dolor nulla incidunt amet voluptates tempore doloremque, maiores fuga voluptatum porro laudantium sapiente perspiciatis ex itaque magni praesentium est et adipisci quod. Quidem vero aspernatur accusamus delectus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat voluptatum doloremque amet neque at doloribus similique corrupti, voluptatem id vero tempore, tempora architecto et quo explicabo cum modi rerum eligendi vitae consectetur nobis! Recusandae esse pariatur veritatis facere eligendi voluptatem provident soluta ipsum maiores, ullam quia qui doloribus veniam iusto optio possimus. Labore quisquam nulla explicabo necessitatibus. Tenetur ut voluptate voluptas possimus quae corporis, nobis consequatur, necessitatibus quibusdam debitis dolor expedita vero rem unde itaque voluptates voluptatum illum quisquam aperiam eum? Quasi quia facilis mollitia adipisci iste eos, voluptatibus reprehenderit velit a atque eaque eius! Laudantium perferendis ipsam nisi maiores? Pariatur accusamus repellat sequi sit quaerat non corporis eaque necessitatibus illo ratione, provident aut ut cum iste quibusdam aspernatur voluptas repellendus dolor. Voluptatibus repellat perspiciatis dolores quidem aliquam provident! Assumenda quibusdam modi, eveniet obcaecati ducimus sint error unde earum delectus impedit maxime culpa quod dignissimos ipsam dolorum placeat doloremque similique?</p>
		</div>
	</div>
	<div class="section section--default">
		<div class="container">
			<h2>Move with breakpoint query</h2>
            <div class="" 
				data-s-parallax='[{"breakpoint":0,"parallax": false}, {"breakpoint":480,"parallax": {"background":false, "orientation": "right", "scale": 1.5, "overflow": false}},{"breakpoint":820, "parallax": {"background":false, "orientation": "up", "scale": 1.5, "overflow": true}}, {"breakpoint":980, "parallax": {"background":false, "orientation": "left", "scale": "400px", "overflow": true}}]'>
                <img src="https://unsplash.it/2048/1530?random&gravity=center" sizes="100vw" alt="" loading="lazy"/>
            </div>
		</div>
	</div>
	<div class="section section--default">
		<div class="container">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, placeat? Beatae corporis veritatis dolor nulla incidunt amet voluptates tempore doloremque, maiores fuga voluptatum porro laudantium sapiente perspiciatis ex itaque magni praesentium est et adipisci quod. Quidem vero aspernatur accusamus delectus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat voluptatum doloremque amet neque at doloribus similique corrupti, voluptatem id vero tempore, tempora architecto et quo explicabo cum modi rerum eligendi vitae consectetur nobis! Recusandae esse pariatur veritatis facere eligendi voluptatem provident soluta ipsum maiores, ullam quia qui doloribus veniam iusto optio possimus. Labore quisquam nulla explicabo necessitatibus. Tenetur ut voluptate voluptas possimus quae corporis, nobis consequatur, necessitatibus quibusdam debitis dolor expedita vero rem unde itaque voluptates voluptatum illum quisquam aperiam eum? Quasi quia facilis mollitia adipisci iste eos, voluptatibus reprehenderit velit a atque eaque eius! Laudantium perferendis ipsam nisi maiores? Pariatur accusamus repellat sequi sit quaerat non corporis eaque necessitatibus illo ratione, provident aut ut cum iste quibusdam aspernatur voluptas repellendus dolor. Voluptatibus repellat perspiciatis dolores quidem aliquam provident! Assumenda quibusdam modi, eveniet obcaecati ducimus sint error unde earum delectus impedit maxime culpa quod dignissimos ipsam dolorum placeat doloremque similique?</p>
		</div>
	</div>
	<div class="section section--default">
		<div class="container">
			<h2>Background image</h2>
            <div class="js-bg-target aspect-video" 
				data-s-parallax="true"
				data-s-parallax-background="true"
				data-s-parallax-delay="0"
            	data-s-parallax-orientation='down'
            	data-s-parallax-scale="1.5">
                <img src="https://unsplash.it/2048/1529?random&gravity=center" sizes="100vw" alt="" class="sr-only js-bg-src" loading="lazy"/>
            </div>
		</div>
	</div>
	<div class="section section--default">
		<div class="container">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, placeat? Beatae corporis veritatis dolor nulla incidunt amet voluptates tempore doloremque, maiores fuga voluptatum porro laudantium sapiente perspiciatis ex itaque magni praesentium est et adipisci quod. Quidem vero aspernatur accusamus delectus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat voluptatum doloremque amet neque at doloribus similique corrupti, voluptatem id vero tempore, tempora architecto et quo explicabo cum modi rerum eligendi vitae consectetur nobis! Recusandae esse pariatur veritatis facere eligendi voluptatem provident soluta ipsum maiores, ullam quia qui doloribus veniam iusto optio possimus. Labore quisquam nulla explicabo necessitatibus. Tenetur ut voluptate voluptas possimus quae corporis, nobis consequatur, necessitatibus quibusdam debitis dolor expedita vero rem unde itaque voluptates voluptatum illum quisquam aperiam eum? Quasi quia facilis mollitia adipisci iste eos, voluptatibus reprehenderit velit a atque eaque eius! Laudantium perferendis ipsam nisi maiores? Pariatur accusamus repellat sequi sit quaerat non corporis eaque necessitatibus illo ratione, provident aut ut cum iste quibusdam aspernatur voluptas repellendus dolor. Voluptatibus repellat perspiciatis dolores quidem aliquam provident! Assumenda quibusdam modi, eveniet obcaecati ducimus sint error unde earum delectus impedit maxime culpa quod dignissimos ipsam dolorum placeat doloremque similique?</p>
		</div>
	</div>
	<div class="section section--default">
		<div class="container">
			<h2>Background image</h2>
            <div class="js-bg-target aspect-[1/4] w-1/4" 
				data-s-parallax="true"
				data-s-parallax-background="true"
				data-s-parallax-delay="0"
            	data-s-parallax-orientation='up'
            	data-s-parallax-scale="1.5">
                <img src="https://unsplash.it/2048/1529?random&gravity=center" sizes="100vw" alt="" class="sr-only js-bg-src" loading="lazy"/>
            </div>
		</div>
	</div>
	<div class="section section--default">
		<div class="container">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, placeat? Beatae corporis veritatis dolor nulla incidunt amet voluptates tempore doloremque, maiores fuga voluptatum porro laudantium sapiente perspiciatis ex itaque magni praesentium est et adipisci quod. Quidem vero aspernatur accusamus delectus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat voluptatum doloremque amet neque at doloribus similique corrupti, voluptatem id vero tempore, tempora architecto et quo explicabo cum modi rerum eligendi vitae consectetur nobis! Recusandae esse pariatur veritatis facere eligendi voluptatem provident soluta ipsum maiores, ullam quia qui doloribus veniam iusto optio possimus. Labore quisquam nulla explicabo necessitatibus. Tenetur ut voluptate voluptas possimus quae corporis, nobis consequatur, necessitatibus quibusdam debitis dolor expedita vero rem unde itaque voluptates voluptatum illum quisquam aperiam eum? Quasi quia facilis mollitia adipisci iste eos, voluptatibus reprehenderit velit a atque eaque eius! Laudantium perferendis ipsam nisi maiores? Pariatur accusamus repellat sequi sit quaerat non corporis eaque necessitatibus illo ratione, provident aut ut cum iste quibusdam aspernatur voluptas repellendus dolor. Voluptatibus repellat perspiciatis dolores quidem aliquam provident! Assumenda quibusdam modi, eveniet obcaecati ducimus sint error unde earum delectus impedit maxime culpa quod dignissimos ipsam dolorum placeat doloremque similique?</p>
		</div>
	</div>
	<div class="section section--default">
		<div class="container">
			<h2>Background image set through css</h2>
			<style>
				#backgroundElement{
					background-image: url("https://unsplash.it/1024/768?random&gravity=center");
				}
			</style>
            <div class="js-bg-target aspect-video" id="backgroundElement"
				data-s-parallax="true"
				data-s-parallax-background="true"
				data-s-parallax-delay="0"
            	data-s-parallax-orientation='up'
            	data-s-parallax-scale="1.5"
				data-s-parallax-ratio="4:3">
            </div>
		</div>
	</div>
	<div class="section section--default">
		<div class="container">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, placeat? Beatae corporis veritatis dolor nulla incidunt amet voluptates tempore doloremque, maiores fuga voluptatum porro laudantium sapiente perspiciatis ex itaque magni praesentium est et adipisci quod. Quidem vero aspernatur accusamus delectus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat voluptatum doloremque amet neque at doloribus similique corrupti, voluptatem id vero tempore, tempora architecto et quo explicabo cum modi rerum eligendi vitae consectetur nobis! Recusandae esse pariatur veritatis facere eligendi voluptatem provident soluta ipsum maiores, ullam quia qui doloribus veniam iusto optio possimus. Labore quisquam nulla explicabo necessitatibus. Tenetur ut voluptate voluptas possimus quae corporis, nobis consequatur, necessitatibus quibusdam debitis dolor expedita vero rem unde itaque voluptates voluptatum illum quisquam aperiam eum? Quasi quia facilis mollitia adipisci iste eos, voluptatibus reprehenderit velit a atque eaque eius! Laudantium perferendis ipsam nisi maiores? Pariatur accusamus repellat sequi sit quaerat non corporis eaque necessitatibus illo ratione, provident aut ut cum iste quibusdam aspernatur voluptas repellendus dolor. Voluptatibus repellat perspiciatis dolores quidem aliquam provident! Assumenda quibusdam modi, eveniet obcaecati ducimus sint error unde earum delectus impedit maxime culpa quod dignissimos ipsam dolorum placeat doloremque similique?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, placeat? Beatae corporis veritatis dolor nulla incidunt amet voluptates tempore doloremque, maiores fuga voluptatum porro laudantium sapiente perspiciatis ex itaque magni praesentium est et adipisci quod. Quidem vero aspernatur accusamus delectus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat voluptatum doloremque amet neque at doloribus similique corrupti, voluptatem id vero tempore, tempora architecto et quo explicabo cum modi rerum eligendi vitae consectetur nobis! Recusandae esse pariatur veritatis facere eligendi voluptatem provident soluta ipsum maiores, ullam quia qui doloribus veniam iusto optio possimus. Labore quisquam nulla explicabo necessitatibus. Tenetur ut voluptate voluptas possimus quae corporis, nobis consequatur, necessitatibus quibusdam debitis dolor expedita vero rem unde itaque voluptates voluptatum illum quisquam aperiam eum? Quasi quia facilis mollitia adipisci iste eos, voluptatibus reprehenderit velit a atque eaque eius! Laudantium perferendis ipsam nisi maiores? Pariatur accusamus repellat sequi sit quaerat non corporis eaque necessitatibus illo ratione, provident aut ut cum iste quibusdam aspernatur voluptas repellendus dolor. Voluptatibus repellat perspiciatis dolores quidem aliquam provident! Assumenda quibusdam modi, eveniet obcaecati ducimus sint error unde earum delectus impedit maxime culpa quod dignissimos ipsam dolorum placeat doloremque similique?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, placeat? Beatae corporis veritatis dolor nulla incidunt amet voluptates tempore doloremque, maiores fuga voluptatum porro laudantium sapiente perspiciatis ex itaque magni praesentium est et adipisci quod. Quidem vero aspernatur accusamus delectus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat voluptatum doloremque amet neque at doloribus similique corrupti, voluptatem id vero tempore, tempora architecto et quo explicabo cum modi rerum eligendi vitae consectetur nobis! Recusandae esse pariatur veritatis facere eligendi voluptatem provident soluta ipsum maiores, ullam quia qui doloribus veniam iusto optio possimus. Labore quisquam nulla explicabo necessitatibus. Tenetur ut voluptate voluptas possimus quae corporis, nobis consequatur, necessitatibus quibusdam debitis dolor expedita vero rem unde itaque voluptates voluptatum illum quisquam aperiam eum? Quasi quia facilis mollitia adipisci iste eos, voluptatibus reprehenderit velit a atque eaque eius! Laudantium perferendis ipsam nisi maiores? Pariatur accusamus repellat sequi sit quaerat non corporis eaque necessitatibus illo ratione, provident aut ut cum iste quibusdam aspernatur voluptas repellendus dolor. Voluptatibus repellat perspiciatis dolores quidem aliquam provident! Assumenda quibusdam modi, eveniet obcaecati ducimus sint error unde earum delectus impedit maxime culpa quod dignissimos ipsam dolorum placeat doloremque similique?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, placeat? Beatae corporis veritatis dolor nulla incidunt amet voluptates tempore doloremque, maiores fuga voluptatum porro laudantium sapiente perspiciatis ex itaque magni praesentium est et adipisci quod. Quidem vero aspernatur accusamus delectus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat voluptatum doloremque amet neque at doloribus similique corrupti, voluptatem id vero tempore, tempora architecto et quo explicabo cum modi rerum eligendi vitae consectetur nobis! Recusandae esse pariatur veritatis facere eligendi voluptatem provident soluta ipsum maiores, ullam quia qui doloribus veniam iusto optio possimus. Labore quisquam nulla explicabo necessitatibus. Tenetur ut voluptate voluptas possimus quae corporis, nobis consequatur, necessitatibus quibusdam debitis dolor expedita vero rem unde itaque voluptates voluptatum illum quisquam aperiam eum? Quasi quia facilis mollitia adipisci iste eos, voluptatibus reprehenderit velit a atque eaque eius! Laudantium perferendis ipsam nisi maiores? Pariatur accusamus repellat sequi sit quaerat non corporis eaque necessitatibus illo ratione, provident aut ut cum iste quibusdam aspernatur voluptas repellendus dolor. Voluptatibus repellat perspiciatis dolores quidem aliquam provident! Assumenda quibusdam modi, eveniet obcaecati ducimus sint error unde earum delectus impedit maxime culpa quod dignissimos ipsam dolorum placeat doloremque similique?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, placeat? Beatae corporis veritatis dolor nulla incidunt amet voluptates tempore doloremque, maiores fuga voluptatum porro laudantium sapiente perspiciatis ex itaque magni praesentium est et adipisci quod. Quidem vero aspernatur accusamus delectus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat voluptatum doloremque amet neque at doloribus similique corrupti, voluptatem id vero tempore, tempora architecto et quo explicabo cum modi rerum eligendi vitae consectetur nobis! Recusandae esse pariatur veritatis facere eligendi voluptatem provident soluta ipsum maiores, ullam quia qui doloribus veniam iusto optio possimus. Labore quisquam nulla explicabo necessitatibus. Tenetur ut voluptate voluptas possimus quae corporis, nobis consequatur, necessitatibus quibusdam debitis dolor expedita vero rem unde itaque voluptates voluptatum illum quisquam aperiam eum? Quasi quia facilis mollitia adipisci iste eos, voluptatibus reprehenderit velit a atque eaque eius! Laudantium perferendis ipsam nisi maiores? Pariatur accusamus repellat sequi sit quaerat non corporis eaque necessitatibus illo ratione, provident aut ut cum iste quibusdam aspernatur voluptas repellendus dolor. Voluptatibus repellat perspiciatis dolores quidem aliquam provident! Assumenda quibusdam modi, eveniet obcaecati ducimus sint error unde earum delectus impedit maxime culpa quod dignissimos ipsam dolorum placeat doloremque similique?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, placeat? Beatae corporis veritatis dolor nulla incidunt amet voluptates tempore doloremque, maiores fuga voluptatum porro laudantium sapiente perspiciatis ex itaque magni praesentium est et adipisci quod. Quidem vero aspernatur accusamus delectus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat voluptatum doloremque amet neque at doloribus similique corrupti, voluptatem id vero tempore, tempora architecto et quo explicabo cum modi rerum eligendi vitae consectetur nobis! Recusandae esse pariatur veritatis facere eligendi voluptatem provident soluta ipsum maiores, ullam quia qui doloribus veniam iusto optio possimus. Labore quisquam nulla explicabo necessitatibus. Tenetur ut voluptate voluptas possimus quae corporis, nobis consequatur, necessitatibus quibusdam debitis dolor expedita vero rem unde itaque voluptates voluptatum illum quisquam aperiam eum? Quasi quia facilis mollitia adipisci iste eos, voluptatibus reprehenderit velit a atque eaque eius! Laudantium perferendis ipsam nisi maiores? Pariatur accusamus repellat sequi sit quaerat non corporis eaque necessitatibus illo ratione, provident aut ut cum iste quibusdam aspernatur voluptas repellendus dolor. Voluptatibus repellat perspiciatis dolores quidem aliquam provident! Assumenda quibusdam modi, eveniet obcaecati ducimus sint error unde earum delectus impedit maxime culpa quod dignissimos ipsam dolorum placeat doloremque similique?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, placeat? Beatae corporis veritatis dolor nulla incidunt amet voluptates tempore doloremque, maiores fuga voluptatum porro laudantium sapiente perspiciatis ex itaque magni praesentium est et adipisci quod. Quidem vero aspernatur accusamus delectus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat voluptatum doloremque amet neque at doloribus similique corrupti, voluptatem id vero tempore, tempora architecto et quo explicabo cum modi rerum eligendi vitae consectetur nobis! Recusandae esse pariatur veritatis facere eligendi voluptatem provident soluta ipsum maiores, ullam quia qui doloribus veniam iusto optio possimus. Labore quisquam nulla explicabo necessitatibus. Tenetur ut voluptate voluptas possimus quae corporis, nobis consequatur, necessitatibus quibusdam debitis dolor expedita vero rem unde itaque voluptates voluptatum illum quisquam aperiam eum? Quasi quia facilis mollitia adipisci iste eos, voluptatibus reprehenderit velit a atque eaque eius! Laudantium perferendis ipsam nisi maiores? Pariatur accusamus repellat sequi sit quaerat non corporis eaque necessitatibus illo ratione, provident aut ut cum iste quibusdam aspernatur voluptas repellendus dolor. Voluptatibus repellat perspiciatis dolores quidem aliquam provident! Assumenda quibusdam modi, eveniet obcaecati ducimus sint error unde earum delectus impedit maxime culpa quod dignissimos ipsam dolorum placeat doloremque similique?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, placeat? Beatae corporis veritatis dolor nulla incidunt amet voluptates tempore doloremque, maiores fuga voluptatum porro laudantium sapiente perspiciatis ex itaque magni praesentium est et adipisci quod. Quidem vero aspernatur accusamus delectus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat voluptatum doloremque amet neque at doloribus similique corrupti, voluptatem id vero tempore, tempora architecto et quo explicabo cum modi rerum eligendi vitae consectetur nobis! Recusandae esse pariatur veritatis facere eligendi voluptatem provident soluta ipsum maiores, ullam quia qui doloribus veniam iusto optio possimus. Labore quisquam nulla explicabo necessitatibus. Tenetur ut voluptate voluptas possimus quae corporis, nobis consequatur, necessitatibus quibusdam debitis dolor expedita vero rem unde itaque voluptates voluptatum illum quisquam aperiam eum? Quasi quia facilis mollitia adipisci iste eos, voluptatibus reprehenderit velit a atque eaque eius! Laudantium perferendis ipsam nisi maiores? Pariatur accusamus repellat sequi sit quaerat non corporis eaque necessitatibus illo ratione, provident aut ut cum iste quibusdam aspernatur voluptas repellendus dolor. Voluptatibus repellat perspiciatis dolores quidem aliquam provident! Assumenda quibusdam modi, eveniet obcaecati ducimus sint error unde earum delectus impedit maxime culpa quod dignissimos ipsam dolorum placeat doloremque similique?</p>
		</div>
	</div>
{% endblock %}
