{% extends "_layout" %}

{% set breadcrumbs = [
    {
		url: './overview.twig',
		title: 'Plugins'
	},
    {
		url: './scrollTo.twig',
		title: 'Scroll To'
	},
] %}

{% block content %}

	<div class="section section--default">
		<div class="container">
			<div class="w8/12">
				<h1 id="top">Scroll to example</h1>
				<h2>
					<a href="#bottom" class="underline text-primary hover:no-underline js-smooth-scroll">Scroll to bottom</a>
				</h2>
				<h2>
					<a href="#mid" class="underline text-primary hover:no-underline js-smooth-scroll">Scroll to mid</a>
				</h2>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
				<h2 id="mid">Mid</h2>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, impedit cupiditate nulla facilis voluptates quisquam dicta animi. Aperiam saepe rem architecto vitae ea quis blanditiis reprehenderit optio facilis, labore tenetur corrupti nam incidunt eum, ex corporis pariatur iste quisquam fuga laborum ipsum? Quo at, nostrum vero ipsam debitis vel animi.</p>
				<h2>
					<a href="#top" class="underline text-primary hover:no-underline js-smooth-scroll">Scroll to top</a>
				</h2>
				<h2 id="bottom">
					<a href="#mid" class="underline text-primary hover:no-underline js-smooth-scroll">Scroll to mid</a>
				</h2>
			</div>
		</div>
	</div>
{% endblock %}
