{% extends '_site/_layout' %} 
{% set breadcrumbs = [ 
    { url: './overview.twig', title: 'Plugins' }, 
    { url: './tooltip.twig', title: 'Tooltip' } ] 
%} 
{% block content %}
<div class="section section--default">
  <div class="container">
    {% include '_site/_snippet/_nav/_breadcrumb' %}
    <div class="w8/12">
      <h1>Tooltip example</h1>
      <p>This component is a small wrapper of the tippy.js library into the Craft Base install. For more information on tippy.js got to <a href="https://atomiks.github.io/tippyjs/">https://atomiks.github.io/tippyjs/</a>.</p>
      <p>To style the tooltip, just alter ./css/components/tippy.css.</p>
    </div>
  </div>
</div>

<div class="section section--default">
  <div class="container">
    <h2>Tooltip on the button</h2>
    <div class="space-x-8">
        <button type="button" class="btn" data-tippy-content="Tooltip">Text</button>
        <button type="button" class="btn" data-tippy-content="Another Tooltip">Text</button>
    </div>
    <h2>Tooltip on the  with options</h2>
    <p>For a full set of the tippy options visit: <a href="https://atomiks.github.io/tippyjs/v6/all-props">https://atomiks.github.io/tippyjs/v6/all-props</a></p>
    <div class="mt-4 space-x-8">
        <button type="button" class="btn" data-tippy-content="Tooltip" 
                data-tippy-duration="0"
                data-tippy-arrow="false"
                data-tippy-delay="[1000, 200]">No arrow and delay</button>
        <button type="button" class="btn" data-tippy-content="Tooltip" 
                data-tippy-placement="bottom">Tooltip at the bottom</button>
    </div>
    <h2>Tooltip with template</h2>
    <div>
        <button type="button" class="btn" id="button" data-tippy-template="tooltip">Tooltip</button>
        <div class="hidden">
            <div id="tooltip" role="tooltip">My tooltip <strong>With html enabled</strong>.</div>
        </div>
    </div>
    <h2>Tooltip with template and interactive</h2>
    <div>
        <button type="button" class="btn" id="button" data-tippy-interactive="true" data-tippy-template="tooltipInteractive">Tooltip</button>
        <div class="hidden">
            <div id="tooltipInteractive" role="tooltip">My tooltip <a href="https://www.statik.be">Go to Statik</a>.</div>
        </div>
    </div>
  </div>
</div>

{% endblock %}