@import 'tailwindcss/base';

@import './base/mixins.css';
@import './base/icon.css';
/* @import './base/fonts.css'; */
@import './base/base.css';
@import './base/print.css';

@import 'tailwindcss/components';

@import './components/accordion.css';
@import './components/ajax-search.css';
@import './components/autocomplete.css';
@import './components/button.css';
@import './components/cookie.css';
@import './components/chip.css';
@import './components/filter-button.css';
@import './components/flatpickr.css';
@import './components/flyout.css';
@import './components/form.css';
@import './components/glide.css';
@import './components/leaflet.css';
@import './components/link.css';
@import './components/loader.css';
@import './components/masonry.css';
@import './components/modal.css';
@import './components/range-slider.css';
@import './components/scroll-ani.css';
@import './components/search.css';
@import './components/section.css';
@import './components/site.css';
@import './components/sticky-header.css';
@import './components/table.css';
@import './components/tabs.css';
@import './components/tippy.css';
@import './components/toggle.css';
@import './components/video-bg.css';
@import './components/video-toggle.css';

@import 'tailwindcss/utilities';

@import './utilities/accessibility.css';
@import './utilities/embed-container.css';
@import './utilities/hover-underline.css';
@import './utilities/missing.css';
@import './utilities/weight-hover.css';
@config "./tailwind.config.js";
