.skip-to-main {
  
  &:focus,
  &:active {
    color: #fff;
    background-color: black;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow: auto;
    margin: 10px 35%;
    padding: 5px;
    border: 2px solid blue;
    text-align:center;
    font-size: 1.2em;
    z-index: 999;
    clip: unset;
  }
}