.dark-overlay {
  position: relative;
}
.dark-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.dark-overlay > * {
  position: relative;
  z-index: 2;
}
