.embed-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.embed-container:before {
  content: '';
  display: block;
  padding-bottom: 56.25%;
}

.embed-container iframe, object, embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
