<div class="hidden ie-banner">
    <div>
        <h1>{{"We ondersteunen Internet Explorer niet meer."|t}}</h1>
        <p>{{"uitleg"|t}}</p>
        <div class="browsers">
            <ul>
                <li><a href="https://www.microsoft.com/en-us/edge"><img src="/img/ie/edge.png" alt=""/><span>Microsoft Edge</span></a></li>
                <li><a href="https://www.google.com/chrome/"><img src="/img/ie/chrome.png" alt=""/><span>Google Chrome</span></a></li>
                <li><a href="https://www.mozilla.org/en-US/firefox/new/"><img src="/img/ie/firefox.png" alt=""/><span>Firefox</span></a></li>
                <li><a href="https://www.opera.com/download"><img src="/img/ie/opera.png" alt=""/><span>Opera</span></a></li>
            </ul>
        </div>
        <div class="action">
            <button class="btn close-btn js-ie-banner-close notranslate">
                {{ "Toch verder surfen met IE"|t}}
            </button>
        </div>
    </div>
</div>
<div class="hidden ie-banner-overlay"></div>