columnSuffix: pdxowyfv
contentColumnType: text
handle: searchWords
instructions: "Insert keywords here that you want this page to be found for. We recommend using a maximum of 20 keywords as using more will negatively impact the efficiency of this field. \r\n\r\nThis field is optional and only if you want to influence the default search results for this page. "
name: 'Search keywords'
searchable: true
settings:
  byteLimit: null
  charLimit: null
  code: false
  columnType: null
  initialRows: 4
  multiline: false
  placeholder: null
  uiMode: normal
translationKeyFormat: null
translationMethod: none
type: craft\fields\PlainText
