@import 'tailwindcss' source(none);

@import './theme.css' layer(base);
@import './base/icon.css' layer(base);
/* @import './base/fonts.css' layer(base); */
@import './base/base.css' layer(base);
@import './base/print.css' layer(base);

@import './components/button.css' layer(components);
@import './components/cookie.css' layer(components);
/* @import './components/flatpickr.css' layer(components); */
@import './components/form.css' layer(components);
/* @import './components/leaflet.css' layer(components); */
@import './components/link.css' layer(components);
@import './components/loader.css' layer(components);
/* @import './components/masonry.css' layer(components); */
/* @import './components/range-slider.css' layer(components); */
@import './components/search.css' layer(components);
@import './components/section.css' layer(components);
@import './components/site.css';
@import './components/table.css' layer(components);
/* @import './components/tippy.css' layer(components); */
/* @import './components/toaster.css' layer(components); */

@import './utilities/accessibility.css';
@import './utilities/embed-container.css';
@import './utilities/hover-underline.css';
@import './utilities/missing.css';
@import './utilities/weight-hover.css';
@import './utilities/pullout.css';

@source "../../../templates/_site";
@source "../../../vendor/statikbe/craft-cookie-banner/src";
/* @source "../../../docs/src"; */

/*******************
  * Uncomment the components you use in the project!
********************/
/* @source "../../js/components-core/ajaxSearch.component.ts"; */
/* @source "../../js/components-core/autocomplete.component.ts"; */
/* @source "../../js/components-core/chip.component.ts"; */
@source "../../js/components-core/modal.component.ts";
@source "../../js/plugins/modal";
/* @source "../../js/components-core/videoBackground.component.ts"; */
@source "../../js/components-core/videoToggle.component.ts";
/* @source "../../js/plugins/validation/passwordStrength.component.ts"; */

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

@utility inline-icon {
  display: block;
  width: 1em;
  height: 1em;
  content: '';
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  background-color: currentColor;
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 660px;
  --breakpoint-md: 820px;
  --breakpoint-lg: 980px;
  --breakpoint-xl: 1200px;
}
