{% extends "_layout" %}

{% set breadcrumbs = [
    entry,
] %}

{% block content %}

    <div class="section section--default">
        <div class="container px-5 mx-auto">
            {% include '_snippet/_content/_pageTitle' %}
            {% include '_snippet/_content/_intro' %}
        </div>
    </div>
    {% include '_snippet/_content/_contentBuilder'
        with {
        settings : {
            section: 'section',
            container: 'container'
        }
    } %}

    <div class="section section--default">
        <div class="container px-5 mx-auto">
            <div class="grid">
                <div class="grid__12 grid__6@med">
                    <div class="map map--wide">
                        <iframe src="//www.google.com/maps/embed/v1/place?key={{ getenv('GOOGLE_MAPS_KEY') }}&amp;q=Vital+Decosterstraat+67A,+3000+Leuven&amp;zoom=14"
                                frameborder="0" class="map__canvas"></iframe>
                    </div>
                </div>
                {% set form = craft.freeform.form('contactForm_' ~ craft.app.language) %}
                {% if form|length %}
                    <div class="grid__12 grid__6@med">
                        <div class="panel panel--light">
                            {{ craft.freeform.form('contactForm_' ~ craft.app.language, {
                                labelClass: 'form__label',
                                submitClass: "btn"
                            }).render() }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
