{% extends "_layout" %}

{% set breadcrumbs = entry.ancestors().all()|merge([entry]) %}

{% block content %}

    <div class="section section--default">
        <div class="container">
            <div class="w-full md:w-3/4">
                {% include '_snippet/_content/_pageTitle' %}
                {% include '_snippet/_content/_intro' %}
            </div>
        </div>
    </div>

    {% include '_snippet/_content/_contentBuilder'
        with {
        settings : {
            section: 'section',
            container: 'container',
        }
    } %}

{% endblock %}
