{% set baseUrl = craft.app.config.general.aliases.baseUrl %}
{% set currentLocale = craft.app.language|split('-') %}
<!doctype html>
<!--[if IE 9]>
<html class="no-js lt-ie10" lang="{{ currentLocale[0] }}"> <![endif]-->
<!--[if gt IE 9]><!-->
	<html
	class="no-js js-done" lang="{{ currentLocale[0] }}"> <!--<![endif]-->
	<head>
		{% include '_snippet/_global/_header-assets' %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% include '_snippet/_global/_favicon' %}
		{% hook 'seo-fields' %}

		{% block head_scripts %}
			<link rel="preconnect" href="//code.jquery.com">
			<link rel="preconnect" href="//www.googletagmanager.com">
		{% endblock %}
	</head>

	<body class="page-{{ craft.app.request.getSegment(1) ?: 'home' }} {% block bodyClasses %}{% endblock %}">

		<div class="sr-only skip-to-main">
			<a href="#main">{{ 'Ga verder naar de inhoud'|t }}</a>
		</div>

		{# cookiebanner #}
		{% if entry is defined and entry.section.handle != 'cookiePolicy' %}
			{% include '_snippet/_cookie/_banner' %}
		{% endif %}
		{% include '_snippet/_cookie/_modal' %}
		<div class="fixed inset-0 z-10 hidden bg-black opacity-50" id="cookiebanner-overlay"></div>

		<div class="page-wrap">
			<div id="app">
				{% include '_snippet/_global/_header' %}
				{% include '_snippet/_global/_flyout' %}

				<main
					class="page-main" id="main">

					{#{% include '_snippet/_global/_search' %}#}
					{% block breadcrumbs %}
						<div class="py-5 section section--default">
							<div class="container">
								{% include '_snippet/_nav/_breadcrumb' %}
							</div>
						</div>
					{% endblock %}
					{% block content %}{% endblock %}

				</main>
				{% include '_snippet/_global/_footer' %}
			</div>
		</div>
		{% block inline_scripts %}
			<script type="text/javascript">
				window.app = window.app || {};
app.variables = {
assetsPath: "/"
};
			</script>
			{% include '_snippet/_global/_footer-assets' %}
		{% endblock %}
	</body>
</html>
