{% set baseUrl = craft.app.config.general.aliases.baseUrl %}
{% set currentLocale = craft.app.language|split('-') %}
<!doctype html>
<!--[if IE 9]>
<html class="no-js lt-ie10" lang="{{ currentLocale[0] }}"> <![endif]-->
<!--[if gt IE 9]><!-->
	<html
	class="no-js js-done" lang="{{ currentLocale[0] }}"> <!--<![endif]-->
	<head>
		<link rel="stylesheet" type="text/css" href="/css/inert.css" id="inert-style"/>
		{% include '_snippet/_global/_header-assets' %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% include '_snippet/_global/_favicon' %}
		{% hook 'seo-fields' %}

		{% block head_scripts %}
			<link rel="preconnect" href="//www.googletagmanager.com">
			{# <link rel="preconnect" href="//fonts.gstatic.com">  #}
		{% endblock %}
	</head>

	<body class="page-{{ craft.app.request.getSegment(1) ?: 'home' }} {% block bodyClasses %}{% endblock %}">

		{# cookiebanner #}
		{% if not craft.statik.isBot() %}
			{% if entry is defined and entry.section.handle != 'cookiePolicy' %}
				{% include '_snippet/_cookie/_banner' %}
			{% endif %}
			{% include '_snippet/_cookie/_modal' %}
			<div class="fixed inset-0 hidden bg-black opacity-50 z-99" id="cookiebanner-overlay"></div>
		{% endif %}

		<div class="page-wrap" id="mainContentBlock">
			<div class="sr-only skip-to-main">
				<a href="#main">{{ 'Ga verder naar de inhoud'|t }}</a>
			</div>

			{% include '_snippet/_global/_header' %}
			{% include '_snippet/_global/_flyout' %}

			<main
				class="page-main" id="main">

				{#{% include '_snippet/_global/_search' %}#}
				{% block breadcrumbs %}
					<div class="py-5 section section--default">
						<div class="container">
							{% include '_snippet/_nav/_breadcrumb' %}
						</div>
					</div>
				{% endblock %}
				{% block content %}{% endblock %}

			</main>
			{% include '_snippet/_global/_footer' %}
		</div>
		{% block inline_scripts %}
			<script type="text/javascript">
				window.app = window.app || {};
				app.variables = {
					assetsPath: "/"
				};
			</script>
			{% include '_snippet/_global/_footer-assets' %}
		{% endblock %}
	</body>
</html>
