@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  pre,
  img,
  blockquote {
    page-break-inside: avoid;
  }
}
