@layer base {
  body {
    @apply antialiased text-black font-base;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mb-4 font-bold text-balance;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  @screen md {
    h1 {
      @apply text-5xl;
    }

    h2 {
      @apply text-3xl;
    }

    h3 {
      @apply text-2xl;
    }

    h4 {
      @apply text-xl;
    }
  }

  p:not(:first-of-type) {
    @apply my-4;
  }
  p:first-of-type {
    @apply mb-4;
  }
  p:last-of-type {
    @apply mb-0;
  }

  .text-editor ul,
  ul.list-arrow {
    @apply my-4 space-y-1;

    > li {
      @apply relative pl-4;

      @mixin icon-before chevron-right;

      &::before {
        @apply absolute text-primary;
        @apply text-base;
        top: 3px;
        left: -4px;
      }
    }
  }

  ::selection {
    @apply text-white bg-primary-700;
  }

  *:focus {
    @apply outline-none ring ring-primary-800;
  }

  body:not(.user-is-tabbing) *:focus {
    @apply outline-none ring-0;
  }

  .text-editor {
    a {
      @apply underline text-primary;

      &:hover {
        @apply no-underline;
      }
    }

    ol {
      @apply p-0 my-4 ml-4;
      list-style-type: decimal;

      li {
        @apply my-4;
      }
    }
    ol li::marker {
      @apply text-primary;
    }

    blockquote {
      @apply pl-5 border-gray-500 border-l-3;
    }
  }
}

.preload-transitions * {
  transition: none !important;
}

/* .lazyload,
.lazyloading {
  opacity: 0;
}
.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
} */

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
