.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  pointer-events: none;
}

.text-editor ul > li::before,
ul.list-arrow > li::before,
.ajax-search__input-wrapper::after,
.autocomplete [role='option'][aria-selected='true']::after,
.autocomplete__dropdown-icon::before,
.autocomplete__selection .close-btn::before,
.btn--ext::after,
.chip__trigger::after,
.chip__trigger-clear::after,
.chip__modal-close::after,
.chip__modal-clear::before,
.fui-checkbox label::before,
.fui-checkbox input[type='checkbox']:checked + label::before,
.form__custom-checkbox label::before,
.form__custom-checkbox input[type='checkbox']:checked + label::before,
.form__custom-checkbox input[type='checkbox']:indeterminate + label::before,
.fui-radio label::before,
.form__custom-radio label::before,
.fui-radio input[type='radio']:checked + label::before,
.form__custom-radio input[type='radio']:checked + label::before,
.fui-type-dropdown .fui-input-container:not(.form__custom-select--multiple)::after,
.fui-select-container:not(.form__custom-select--multiple)::after,
.form__custom-select:not(.form__custom-select--multiple)::after,
.fui-table-remove-btn::after,
.fui-table-add-btn::before,
.modal__dialog .close-icon::after,
.modal__dialog .next-icon::after,
.modal__dialog .prev-icon::after,
.modal__image-trigger:hover::after,
.video-toggle__close::after {
  display: block;
  width: 1em;
  height: 1em;
  content: '';
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  background-color: currentColor;
}
