@define-mixin icon $name, $size: 1 {
    @supports (mask-image: url()) {
        &::after {
        display: block;
        width: $(size)em;
        height: $(size)em;
        content: '';
        mask-image: url('/tailoff/icons/$(name).svg');
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: 100% 100%;
        background-color: currentColor;
        }
    }
}

@define-mixin icon-before $name, $size: 1 {
    @supports (mask-image: url()) {
        &::before {
        display: block;
        width: $(size)em;
        height: $(size)em;
        content: '';
        mask-image: url('/tailoff/icons/$(name).svg');
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: 100% 100%;
        background-color: currentColor;
        }
    }
}