.flyout {
  @include transitions(transform);
  width: 240px;
  transform: translateX(240px);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  overflow-y: scroll;
  background: $white;
  display: block;
  z-index: $zindex-layer-2;

  .flyout-active & {
    transform: translateX(0);
  }

  @include breakpoint($breakpoint-flyout) {
    display: none;
  }

  &__close,
  &__back {
    display: block;
    box-shadow: none;
    border: none;
    border-radius: 0;
    width: 100%;
  }
}

.flyout__link {
  @include link-variant($black);
  text-decoration: none;

  &:before {
    @extend %ext-icon;
    @extend %ext-icon-menu;
  }

  @include breakpoint($breakpoint-flyout) {
    display: none;
  }
}

.flyout-active {

  .page-wrap {
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
  }

}

.overlay {
  @include transitions(opacity);
  @include absolute-fill();
  z-index: $zindex-layer-1;
  background: $gray-0;
  background: rgba($black, .5);
  display: none;
  opacity: 0;
  height: 100vh;
  cursor: pointer;

  .flyout-active & {
    display: block;
    opacity: 1;
  }
}

.nav--flyout {

  .nav__menu {
    @include listreset;
    width: 100%;
    .nav__item + .nav__item {
      border-top: 1px solid $gray-0;
    }
  }

  .nav__link {
    @include link-variant($color-text);
    display: block;
    padding: $rh-xsm;
    text-decoration: none;
  }

}
