$hero-min-height: 350px;
$hero-text-color: $black;
$hero-text-width: 750px;

%ext-hero-elements {
  position: relative;
  max-width: $hero-text-width;
  z-index: $zindex-layer-1;
}

.hero {
  position: relative;
  background-position: center;
  background-size: cover;
  padding: $rh-med 0;
  color: $hero-text-color;
  min-height: $hero-min-height;

  @include breakpoint(sml) {
    padding: ($rh-xlr * 2) 0;
  };

  &:before {
    @include absolute-fill;
    content: ' ';
    background: rgba($black, .35);
  }

  &__title {
    @extend %ext-hero-elements;
    @include fsRem($font-size-h1 * .65);
    color: $hero-text-color;

    @include breakpoint(xsm) {
      @include fsRem($font-size-h1 * .75);
    }

    @include breakpoint(sml) {
      @include fsRem($font-size-h1 * .9);
    }

    @include breakpoint(med) {
      @include fsRem($font-size-h1);
    }
  }

  &__body {
    @extend %ext-hero-elements;
    @include fsRem($font-size-base);
    color: $hero-text-color;
  }

  &__cta {
    @extend %ext-hero-elements;
    margin-top: $rh-sml;
  }

  // Modifier
  &--light {
    color: $white;
    .hero__title,
    .hero__body {
      color: $white;
    }
  }
}
