.inline {
  display: flex;
  flex-flow: row wrap;
  margin-right: -$rh-xxs;
  margin-left: -$rh-xxs;
  margin-top: -$rh-xxs;

  &__item {
    margin-top: $rh-xxs;
    margin-right: $rh-xxs;
    margin-left: $rh-xxs;
  }

  &--spaced {
    margin-top: -$rh-xsm;
    margin-left: -$rh-xsm;
    margin-right: -$rh-xsm;

    .inline__item {
      margin-top: $rh-xsm;
      margin-right: $rh-xsm;
      margin-left: $rh-xsm;
    }
  }
}
