.map {
  position: relative;

  &:before {
    content: '';
    display: block;
    padding-bottom: 56.25%; // 16:9
  }

  &--square:before {
    padding-bottom: 100%;
  }

  &--wide:before {
    padding-bottom: 80%;
    @include breakpoint(sml) {
      padding-bottom: 30%;
    }
  }
}

.map__canvas {
  @include absolute-fill();
  width: 100%;
  height: 100%;
}
