.meta {
  display: block;
  color: $gray-25;
  line-height: 1.2;

  &__item {
    position: relative;
    display: inline-block;
    padding-right: $rh-sml;

    &:after {
      content: '';
      height: .9em;
      position: relative;
      left: (($rh-sml / 2) + 1);
      top: 0.1em;
      display: inline-block;
      border-left: 1px solid;
    }

    &:last-child {
      padding-right: 0;

      &:after {
        display: none;
      }
    }
  }
}
