%ext-default-nav {
  .nav__menu {
    @include listreset;
  }
  .nav__link {
    text-decoration: none;
  }
}
%ext-horizontal-nav {
  .nav__menu {
    display: flex;
  }
}


.nav {
  &--service {
    @extend %ext-default-nav;
    @extend %ext-horizontal-nav;
    @include fsRem(14px);
    line-height: 1;

    .nav__item {
      padding: 0 $rh-xsm;

      + .nav__item {
        border-left: 1px solid;
      }
    }

    .nav__link {
      @include link-variant($color-text, $color-primary);
    }
  } // end .--service

  &--main {
    @extend %ext-default-nav;
    @extend %ext-horizontal-nav;

    .nav__item {
      margin: 0 $rh-sml;
    }

    .nav__link {
      @include link-variant($color-text, $color-primary);
      display: block;
      padding: $rh-xxs 0;
      background-image: linear-gradient(to right, $color-primary, $color-primary);
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: 0 2px;

      &:hover,
      &:focus,
      &.active {
        background-size: 100% 2px;
      }
    }
  } // end .--main

  &--language {
    @extend %ext-default-nav;
    @extend %ext-horizontal-nav;
    line-height: 1;
    text-transform: uppercase;

    .nav__link {
      @include link-variant($color-text, $color-primary);
      display: block;
      padding: $rh-xxs;

      &.active {
        color: $color-primary;
      }
    }
  } // end .--language

  &--social {
    @include cf;
    @extend %ext-default-nav;
    @extend %ext-horizontal-nav;
    display: inline-block;

    .nav__item {
      padding: 0 $rh-xxs;
    }

    .nav__link {
      @include fsRem(22px);
      @include link-variant($color-primary, darken($color-primary, 10%));
    }


    // Modifiers
    &-share {
      @include cf;

      .nav__link {
        @include link-variant($color-primary, darken($color-primary, 10%));
      }
    }
  } // end .--social

  &--doormat {
    @extend %ext-default-nav;

    .nav__link {
      @include link-variant($color-text);
      display: block;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  } // end .--doormat

  &--footer {
    @include fsRem(16px);
    @extend %ext-default-nav;
    @extend %ext-horizontal-nav;
    line-height: 1;
    display: inline-block;

    .nav__item {
      padding: $rh-xsm;

      @include breakpoint(xsm, max-width) {
        padding-top: 0;
      };

      &:first-of-type {
        padding-left: 0;
      }

      &:last-of-type {
        padding-right: 0;
      }
    }

    .nav__link {
      @include link-variant($color-primary);
      display: block;

      &:hover,
      &:focus,
      &.active {
        text-decoration: underline;
      }
    }
  } // end .--footer

  &--tabs {
    margin-bottom: $rh-sml;
  }
}
