.pagination {
  @include listreset;
  line-height: 1;
  text-align: center;

  a {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
  }

  &__item {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }

  &__prev {
    &:before {
      @extend %ext-icon;
      @extend %ext-icon-arrow-left;
      margin-right: $rh-xxs;
    }
  }

  &__next {
    &:after {
      @extend %ext-icon;
      @extend %ext-icon-arrow-right;
      margin-left: $rh-xxs;
    }
  }

  &__link {
    margin: 0 $rh-xxs;
  }

  &__btn {
    @include button-variant($white, $color-primary);
    line-height: lh($rh-med);
    width: $rh-med;
    text-align: center;
    font-weight: bold;

    &.is-active,
    &.active {
      @include button-variant($color-primary, $white);
    }
  }
}
