.panel {

  display: block;
  padding: $rh-sml;

  .panel__section {
    + .panel__section {
      margin-top: $rh-sml;
    }
  }

  @include breakpoint(lrg) {
    padding: $rh-med;
  }
}

.panel--light {
  background: $gray-0;
}

.panel--primary {
  @extend %ext-context-dark;
  background: $color-primary;
}
