<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Frontend Changelogs</title>
    <link rel="shortcut icon" href="../frontend/img/favicon-changelog.svg" />

    <link rel="stylesheet" href="../frontend/{{manifest.srcfrontendjssitets.css}}" />
    <script src="../frontend/{{manifest.srcfrontendjssitets.file}}" defer></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/atom-one-dark.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/twig.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/javascript.min.js"></script>

    <script>
      hljs.highlightAll();
    </script>
  </head>
  <body>
    <div class="container">
      <div class="flex items-start py-6 mb-4 border-b-1 border-black/10">
        <img src="../frontend/img/logo.svg" alt="" class="max-w-[120px] mr-10 block" />
        <h1 class="">Frontend Changelogs</h1>
      </div>
      {{#versions}}
      <div class="mt-4" id="{{id}}-container">
        <div class="flex items-center">
          <div class="flex items-center justify-between flex-1 cursor-pointer" data-s-toggle-target="{{id}}">
            <h2 class="flex items-center m-0 text-2xl">{{& version}}</h2>
            <div class="">
              <span class="toggle-open js-toggle-collapsed-text">
                <span class="sr-only">Show changelog</span>
              </span>
              <span class="toggle-close js-toggle-expanded-text">
                <span class="sr-only">Hide changelog</span>
              </span>
            </div>
          </div>
        </div>
        <div class="" id="{{id}}" data-s-toggle data-s-toggle-animation="true" data-s-toggle-default-expanded="true">
          <div class="changelog">{{& changelog}}</div>
        </div>
      </div>
      {{/versions}}
    </div>
  </body>
</html>
