.autocomplete [role="listbox"] {
  max-height: 12em;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.autocomplete [role="option"][aria-selected="true"] {
  background-color: #005ea5;
  border-color: #005ea5;
  color: #ffffff;
}
