.btn {
  @apply text-sm font-bold uppercase;
}

.btn--ext::after {
  @apply apply-icon apply-icon--arrow-right;
  @apply ml-1 align-top;
}
.btn--ext:hover::after {
  transform: translateX(50%);
}

.btn--link {
  padding-left: 0;
  padding-right: 0;
}