/* purgecss start ignore */
.link {
  @apply inline-flex underline text-primary;

  &:hover {
    @apply no-underline;
  }

  &--ext {
    @apply items-center;
    @mixin icon chevron-right;

    &::after {
      @apply ml-1;
    }
  }

  &--extended::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
/* purgecss end ignore */
