/* purgecss start ignore */
.modal {
  &__overlay {
    @apply bg-black opacity-75;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9998;
  }

  &__dialog {
    @apply w-full max-w-full bg-white rounded-sm shadow-2xl;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;

    &--image {
      width: auto;
      min-width: 120px;
      min-height: 120px;

      img {
        position: relative;
        z-index: 2;
        max-width: 100%;
        width: 100%;
      }
    }

    &--video {
      width: 100%;
    }
  }

  &__content {
    @apply p-8;
  }

  &__close {
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    z-index: 10;
  }

  &__navigation {
    @apply text-4xl leading-none text-white transition-colors duration-150 rounded-full;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;

    &:hover {
      @apply text-black bg-white;
    }
  }

  &__next-button {
    right: -60px;
  }

  &__prev-button {
    left: -60px;
  }

  &__image-trigger {
    display: block;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      @apply transition-opacity duration-300 ease-in-out opacity-0;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @apply transition-opacity duration-300 ease-in-out opacity-0;
    }

    &:hover {
      @apply text-4xl;
      &::before {
        @apply bg-black opacity-50;
      }

      @mixin icon zoom-in;

      &::after {
        @apply text-white opacity-75;
      }
    }
  }

  &__loader-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__loader,
  &__loader:after {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  &__loader {
    font-size: 10px;
    position: relative;
    border-top: 5px solid rgba(0, 0, 0, 0.1);
    border-right: 5px solid rgba(0, 0, 0, 0.1);
    border-bottom: 5px solid rgba(0, 0, 0, 0.1);
    border-left: 5px solid rgba(0, 0, 0, 0.8);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
  }

  &__video {
    @apply relative aspect-ratio-16/9;

    iframe {
      @apply absolute top-0 left-0 right-0 h-full;
      max-height: calc(100vh - 60px);
    }
  }
}

@screen md {
  .modal {
    &__dialog {
      @apply max-w-modal;
      max-height: calc(100vh - 60px);

      &--image {
        max-width: calc(100vw - 40px);
      }

      &--video {
        max-width: calc(100vw - 160px);
      }
    }
    &__close {
      @apply bg-white rounded-full;
      position: absolute;
      right: -20px;
      top: -20px;
      width: 40px;
      height: 40px;
    }
  }
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* purgecss end ignore */
