/* purgecss start ignore */
.custom-table table {
  @apply block w-full border border-black;

  th {
    @apply px-4 py-2 text-left bg-primary-300;
  }

  tr {
    @apply block border-b-2 border-black;
  }
  tr:last-child {
    @apply border-none;
  }

  td {
    @apply block p-0 break-words border-b border-gray-300 hyphens-auto;

    div {
      @apply px-4 py-2;
    }
  }
  td::before {
    /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
    content: attr(data-label);
    @apply block w-full px-4 py-2 font-bold bg-primary-300;
  }

  thead {
    display: none;
  }
  tbody {
    display: block;
  }
}

@screen sm {
  .custom-table table,
  .custom-table table tbody {
    display: block;
  }

  .custom-table table tr {
    display: table;
    width: 100%;
  }
  .custom-table table td {
    display: table-row;
  }

  .custom-table table td div,
  .custom-table table td::before {
    display: table-cell;
    width: auto;
  }
  .custom-table table td div {
    width: 50%;
  }
}

@screen md {
  .custom-table table {
    display: table;
  }

  .custom-table table td {
    display: table-cell;
  }

  .custom-table table tr {
    @apply border-none;
    display: table-row;
  }

  .custom-table table thead {
    display: table-header-group;
  }

  .custom-table table tbody {
    display: table-row-group;
  }

  .custom-table table th::before,
  .custom-table table td::before {
    display: none;
  }

  .custom-table table tr:last-child td {
    @apply border-none;
  }
}
/* purgecss end ignore */
